<template>
	<div class="ub-input-file"
		:class="[
			`ub-input-file--${size}`,
			{
				'ub-input-file--focus': focus
			}
		]"
		@click="onClick"
	>
		<span class="ub-input-file__label" v-if="!value">
			Selecione um arquivo
		</span>

		<span class="ub-input-file__label" v-else>
			{{ value.name }}
		</span>

		<input class="ub-input-file__input"
			ref="input"
			type="file"
			:value="value"
			@change="onChange"
		>
		<span class="ub-input-file__error">
			<slot name="error"></slot>
		</span>
	</div>
</template>

<script>
export default {
	props: {
		value: {
			type: File,
			default: null
		},
		label: {
			type: String,
			default: ''
		},
		size: {
			type: String,
			default: 'md'
		}
	},

	data: () => ({
		focus: false
	}),

	methods: {
		onClick() {
			this.$refs.input.click()
		},

		onChange(event) {
			let file = event.target.files[0]
			this.$emit('input', file)
		}
	}
}
</script>

<style lang="scss">
.ub-input-file{
	position: relative;
	box-sizing: border-box;
	background: white;
	cursor: pointer;
	&__input{
		display: none;
	}
	&__label{
		text-transform: uppercase;
		outline: none;
		box-sizing: border-box;
		width: 100%;
		border: 0;
		position: relative;
		background: transparent;
		display: block;
		-webkit-appearance: textfield;
	}

	&--sm{
		.ub-input-file{
			&__label{
				font-size: 10px;
				padding: 15px 20px;
			}
		}
	}
	&--md{
		.ub-input-file{
			&__label{
				font-size: 10px;
				padding: 25px 30px;
			}
		}
	}
	&--lg{
		.ub-input-file{
			&__label{
				font-size: 12px;
				padding: 25px 30px;
			}
		}
	}
}
</style>
