<template>
	<div class="ub-input-select" tabindex="0"
		:class="[
			`ub-input-select--${size}`,
			{
				'ub-input-select--invalid': error
			}
		]"
	>
		<input class="ub-input-select__input"
			:value="options[value]"
			:placeholder="label"
			disabled
		/>

		<span class="ub-input-select__arrow icon icon-arrow-down">
		</span>

		<div class="ub-input-select__dropdown">
			<button
				tabindex="-1"
				v-for="(option, key) in options"
				class="ub-input-select__option"
				:class="{ 'is-active': key == value }"
				:key="key"
				@click="onChange(key)"
			>
				{{ option }}
			</button>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		value: {
			type: String|Number,
			default: ''
		},
		label: {
			type: String,
			default: ''
		},
		options: {
			type: Object,
			default: () => {}
		},
		size: {
			type: String,
			default: 'md'
		},
		error: {
			type: Boolean,
			default: false
		}
	},

	methods: {
		onChange(value) {
			this.$emit('input', value)
		}
	}
}
</script>

<style lang="scss">
.ub-input-select{
	position: relative;
	outline: none;
	z-index: 20;
	box-sizing: border-box;
	&__input,
	&__option{
		display: block;
		background: white;
		text-transform: uppercase;
		transition: .2s ease-out;
		cursor: pointer;
		border: 0;
		text-align: left;
	}
	&__input{
		padding-right: 50px !important;
		box-sizing: border-box;
		width: 100%;
		// min-width: 190px;
	}
	&__option{
		width: 100%;
		position: relative;
		&:after{
			content: "";
			height: 1px;
			background: lightgray;
			top: 0%;
			left: 10px;
			right: 10px;
			position: absolute;
			z-index: 1;
		}
		&:hover{
			background: lightgray;
		}
		&.is-active{
			background: black;
			color: white;
			&:after{
				background: transparent;
			}
		}
	}
	&__arrow{
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		color: black;
		font-size: 14px;
		line-height: 70%;
		transition: .2s ease-out;
	}
	&__dropdown{
		position: absolute;
		top: 80%;
		left: 2px;
		right: 2px;
		opacity: 0;
		visibility: hidden;
		transition: .2s ease-out;
		box-sizing: border-box;
		height: 240px;
		overflow-y: auto;
		background: white;
		z-index: 10;
	}

	&--sm{
		.ub-input-select{
			&__input,
			&__option{
				font-size: 10px;
				padding: 15px 20px;
			}
		}
	}
	&--md{
		.ub-input-select{
			&__input,
			&__option{
				font-size: 10px;
				padding: 25px 30px;
			}
		}
	}
	&--lg{
		.ub-input-select{
			&__input,
			&__option{
				font-size: 12px;
				padding: 25px 30px;
			}
		}
	}

	&::before,
	&::after {
		content: '';
		box-sizing: inherit;
		position: absolute;
		border: 2px solid transparent;
		width: 0;
		height: 0;
	}

	&::before {
		top: 0;
		left: 0;
		transition:
			border-color 0s ease-in .4s,
			width .1s ease-in .3s,
			height .1s ease-in .2s;
	}

	&::after {
			bottom: -235px;
			right: 0;
			transition:
				border-color 0s ease-in .2s,
				width .1s ease-in .1s,
				height .1s ease-in;
	}

	&:focus{
		.ub-input-select{
			&__input{
				border-color: black;
				border-bottom-color: transparent;
			}
			&__dropdown{
				top: 100%;
				opacity: 1;
				visibility: visible;
				border-color: black;
				margin-top: -8px;
				border-top-color: transparent;
			}
			&__arrow{
				transform: translateY(-50%) rotate(180deg);
			}
		}

		&::before,
		&::after {
			width: 100%;
			height: 297px;
		}

		&::before {
			border-top-color: $c-dark;
			border-right-color: $c-dark;
			transition:
				width .1s ease-in,
				height .1s ease-in .1s;
		}

		&::after {
			border-bottom-color: $c-dark;
			border-left-color: $c-dark;
			transition:
				border-color 0s ease-in .2s,
				width .1s ease-in .2s,
				height .1s ease-in .3s;
		}
	}

	&--invalid{
		&:focus{
			&::before {
				border-top-color: $c-warn;
				border-right-color: $c-warn;
			}

			&::after {
				border-bottom-color: $c-warn;
				border-left-color: $c-warn;
			}
		}
	}

}
</style>
