<template>
	<div class="ub-input-text"
		:class="[
			`ub-input-text--${size}`,
			{
				'ub-input-text--focus': focus,
				'ub-input-text--invalid': error
			}
		]"
	>
		<input class="ub-input-text__input"
			name=""
			:type="type"
			:placeholder="label"
			v-mask="mask"
			@input="onChange"
			@blur="onBlur"
			@focus="onFocus"
			v-if="mask"
		>
		<input class="ub-input-text__input"
			name=""
			:type="type"
			:placeholder="label"
			@input="onChange"
			@blur="onBlur"
			@focus="onFocus"
			v-else
		>
		<span class="ub-input-text__error">
			<slot name="error"></slot>
		</span>
	</div>
</template>

<script>
export default {
	props: {
		type: {
			type: String,
			default: 'text'
		},
		value: {
			type: String,
			default: ''
		},
		size: {
			type: String,
			default: 'md'
		},
		label: {
			type: String,
			default: ''
		},
		mask: {
			type: Object,
			default: null
		},
		error: {
			type: Boolean,
			default: false
		}
	},

	data: () => ({
		focus: false,
	}),

	methods: {
		onChange(event) {
			this.$emit('input', event.target.value)
		},
		onFocus(event) {
			this.$emit('focus', event)
			this.focus = true
		},
		onBlur(event) {
			this.$emit('blur', event)
			this.focus = false
		}
	}
}
</script>

<style lang="scss">
.ub-input-text{
	position: relative;
	box-sizing: border-box;
	background: white;
	z-index: 10;
	&__input{
		text-transform: uppercase;
		outline: none;
		box-sizing: border-box;
		width: 100%;
		border: 0;
		position: relative;
		background: transparent;
	}

	&::before,
	&::after {
		content: '';
		box-sizing: inherit;
		position: absolute;
		border: 2px solid transparent;
		width: 0;
		height: 0;
	}

	&::before {
		top: 0;
		left: 0;
		transition:
			border-color 0s ease-in .4s,
			width .1s ease-in .3s,
			height .1s ease-in .2s;
	}

	&::after {
			bottom: 0;
			right: 0;
			transition:
				border-color 0s ease-in .2s,
				width .1s ease-in .1s,
				height .1s ease-in;
	}

	&--invalid,
	&--focus{
		&::before,
		&::after {
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		&::before {
			border-top-color: $c-dark;
			border-right-color: $c-dark;
			transition:
				width .1s ease-in,
				height .1s ease-in .1s;
		}

		&::after {
			border-bottom-color: $c-dark;
			border-left-color: $c-dark;
			transition:
				border-color 0s ease-in .2s,
				width .1s ease-in .2s,
				height .1s ease-in .3s;
		}
	}

	&--invalid{
		&::before {
			border-top-color: $c-warn;
			border-right-color: $c-warn;
		}

		&::after {
			border-bottom-color: $c-warn;
			border-left-color: $c-warn;
		}
	}

	&--sm{
		.ub-input-text{
			&__input{
				font-size: 10px;
				padding: 15px 20px;
			}
		}
	}
	&--md{
		.ub-input-text{
			&__input{
				font-size: 10px;
				padding: 25px 30px;
			}
		}
	}
	&--lg{
		.ub-input-text{
			&__input{
				font-size: 12px;
				padding: 25px 30px;
			}
		}
	}
}
</style>
