<template>
	<button class="ub-button"
		:class="[
			`ub-button--${size}`,
			{
				'ub-button--raised': raised,
				'ub-button--dark': dark,
				'ub-button--borderless': borderless
			}
		]"
		@click="onClick"
	>
		<slot></slot>
	</button>
</template>

<script>
export default {
	props: {
		size: {
			type: String,
			default: 'md'
		},
		raised: {
			type: Boolean,
			default: false
		},
		dark: {
			type: Boolean,
			default: false
		},
		borderless: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		onClick(event) {
			this.$emit('click', event)
		}
	}
}
</script>

<style lang="scss">
.ub-button{
	background: transparent;
	border: 2px solid $c-black;
	color: $c-black;
	cursor: pointer;
	transition: .2s ease-out;
	text-transform: uppercase;
	outline: none;

	&:hover{
		&:not(.ub-button--raised){
			background: $c-black;
			color: white;
		}
	}

	&--raised{
		color: white;
		background: $c-black;
		border-color: transparent;
		&:hover{
			box-shadow: 5px 5px 10px rgba(black, 0.1);
		}
	}
	&--dark{
		color: white;
		border-color: white;
		&.ub-button--raised{
			color: $c-black;
			background: white;
			border-color: transparent;
		}
		&:hover{
			&:not(.ub-button--raised){
				background: white;
				color: $c-black;
			}
		}
	}
	&--borderless{
		border-color: transparent !important;
	}
	&--xs{
		font-size: 9px;
		padding: 10px 20px;
		font-weight: 700;
	}
	&--sm{
		font-size: 9px;
		padding: 15px 30px;
		font-weight: 700;
	}
	&--md{
		font-size: 11px;
		padding: 19px 40px;
	}
	&--lg{
		font-size: 11px;
		padding: 25px 50px;
	}
}
</style>
