<template>
	<button class="ub-button-icon"
		:class="[
			`ub-button-icon--${size}`,
			{
				'ub-button-icon--rounded': rounded,
				'ub-button-icon--raised': raised,
				'ub-button-icon--dark': dark,
				'ub-button-icon--borderless': borderless
			}
		]"
		@click="onClick"
	>
		<span class="ub-button-icon__icon icon"
			:class="[name]"
		>
		</span>

		<div class="ub-button-icon__text">
			<slot></slot>
		</div>
	</button>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			default: ''
		},
		size: {
			type: String,
			default: 'md'
		},
		rounded: {
			type: Boolean,
			default: true
		},
		raised: {
			type: Boolean,
			default: false
		},
		dark: {
			type: Boolean,
			default: false
		},
		borderless: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		onClick(event) {
			this.$emit('click', event)
		}
	}
}
</script>

<style lang="scss">
.ub-button-icon{
	line-height: 70%;
	background: transparent;
	border: 1.5px solid rgba($c-dark, .8);
	color: $c-dark;
	cursor: pointer;
	transition: .2s ease-out;
	padding: 0;
	outline: none;
	position: relative;
	&__icon{
	
	}
	&__text{
		position: absolute;
		top: 100%;
		left: 50%;
		width: 300px;
		transform: translate(-50%, 5px);
		text-transform: uppercase;
		font-size: 9px;
		font-weight: 700;
		letter-spacing: .3px;
		color: $c-dark;
	}

	&:hover{
		&:not(.ub-button-icon--raised){
			background: $c-dark;
			color: white;
		}
	}

	&--rounded{
		border-radius: 200px;
	}
	&--raised{
		color: white;
		background: $c-dark;
		border-color: transparent;
		&:hover{
			box-shadow: 0 7px 7px rgba(black, 0.3);
		}
	}
	&--borderless{
		border-color: transparent !important;
	}
	&--dark{
		color: white;
		border-color: white;
		&.ub-button-icon--raised{
			color: $c-dark;
			background: white;
			border-color: transparent;
		}
		&:hover{
			&:not(.ub-button-icon--raised){
				background: white;
				color: $c-dark;
			}
		}
		.ub-button-icon{
			&__text{
				color: white;
			}
		}
	}
	&--xs{
		width: 28px;
		height: 28px;
		font-size: 12px;
	}
	&--sm{
		width: 36px;
		height: 36px;
		font-size: 18px;
	}
	&--md{
		width: 48px;
		height: 48px;
		font-size: 20px;
	}
	&--lg{
		width: 64px;
		height: 64px;
		font-size: 28px;
	}
	&--xl{
		width: 103px;
		height: 103px;
		font-size: 32px;
	}
}
</style>
