<template>
	<button class="ub-button-hamburger"
		:class="{
			'ub-button-hamburger--active': value
		}"
		@click="onClick"
	>
		<span></span>
		<span></span>
		<span></span>
	</button>
</template>

<script>
export default {
	props: {
		value: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		toggle() {
			this.$emit('input', !this.value)
		},
		onClick() {
			this.toggle()
		}
	}
}
</script>

<style lang="scss">
.ub-button-hamburger{
	height: 24px;
	width: 24px;
	position: relative;
	background: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
	outline: none;
	span{
		width: 100%;
		height: 2px;
		background: black;
		position: absolute;
		left: 0;
		transition: .4s $t-primary;
		&:nth-child(1){
			top: 2px;
		}
		&:nth-child(2){
			top: 50%;
			margin-top: -1px;
		}
		&:nth-child(3){
			bottom: 2px;
		}
	}

	&--active{
		span{
			&:nth-child(1){
				top: 50%;
				margin-top: -1px;
				transform: rotate(135deg);
			}
			&:nth-child(2){
				transform: rotate(135deg);
			}
			&:nth-child(3){
				top: 50%;
				margin-top: -1px;
				transform: rotate(45deg)
			}
		}
	}
}
</style>
