<template>
	<div class="ub-card-property"
		:class="[ `ub-card-property--${size}` ]"
		@click="onClick"
	>
		<div class="ub-card-property__background"
			:style="{ 'background-image': `url(${background})` }"
		>
		</div>

		<div class="ub-card-property__container">
			<div class="ub-card-property__wrapper">
				<div class="ub-card-property__subhead ub-subhead">
					{{ size == 'md' ? title : subhead }}
				</div>

				<div class="ub-card-property__title ub-title ub-title--serif" :class="{ 'ub-title--sm': size == 'lg' }">
					{{ size == 'md' ? subhead : title }}
				</div>
			</div>

			<ub-button :dark="true" size="sm" v-if="size == 'md'">
				{{ $t('components.card.property.more') }}
			</ub-button>

			<ub-button-icon v-else-if="size == 'lg'" name="icon-arrow-right">
			</ub-button-icon>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: ''
		},
		subhead: {
			type: String,
			default: ''
		},
		background: {
			type: String,
			default: ''
		},
		size: {
			type: String,
			default: 'md'
		}
	},

	data: () => ({
		//
	}),

	methods: {
		onClick(event) {
			this.$emit('click', event)
		}
	}
}
</script>

<style lang="scss">
.ub-card-property{
	width: 510px;
	min-height: 300px;
	background: $c-white;
	position: relative;
	display: flex;
	cursor: pointer;
	overflow: hidden;

	&__background{
		background-size: cover;
		background-position: center bottom;
		background-attachment: fixed;
		background-repeat: no-repeat;
		transition: transform 1.5s $t-primary;
	}

	&:hover{
		.ub-card-property{
			&__background{
				transform: scale(1.05);
			}
		}
	}

	&--md{
		align-items: flex-end;
		justify-content: flex-start;
		.ub-card-property{
			&__title{
				margin-bottom: 50px;
			}
			&__container{
				max-width: 510px;
				box-sizing: border-box;
				padding: 80px;
				position: relative;
				color: white;
			}
			&__background{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				&:before{
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: radial-gradient(
						circle at -10% 110%,
						rgba(black, 1) 5%,
						rgba(black, .7) 30%,
						rgba(black, 0) 100%
					);
				}
			}
		}
	}

	&--lg{
		flex-flow: column;
		.ub-card-property{
			&__background{
				flex: 1;
			}
			&__subhead{
				opacity: .3;
			}
			&__container{
				background: white;
				padding: 50px 60px;
				width: 100%;
				box-sizing: border-box;
				display: flex;
				flex-flow: row;
				position: relative;
			}
			&__wrapper{
				display: flex;
				flex-direction: column-reverse;
				flex: 1;
				alin-items: center;
			}
		}
	}

	@include grid-media($smartphone-grid) {
		width: 100%;
		flex-shrink: 0;
		.ub-card-property{
			&__background{
				background-attachment: local;
			}
		}
		&--md{
			.ub-card-property{
				&__container{
					padding: 30px;
				}
				&__title{
					margin-bottom: 30px;
				}
			}
		}

		&--lg{
			.ub-card-property{
				&__container{
					padding: 24px;
				}
			}
			.ub-button-icon{
				display: none;
			}
		}
	}
}
</style>
