<template>
	<div class="ub-card-architect">
		<div class="ub-card-architect__avatar" :style="{ 'background-image': `url(${avatar})` }">

		</div>
		<span class="ub-card-architect__name">
			{{ name }}
		</span>
	</div>
</template>

<script>
export default {
	props: {
		avatar: {
			type: String,
			default: ''
		},
		name: {
			type: String,
			default: ''
		}
	}
}
</script>

<style lang="scss">
.ub-card-architect{
	&__avatar{
		background-size: cover;
		background-position: center;
		position: relative;
		cursor: pointer;
		&:before{
			content: "";
			display: block;
			padding-top: 100%;
		}
		&:after{
			content: "";
			position: absolute;
			top: -1px;
			left: -1px;
			bottom: -1px;
			right: -1px;
			border: 1px solid $c-pale-grey;
			transition: .3s $t-primary;
			background: rgba(black, 0.6);
		}
	}
	&__name{
		display: block;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		font-family: Playfair Display;
		padding: 20px 0;
		opacity: .6;
		transition: .3s $t-primary;
	}
	&:hover{
		.ub-card-architect{
			&__avatar{
				&:after{
					top: 8px;
					right: 8px;
					bottom: 8px;
					left: 8px;
					background: rgba(black, 0);
				}
			}
			&__name{
				opacity: 1;
			}
		}
	}
}
</style>
