<template>
	<div class="ub-card-dream"
		:class="{
			'ub-card-dream--dark': dark,
			'is-active': active
		}"
	>
		<div class="ub-card-dream__body">
			<div class="ub-card-dream__thumbnail" :style="{ 'background-image': `url(${thumbnail})` }" @click="openGallery">
				<span class="icon icon-picture">
					Galeria
				</span>
			</div>

			<span class="ub-card-dream__subtitle ub-subhead ub-subhead--sm">
				{{ subtitle }}
			</span>

			<span class="ub-card-dream__title ub-title ub-title--serif ub-title--sm">
				{{ title }}
				<span class="ub-card-dream__caption">
					{{ caption }}
				</span>
			</span>

			<nav class="ub-card-dream-nav">
				<span class="ub-card-dream-nav__item">
					<span class="ub-card-dream-nav__icon icon icon-decoration">
						<svg class="ub-card-dream-nav__circle" width="42" height="42" viewBox="0 0 42 42">
							<circle cx="21" cy="21" r="18" fill="none" stroke="#3146ff" stroke-width="5"
								stroke-dasharray="113.076"
								:stroke-dashoffset="113.076 * (1 - (percents.decoration / 100))"
							/>
						</svg>
					</span>
					<span class="ub-card-dream-nav__title">
						{{ $t('components.card.dream.decoration') }}
					</span>
				</span>

				<span class="ub-card-dream-nav__item">
					<span class="ub-card-dream-nav__icon icon icon-contrast">
						<svg class="ub-card-dream-nav__circle" width="42" height="42" viewBox="0 0 42 42">
							<circle cx="21" cy="21" r="18" fill="none" stroke="#3fd17e" stroke-width="5"
								stroke-dasharray="113.076"
								:stroke-dashoffset="113.076 * (1 - (percents.shading / 100))"
							/>
						</svg>
					</span>
					<span class="ub-card-dream-nav__title">
						{{ $t('components.card.dream.shade') }}
					</span>
				</span>
			</nav>

			<nav class="ub-card-dream__spec">
				<span>{{ rooms }} {{ $t('components.card.dream.rooms') }}</span>
				<span>{{ suites }} {{ $t('components.card.dream.suites') }}</span>
				<span>{{ area }}m2</span>
			</nav>
		</div>

		<div class="ub-card-dream__footer">
			<ub-button class="ub-card-dream__more" :dark="true" :raised="true" @click="onClick" size="sm">
				Saiba mais
			</ub-button>
		</div>
	</div>
</template>

<script>
export default {
	data: () => ({
	}),
	props: {
		title: {
			type: String,
			default: ''
		},
		subtitle: {
			type: String,
			default: ''
		},
		thumbnail: {
			type: String,
			default: ''
		},
		dark: {
			type: Boolean,
			default: false
		},
		architect: {
			type: Object,
			default: ''
		},
		rooms: {
			type: String|Number,
			default: 0
		},
		suites: {
			type: String|Number,
			default: 0
		},
		area: {
			type: String|Number,
			default: 0
		},
		caption: {
			type: String,
			default: 'Lorem ipsum sit amet'
		},
		gallery: {
			type: Array,
			default: () => []
		},
		active: {
			type: Boolean,
			default: false
		},
		percents: {
			type: Object,
			default: () => ({
				decoration: 0,
				shading: 0,
				furniture: 0
			})
		}
	},
	methods: {
		onClick(event) {
			this.$emit('click', event)
		},

		openGallery() {
			this.$store.commit('openGallery', {
				title: this.title,
				subhead: this.subhead,
				images: this.gallery
			})
		}
	}
}
</script>

<style lang="scss">
.ub-card-dream{
	color: $c-dark;
	position: relative;
	z-index: 10;
	text-align: center;
	box-sizing: border-box;
	padding: 32px 40px;
	&:before{
		content: "";
		position: absolute;
		top: 22%;
		bottom: 0;
		left: 0;
		right: 0;
		background: #1F1F1F;
		z-index: -1;
	}
	&__thumbnail{
		margin-bottom: 15px;
		background-color: rgba(white, .2);
		background-size: cover;
		background-position: center;
		box-sizing: border-box;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding: 20px;
		border-radius: 4px;
		position: relative;
		cursor: pointer;
		margin-left: -20px;
		margin-right: -20px;
		&:after{
			content: "";
			display: block;
			padding-top: 60%;
			transition: .3s $t-primary;
		}
		&:before{
			content: "";
			background: rgba(black, .3);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 4px;
			opacity: 0;
			transition: .3s $t-primary;
		}
		&:hover{
			&:before,
			.icon{
				opacity: 1;
			}
		}
		.icon{
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 11px;
			font-weight: 500;
			text-transform: uppercase;
			transform: translate(-50%, -50%);
			transition: .3s $t-primary;
			opacity: 0;
			&:before{
				display: block;
				margin-bottom: 8px;
				font-size: 18px;
			}
		}
	}
	&__subtitle{
		opacity: .4;
		line-height: 19px !important;
	}
	&__title{
		display: block;
		margin-bottom: 40px;
		position: relative;
	}
	&__caption{
		color: white;
		font-size: 9px;
		font-style: italic;
		text-transform: lowercase;
		position: absolute;
		opacity: 0;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		transition: .3s $t-primary;
	}
	&__body{
	}
	&__spec{
		display: flex;
		height: 0;
		overflow: hidden;
		align-items: center;
		margin-left: -20px;
		margin-right: -20px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		justify-content: center;
		transition: .3s $t-primary;
		box-sizing: border-box;
		span{
			padding: 0px 20px;
			border-right: 1px solid white;
			font-size: 14px;
			line-height: 100%;
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
				border-right: 0;
			}
		}
	}
	&__footer{
		margin-top: 30px;
	}
	&--dark{
		color: white;
	}
	.ub-button{
		width: 100%;
	}

	&.is-active{
		.ub-card-dream{
			&__spec{
				// display: flex;
				height: 56px;
				border-color: rgba(white, 0.1);
			}
			&__thumbnail{
				&:after{
					padding-top: 35%;
				}
				&:before{
					opacity: 1;
				}
				.icon{
					opacity: 1;
				}
			}
			&__more{
				background: transparent;
				border: 2px solid white;
				color: white;
			}
			&__caption{
				opacity: 1;
			}
		}
	}
}

.ub-card-dream-nav{
	display: flex;
	align-items: center;
	margin-bottom: 32px;
	&__item{
		flex: 1;
		text-align: center;
		&:first-child{
			border-right: 1px solid rgba(white, .1);
		}
	}
	&__circle{
		transform: rotate(-90deg);
		position: absolute;
		circle {
			// animation: circle 1s linear alternate infinite;
		}
	}
	@keyframes circle {
		from {
			stroke-dashoffset: 0;
		}
		to {
			stroke-dashoffset: 100;
		}
	}
	&__icon{
		width: 32px;
		height: 32px;
		border: 5px solid transparent;
		border-radius: 32px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		margin-right: 10px;
		background: rgba(white, .1);
	}
	&__title{
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		display: block;
		margin-top: 10px;
		font-weight: 700;
	}

	@include grid-media($smartphone-grid) {
	}
}

.ub-card-dream-architect{
	display: flex;
	align-items: center;
	&__avatar{
		width: 40px;
		height: 40px;
		display: inline-block;
		border-radius: 40px;
		margin-right: 15px;
		background-color: rgba(white, .2);
		background-position: center;
		background-size: cover;
	}
	&__container{
		flex: 1;
	}
	&__subhead{
		opacity: .3;
	}
	&__name{
		display: block;
		font-size: 14px;
	}
}
</style>
