<template>
	<div class="ub-card-urban">
		<div class="ub-card-urban__container">
			<img class="ub-card-urban__brand" :src="brand">

			<div class="ub-card-urban__wrapper">
				<p class="ub-card-urban__title" v-html="$t('components.card.urban.title')">
				</p>

				<p class="ub-card-urban__body">
					{{ $t('components.card.urban.body') }}
				</p>
			</div>

			<button class="ub-card-urban__button" @click="onClick">
				{{ $t('components.card.urban.more') }} <span class="icon icon-arrow"></span>
			</button>
		</div>
	</div>
</template>

<script>
export default {
	data: () => ({
		brand: require('@/assets/images/urban-brand.svg')
	}),
	methods: {
		onClick(event) {
			this.$emit('click', event)
		}
	}
}
</script>

<style lang="scss">
.ub-card-urban{
	width: 650px;
	min-height: 300px;
	background: linear-gradient(to bottom, #eaedf5 0%, #f8f9fb 100%);
	overflow: hidden;
	display: flex;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(~@/assets/images/urban-woman.png);
		background-position: 100% bottom;
		background-repeat: no-repeat;
		transform: scale(1.1);
		transform-origin: 100% 100%;
	}
	&__container{
		width: 310px;
		margin-left: 80px;
		display: flex;
		flex-flow: column;
		justify-content: space-evenly;
		position: relative;
	}
	&__brand{
		width: 170px;
		height: auto;
	}
	&__title{
		line-height: 44px;
		font-size: 34px;
		font-weight: 700;
		margin-bottom: 30px;
		span{
			display: block;
			&:first-child{
				color: $c-loblolly;
			}
			&:last-child{
				color: $c-black;
			}
		}
	}
	&__body{
		font-size: 14px;
		line-height: 26px;
		opacity: .8;
	}
	&__button{
		color: $c-bunker;
		width: 150px;
		padding: 8px 0;
		font-size: 13px;
		font-weight: 700;
		font-family: 'Open Sans';
		border: 0;
		border-bottom: 2px solid $c-bunker;
		background: transparent;
		display: flex;
		cursor: pointer;
		outline: none;
		.icon{
			line-height: 70%;
			font-size: 20px;
			margin-left: 10px;
		}
	}

	@include grid-media($smartphone-grid) {
		&:before{
			content: none;
		}
		.ub-card-urban{
			&__brand{
				display: none;
			}
			&__container{
				width: 80%;
				margin-left: 30px;
			}
			&__title{
				font-size: 24px;
				line-height: 28px;
			}
		}
	}

	@include grid-media($thirteen-desktop-grid) {
		&:before{
			background-position: 100% center;
		}
	}
}
</style>
