<template>
	<div class="ub-card"
		:class="{
			'ub-card--raised': raised,
			'ub-card--selected': selected
		}"
		@click="onClick"
	>
		<div class="ub-card__thumbnail"
			:style="{ 'background-image': `url(${thumbnail ? thumbnail : require('@/assets/images/no-image.png')})` }"
		>
			<slot name="thumbnail"></slot>

			<span class="icon icon-success"></span>

			<div class="ub-card__nav">
				<slot name="navigation"></slot>
			</div>
		</div>

		<div class="ub-card__body">
			<slot name="body"></slot>

			<span class="ub-card__title ub-title ub-title--sm" v-if="title != ''">
				{{ title }}
			</span>
			<span class="ub-card__text ub-body ub-body--sm" v-if="text != ''">
				{{ text }}
			</span>

			<footer class="ub-card__footer">
				<slot name="footer"></slot>
			</footer>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: ''
		},
		text: {
			type: String,
			default: ''
		},
		thumbnail: {
			type: String,
			default: ''
		},
		raised: {
			type: Boolean,
			default: false
		},
		selected: {
			type: Boolean,
			default: false
		}
	},

	methods: {
		onClick(event) {
			this.$emit('click', event)
		}
	}
}
</script>

<style lang="scss">
.ub-card{
	cursor: pointer;
	transition: box-shadow .2s $t-primary !important;
	background: white;
	color: $c-dark;
	box-shadow: 5px 5px 15px rgba(black, 0.1);
	display: flex;
	flex-flow: column;
	&__thumbnail{
		height: 290px;
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: flex-end;
		position: relative;
		overflow: hidden;
	}
	&__nav{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 20px;
		.ub-button-icon{
			margin-left: 10px;
		}
	}
	&__body{
		padding: 35px 40px;
		transition: .3s $t-primary;
		flex: 1;
	}
	&__title{
		display: block;
		margin-bottom: 20px;
	}
	&:not(.ub-card--raised){
		border: 1px solid rgba(15, 15, 20, 0.1);
		box-sizing: border-box;
		box-shadow: 0 0 0 rgba(black, 0);
		&:hover{
			box-shadow: 5px 5px 14px rgba(black, 0.1);
		}
	}

	.icon{
		position: absolute;
		top: 50%;
		right: 50%;
		width: 500px;
		height: 500px;
		background: $c-green;
		color: white;
		animation-duration: .3s;
		animation-fill-mode: forwards;
		transition: .3s $t-primary;
		z-index: 2;
		font-size: 64px;
		opacity: 0;
		transform: translate(50%, -50%) scale(2);
		border: 1px solid $c-green;
		animation-name: disable;
		box-shadow: 2px 2px 10px 2px rgba(0,0,0,.3);
		&:before{
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
		}
	}

	&--selected{
		.icon{
			animation-duration: 1s;
			animation-name: active;
		}
	}
	&--raised{
		border: 0;
		&:hover{
			box-shadow: 10px 10px 17px rgba(black, 0.1);
		}
	}

	@keyframes active {
		0% {
			opacity: 0;
		}
		10% {
			opacity: 1;
		}
		40% {
			top: 50%;
			right: 50%;
			opacity: 1;
			width: 500px;
			height: 500px;
			transform: translate(50%, -50%) scale(1.0);
			font-size: 64px;
		}
		60% {
			width: 60px;
			height: 60px;
			border-radius: 500px;
			font-size: 24px;
		}
		80%{
			top: 40px;
			right: 40px; 
		}
		100% {
			width: 60px;
			height: 60px;
			border-radius: 500px;
			top: 40px;
			right: 40px; 
			opacity: 1;
			transform: translate(50%, -50%) scale(1.0);
			font-size: 24px;
		}
	}

	@keyframes disable {
		0% {
			width: 60px;
			height: 60px;
			border-radius: 500px;
			top: 40px;
			right: 40px; 
			opacity: 1;
			transform: translate(50%, -50%) scale(1.0);
			font-size: 24px;
		}
		100% {
			width: 60px;
			height: 60px;
			border-radius: 500px;
			top: 40px;
			right: 40px; 
			transform: translate(50%, -50%) scale(1.2);
			font-size: 24px;
			opacity: 0;
		}
	}
}
</style>
