<template>
	<div class="ub-card-media"
		:style="{ 'background-image': `url(${thumbnail ? thumbnail : require('@/assets/images/no-image.png')})` }"
		:class="[
			`ub-card-media--${size}`
		]"
		@click="onClick"
	>
		<div class="ub-card-media__container">
			<div class="ub-card-media__body">
				<span class="ub-card-media__title ub-title" v-if="title != ''" :class="{ 'ub-title--sm': size == 'md' }">
					{{ title }}
				</span>
				<span class="ub-card-media__text ub-body ub-body--sm" v-if="text != '' && size == 'lg'">
					{{ text }}
				</span>
			</div>

			<nav class="ub-card-media-nav">
				<span class="ub-card-media-nav__icon icon icon-share" v-if="shares > 0">
					<small>{{ shares }}</small>
				</span>
				<span class="ub-card-media-nav__icon icon icon-eye-o">
					<small>{{ views }}</small>
				</span>
				<span class="ub-card-media-nav__icon icon icon-chat-3" v-if="comments > 0">
					<small>{{ comments }}</small>
				</span>
			</nav>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: ''
		},
		text: {
			type: String,
			default: ''
		},
		thumbnail: {
			type: String,
			default: ''
		},
		size: {
			type: String,
			default: 'md'
		},
		shares: {
			type: Number,
			default: 0
		},
		views: {
			type: Number,
			default: 0
		},
		comments: {
			type: Number,
			default: 0
		}
	},

	methods: {
		onClick(event) {
			this.$emit('click', event)
		}
	}
}
</script>

<style lang="scss">
.ub-card-media{
	background-size: cover;
	background-position: center;
	color: white;
	position: relative;
	display: flex;
	align-items: flex-end;
	box-sizing: border-box;
	cursor: pointer;
	transition: .2s ease-out;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, 1) 100%);
	}
	&__title{
		display: block;
		margin-bottom: 20px;
	}
	&__text{
		display: block;
		margin-bottom: 50px;
		opacity: .8;
	}
	&__container{
		width: 100%;
		max-width: 550px;
		position: relative;
	}

	&--md{
		height: 224px;
		padding: 32px;
		.ub-card-media{
			&__title{
				line-height: 25px;
				font-size: 20px;
				margin-bottom: 30px;
			}
		}
	}
	&--lg{
		height: 492px;
		padding: 48px;
	}
	&:hover{
		box-shadow: 5px 5px 15px rgba(black, 0.1);
	}

	@include grid-media($smartphone-grid) {
		height: auto !important;
		min-height: 240px;
		padding: 30px;
		.ub-card-media{
			&__text{
				display: none;
			}
			&__title{
				font-size: 20px;
				line-height: 25px;
			}
		}
	}
}

.ub-card-media-nav{
	display: flex;
	&__icon{
		width: 60px;
		margin-right: 30px;
		position: relative;
		line-height: 70%;
		font-size: 20px;
		small{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(30px, -50%);
			font-size: 13px;
		}
	}
}
</style>
