<template>
	<div class="ub-card-designer">
		<div class="ub-card-designer__thumbnail" :style="{ backgroundImage: `url(${thumbnail})` }">
		</div>

		<span class="ub-card-designer__subhead ub-subhead">
			{{ subhead }}
		</span>

		<span class="ub-card-designer__title ub-title ub-title--serif ub-title--sm">
			{{ title }}
		</span>

		<p class="ub-card-designer__content">
			{{ content }}
		</p>

		<ub-nav-social
			@facebook="onSocialClick(facebook)"
			@twitter="onSocialClick(twitter)"
			@instagram="onSocialClick(instagram)"
		>
		</ub-nav-social>
	</div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: ''
		},
		subhead: {
			type: String,
			default: ''
		},
		thumbnail: {
			type: String,
			default: ''
		},
		content: {
			type: String,
			default: ''
		},
		facebook: {
			type: String,
			default: ''
		},
		twitter: {
			type: String,
			default: ''
		},
		instagram: {
			type: String,
			default: ''
		},
	},
	methods: {
		onSocialClick(link) {
			window.open(link, '__blank')
		}
	}
}
</script>

<style lang="scss">
.ub-card-designer{
	margin-bottom: 30px;
	&__thumbnail{
		position: relative;
		background-size: cover;
		background-position: center;
		width: 65%;
		&:after{
			content: "";
			display: block;
			padding-top: 100%;
		}
		&:before{
			content: "";
			position: absolute;
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
			border: 1px solid rgba(white, 0.7);
		}
	}
	&__subhead{
		opacity: .6;
		margin-top: 20px;
		display: block;
	}
	&__title{
		margin-bottom: 20px;
		display: block;
	}
	&__content{
		font-size: 13px;
		line-height: 200%;
	}
	.ub-nav-social{
		margin-top: 30px;
	}
}
</style>
