<template>
  <div class="hnsn-app__view-acesso">
    <div class="center-content">
      <h2 class="section-title">Acesso Médico</h2>

      <a class="hnsn-app__view-acesso-link" href="" title="">
        <i class="cicon icon-user"></i>
        <span class="label">Envie seu perfil e foto para nossa equipe de marketing</span>
      </a>

			<router-link class="hnsn-app__view-acesso-link" :to="{ name: 'acesso-form' }">
        <i class="cicon icon-form"></i>
        <span class="label">Formulário médico</span>
      </router-link>

      <a class="hnsn-app__view-acesso-link" href="https://pacs.hnsn.com.br/portalexames/client/" title="">
        <i class="cicon icon-exams"></i>
        <span class="label">Portal de exames</span>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  
}
</script>

<style lang="scss">

</style>
