<template>
  <div class="hnsn-app__view-convenios">
    <div class="header-title">
      <div class="center-content">
        <h2 class="section-title">Confira nossos convênios</h2>
        <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut accumsan orci. Maecenas non aliquam quam. Sed ipsum sapien, maximus.</p>
      </div>
    </div>
    <div class="center-content">
      <div class="list-content">
        <div class="form-row">
            <div class="form-group form-group-1">
              <label class="form-label">Escolher o estado</label>
              <br />
              <div class="custom-select">
                <select
                  name="estado"
                  class="form-input"
                  placeholder="Selecione"
                  @change="onStateChange($event)"

                  v-validate="'required'"
                >
                  <option selected value disabled hidden>Selecione</option>
                  <option v-for="state in states" :key="state.state" :value="state.state">{{state.state}}</option>
                  <!-- <option value="1">Campina Grande</option>
                  <option value="2">Santa Rita</option> -->
                </select>
              </div>
            </div>
            <div class="form-group form-group-2">
              <label class="form-label">Selecione o convênio</label>
              <br />
              <div class="custom-select">
                <select
                  name="convenio"
                  class="form-input"
                  @change="onConvenioChange($event)"
                  placeholder="Selecione"
                  v-validate="'required'"
                >
                  <option selected value disabled hidden>Selecione</option>
                  <option v-for="convenio in convenios" :key="convenio.id" :value="convenio.id">{{convenio.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group form-group-1">
              <label class="form-label">Selecione a categoria</label>
              <br />
              <div class="custom-select">
                <select
                  name="categoria"
                  class="form-input"
                  @change="onCatChange($event)"
                  placeholder="Selecione"
                  v-validate="'required'"
                >
                  <option selected value disabled hidden>Selecione</option>
                  <option v-for="cat in categorias" :key="cat.id" :value="cat.id">{{cat.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group form-group-1">
              <label class="form-label">Escolha o plano</label>
              <br />
              <div class="custom-select">
                <select
                  name="plano"
                  class="form-input"
                  @change="onPlanChange($event)"
                  placeholder="Selecione"
                  v-validate="'required'"
                >
                  <option selected value disabled hidden>Selecione</option>
                  <option v-for="plan in planos" :key="plan.id" :value="plan.id">{{plan.name}}</option>
                </select>
              </div>
            </div>
        </div>
        <table v-if="list.length>0" class="table">
          <thead>
            <tr>
              <th v-for="(headItems, index) in list[0]" :key="'convHead'+index">{{headItems}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(items, index) in list[1]" :key="'convBody'+index">
              <td v-for="(item, indexItem) in items" :key="'convItems'+indexItem">{{item}}</td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="search-bar-form" method action>
          <input type="text" name="noticia" placeholder="Buscar por notícias" @keyup="onSearch" />
          <button>Buscar</button>
        </div> -->
      </div>
    </div>
    <div class="center-content">
      <div class="alert-content">
        <p>​Alguns exames e procedimentos estão sujeitos a aprovação prévia por sua operadora de saúde. Outros podem não ter cobertura parcial ou total, para sua categoria de plano. Em caso de dúvida sobre a cobertura do plano, consulte sua operadora ou acione nossa Central de Atendimento.</p>
      </div>
    </div>
  </div>
</template>

<script>
import store from "@/store";
import { mapGetters } from "vuex";

export default {
  metaInfo: {
    title: "HNSN",
    titleTemplate: "%s - Convênios",
  },

  beforeRouteEnter(to, from, next) {
      store.dispatch('convenios/fetchStates')
        .then(states => {
          next(vm => {
            states.forEach((state) => {
              vm.states.push(state);
            });
          })
        })

    /* Promise.all([
      store.dispatch("convenios/fetchStates"),
      store.dispatch("convenios/fetchPlans")
    ]).then(([states, plans]) => {
      next((vm) => {
        states.forEach((state) => {
          vm.states.push(state);
        });
        plans.forEach((plan) => {
          vm.convenios.push(plan);
        });

        
      });
    }); */
  },
  data: () => ({
    noticias: [],
    filtered: [],
    states: [],
    categorias: [],
    convenios: [],
    planos: [],
    selectedState: null,
    selectedPlan: null,
    list: [],
    filterList: false,
  }),
  computed: {
    ...mapGetters({
      destaque: "blog/getFeatured",
    }),
  },

  mounted() {
    this.filtered = this.noticias;
  },

  methods: {
    onStateChange(event){
      console.log(event.target.value);
      this.selectedState = event.target.value;
      store.dispatch('convenios/fetchPlans')
        .then(plans => {
          plans.forEach((plan) => {
            this.convenios.push(plan);
          });
        })
    },
    onConvenioChange(event){
      console.log(event.target.value);
      this.convenios.forEach(e => {
        if(e.id == event.target.value)
          this.categorias = e.categories;
      });

    },
    onCatChange(event){
      console.log(event.target.value);
      this.categorias.forEach(e => {
        if(e.id == event.target.value)
          this.planos = e.planos;
      });
    },
    onPlanChange(event){
      console.log(event.target.value);
      this.selectedPlan = event.target.value;

      store.dispatch('convenios/fetchList', {state: this.selectedState, plan: this.selectedPlan})
        .then(list => {
            this.list = list
        })

    },
    onSearch(event) {
      let keyword = event.target.value.toLowerCase();

      this.filtered = [];

      this.noticias.forEach((noticia) => {
        if (
          noticia.title.toLowerCase().indexOf(keyword) != -1 ||
          noticia.excerpt.toLowerCase().indexOf(keyword) != -1
        )
          this.filtered.push(noticia);
      });
    },
  },
};
</script>

<style lang="scss">
.hnsn-app__view-noticias-content {
  width: 100%;
}
.table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  th{
    text-align: start;
    padding: .75rem;
    vertical-align: top;
    color: #009CDE;
  }
  td{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
}
</style>
