<template>
	<div class="hnsn-app__view-medicos" id="#hnsn">
		<div class="center-content">
			<nav class="hnsn-app__view-medicos-nav">
				<button @click="toggleContent('especialidades')" :class="{ 'active': nav.active === 'especialidades' }">
					<div class="rotate-button">
						<div class="v-align">
							<div class="v-align-middle">
								Especialidades			
							</div>
						</div>
					</div>
				</button>
				<button @click="toggleContent('medicos')" :class="{ 'active': nav.active === 'medicos' }">
					<div class="rotate-button">
						<div class="v-align">
							<div class="v-align-middle">
								Médicos
							</div>
						</div>
					</div>
				</button>
			</nav>

			<aside class="hnsn-app__view-medicos-sidebar" :class="{ 'active': nav.active === 'especialidades' }">
				<div class="hnsn-app__view-medicos-header">
					<h2 class="hnsn-app__view-medicos-title">Especialidades</h2>
				</div>

				<form class="hnsn-app__view-medicos-search clearfix" method="" action="">
					<i class="cicon icon-search"></i>
					<input type="text" name="especialidade" placeholder="Buscar por Especialidade" v-model="speciality">
				</form>
				<ul class="hnsn-app__view-medicos-list">
					<li class="hnsn-app__view-medicos-list-item" :key="'espe-no-filther'+item.id" v-for="item in filtered">
						<router-link :to="{ name: 'detalhes', params: { slug: item.slug, id: item.id } }">
							{{item.name}}
						</router-link>
					</li>
				</ul>
			</aside>

			<div class="hnsn-app__view-medicos-panel" :class="{ 'active': nav.active === 'medicos' }">
				<div class="hnsn-app__view-medicos-header medicos-header">
					<h2 class="hnsn-app__view-medicos-title">Pesquise</h2>

					<div class="search-bar clearfix">
						<form class="search-bar-form clearfix" method="" action="">
							<input type="text" name="medico" placeholder="Buscar por médico" v-model="doctor">
							<button>Buscar</button>
						</form>

						<ul class="search-bar-filter-list" :class="{ 'active': filterList == true }">
		          <li class="search-bar-filter-list-item stopic">
		            Filtrar por
		          </li>
		          <li class="search-bar-filter-list-item" :key="'espe'+item.id" v-for="item in especialidades" :class="{ 'active': cEs == item.title }">
								<router-link :to="{ name: 'medicos', params: { slug: item.slug } }">
									{{item.title}}
								</router-link>
		          </li>
		        </ul>
					</div>
				</div> 

				<router-view/>
			</div>
		</div>
	</div>
</template>

<script>
import store from '@/store'
import {mapGetters} from 'vuex'

const TIMEOUT = 1;
export default {
	metaInfo: {
		title: 'HNSN',
		titleTemplate: '%s - Especialidades',
	},
	mounted: () => {
		if(this.$route.hash) {
      		setTimeout(() => this.scrollTo(this.$route.hash), TIMEOUT)
    	}
	},
	data: () => ({
		filterList: false,
		cEs: '',
		nav: {
			active: 'especialidades'
		},
		especialidades: []
	}),

  beforeRouteEnter(to, from, next) {
    store.dispatch('especialidades/fetchEspecialidades')
      .then(especialidades => {
				next(vm => {
					vm.especialidades = especialidades
				})
	  })
  },
  computed: {
    ...mapGetters({
			//
    }),

		filtered() {
			let keyword = this.$store.state.especialidades.keyword.toLowerCase(),
				filtered = []

			if (!keyword) {
				filtered = this.especialidades
			} else {
				this.especialidades.forEach(especialidades => {
					if (especialidades.name.toLowerCase().indexOf(keyword) > - 1) {
						filtered.push(especialidades)
					}
				})
			}

			return filtered
		},

		speciality: {
			get() {
				return this.$store.state.especialidades.keyword
			},
			set(value) {
				this.$store.commit('especialidades/setKeyword', value)
			}
		},

		doctor: {
			get() {
				return this.$store.state.medicos.keyword
			},
			set(value) {
				this.$store.commit('medicos/setKeyword', value)
			}
		}
  },

	methods: {
		toggleFilter() {
      this.filterList = !this.filterList;
    },

		toggleContent(content) {
			this.nav.active = content;
		},

		onSpecialitySearch() {
		},

		onDoctorSearch() {
		},

		setItem(item) {
			return this.$router.push({
				name: 'medicos-especialidades',
				params: { slug: item.slug }
			})

			if(item)	{
				this.cEs = item.title;
			} else {
				this.cEs = this.especialidades[0].title;
			}

			this.nav.active = "medicos";
		},

		filter(specialty) {
			// router.push(specialty)
		}
	}
}
</script>

<style lang="scss">

</style>
