<template>
  <div class="hnsn-app__container especialidades-e-detalhe">
    <form class="hnsn-app__view-medicos-search medicos-search clearfix" method action>
      <i class="cicon icon-search"></i>
      <input type="text" name="medico" placeholder="Buscar por Médico" v-model="doctor" />
    </form>
    <template v-if="noticias[0]">
    <h2 class="hnsn-app__view-detalhes-title">Notícias</h2>
    <swiper
      class="hnsn-app__view-posts-cards"
      :options="especialityNewsSwiperOptions"
      ref="especialityNewsSwiper"
      
    >
      <swiper-slide class="slide-item" :key="'slider-espec'+item.id" v-for="item in noticias">
        <router-link :to="{name: 'noticia', params: {slug: item.slug}}" class="news-item clearfix">
          <div class="router-flex">
            <div
              class="news-item-thumb"
              :style="{backgroundImage: `url(${item.thumbnail ? item.thumbnail.path : require('@/assets/images/thumb.png')})`}"
            ></div>
            <div class="news-item-content">
              <time class="news-item-date">{{item.created_at}}</time>
              <h3 class="news-item-title">{{item.title}}</h3>
              <p class="news-item-desc">{{item.excerpt}}</p>
            </div>
          </div>
        </router-link>
      </swiper-slide>
    </swiper>
    <div class="slide-nav clearfix">
      <div class="slide-nav-pag"></div>

      <div class="slide-nav-act">
        <button class="slide-nav-btn prev">
          <i class="cicon icon-slide-prev"></i>
        </button>
        <button class="slide-nav-btn next">
          <i class="cicon icon-slide-next"></i>
        </button>
      </div>
    </div>

    <!-- Estrutura da Especialidade -->
    <hr class="hnsn-app__view-detalhes-division" />
    </template>
    <form class="hnsn-app__view-medicos-search medicos-search clearfix" method action>
      <i class="cicon icon-search"></i>
      <input type="text" name="medico" placeholder="Buscar por Médico" v-model="doctor" />
    </form>
    <template v-if="structure[0]">
    <h2 class="hnsn-app__view-detalhes-title">Estrutura da Especialidade</h2>
    <swiper
      class="hnsn-app__view-posts-cards"
      :options="structureNewsSwiperOptions"
      ref="structureNewsSwiper"
      
    >
      <swiper-slide class="slide-item" :key="'slider-espec-2'+item.id" v-for="item in structure">
        <router-link :to="{name: 'noticia', params: {slug: item.slug}}" class="news-item clearfix">
          <div class="router-flex">
            <div
              class="news-item-thumb"
              :style="{backgroundImage: `url(${item.thumbnail ? item.thumbnail.path : require('@/assets/images/thumb.png')})`}"
            ></div>
            <div class="news-item-content">
              <time class="news-item-date">{{item.created_at}}</time>
              <h3 class="news-item-title">{{item.title}}</h3>
              <p class="news-item-desc">{{item.excerpt}}</p>
            </div>
          </div>
        </router-link>
      </swiper-slide>
    </swiper>

    <div class="slide-nav clearfix">
      <div class="slide-nav-pag structure-nav-pag"></div>

      <div class="slide-nav-act">
        <button class="structure-nav-btn prev">
          <i class="cicon icon-slide-prev"></i>
        </button>
        <button class="structure-nav-btn next">
          <i class="cicon icon-slide-next"></i>
        </button>
      </div>
    </div>

    <!-- equipe -->
    <hr class="hnsn-app__view-detalhes-division" />
    </template>
    <form class="hnsn-app__view-medicos-search medicos-search clearfix" method action>
      <i class="cicon icon-search"></i>
      <input type="text" name="medico" placeholder="Buscar por Médico" v-model="doctor" />
    </form>
    <h2 class="hnsn-app__view-detalhes-title">Equipe</h2>
    <div class="hnsn-app__view-medicos-cards clearfix">
      <router-link
        :to="{ name: 'medico', params: {id: item.id }}"
        :key="item.id"
        class="card-item clearfix"
        v-for="item in filtered"
      >
        <!--<img class="card-item-thumb" :src="item.foto ? item.foto.path : '' " :alt="item.name">-->
        <div
          class="card-item-thumb"
          :style="{
				backgroundImage: `url(${item.foto ? item.foto.path : require('@/assets/images/avatar.svg')})`
		    }"
          :alt="item.name"
        ></div>
        <div class="card-item-content">
          <h3 class="card-item-name">{{item.prefix}} {{item.name}}</h3>
          <p
            class="card-item-desc"
            :key="espec.name"
            v-for="espec in item.especialidade"
          >{{item.crm}} - {{espec.name}}</p>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import store from "@/store";
import { mapGetters } from "vuex";

/* import Swiper from 'swiper' */
const TIMEOUT = 1;

export default {
  metaInfo: {
    title: "HNSN",
    titleTemplate: "%s - Medicos"
  },

  beforeRouteEnter(to, from, next) {
    /* posts start */
    Promise.all([
      store.dispatch("blog/fetchPosts"),
      store.dispatch('blog/fetchFeatured'),
      store.dispatch("medicos/fetchMedicos")
    ]).then(([noticias, destaque, medicos]) => {
      /* next(vm => { */
        let noticias_data = [];
        let structure_data = [];
        noticias.forEach(noticia => {
          if(noticia.especiality_id == to.params.id){
            if(noticia.structure == 1){
              structure_data.push(noticia);
            }else {
              noticias_data.push(noticia);
            }
          }
        });

        destaque.forEach((noticia, index) => {
          if (index > 0 && noticia.especiality_id == to.params.id)
            if(noticia.structure == 1){
              structure_data.push(noticia);
            }else {
              noticias_data.push(noticia);
            }
        })

        let medico_data = [];
        medicos.forEach(medico => {
          if (to.params.slug)
            medico.especialidade.forEach(especialidade => {
              if (especialidade.slug == to.params.slug) medico_data.push(medico);
            });
          else medico_data.push(medico);
        });

        next(vm => {
          vm.medicos = medico_data;
          vm.noticias = noticias_data;
          vm.structure = structure_data;
        });
      /* }); */
    });
    /* posts end */

    /* store.dispatch("medicos/fetchMedicos").then(medicos => {
      let data = [];

      medicos.forEach(medico => {
        if (to.params.slug)
          medico.especialidade.forEach(especialidade => {
            if (especialidade.slug == to.params.slug) data.push(medico);
          });
        else data.push(medico);
      });

      next(vm => {
        vm.medicos = data;
      });
    }); */
  },
  beforeRouteUpdate(to, from, next) {
    /* store.dispatch("blog/fetchPosts").then(noticias => { */
    Promise.all([
      store.dispatch("blog/fetchPosts"),
      store.dispatch('blog/fetchFeatured'),
      store.dispatch("medicos/fetchMedicos")
    ]).then(([noticias, destaque, medicos]) => {
      let noticias_data = [];
      let structure_data = [];

      noticias.forEach(noticia => {
        if (to.params.id)
          if (noticia.especiality_id == to.params.id) {
            if(noticia.structure == 1){
              structure_data.push(noticia);
            }else {
              noticias_data.push(noticia);
            }

          }
      }); 
      destaque.forEach((noticia, index) => {
        if (index > 0 && noticia.especiality_id == to.params.id){
          /* noticias_data.push(noticia) */
            if(noticia.structure == 1){
              structure_data.push(noticia);
            }else {
              noticias_data.push(noticia);
            }

        }
      })

      let medicos_data = [];
      medicos.forEach(medico => {
        if (to.params.slug)
          medico.especialidade.forEach(especialidade => {
            if (especialidade.slug == to.params.slug) medicos_data.push(medico);
          });
        else medicos_data.push(medico);
      });

      this.noticias = noticias_data;
      this.medicos = medicos_data;
      this.structure = structure_data;
      next();

    });

    /* store.dispatch("medicos/fetchMedicos").then(medicos => {
      let data = [];
      console.log("mediicos being RElooped")
      console.log(medicos)

      medicos.forEach(medico => {
        if (to.params.slug)
          medico.especialidade.forEach(especialidade => {
            if (especialidade.slug == to.params.slug) data.push(medico);
          });
        else data.push(medico);
      });

      this.medicos = data;
      next();
    }); */
  },
  data: () => ({
    medicos: [],
    noticias: [],
    structure: [],
    filteredPosts: [],
    filterList: false,
    especialityNewsSwiperOptions: {
      slidesPerView: 1,
      setWrapperSize: true,
      pagination: {
        el: ".slide-nav-pag",
        clickable: true,
        renderBullet(index, className) {
          return "<span class='" + className + "'>0" + (index + 1) + "</span>";
        }
      },

      navigation: {
        nextEl: ".slide-nav-btn.next",
        prevEl: ".slide-nav-btn.prev"
      }
    },
    structureNewsSwiperOptions: {
      slidesPerView: 1,
      setWrapperSize: true,
      pagination: {
        el: ".structure-nav-pag",
        clickable: true,
        renderBullet(index, className) {
          return "<span class='" + className + "'>0" + (index + 1) + "</span>";
        }
      },

      navigation: {
        nextEl: ".structure-nav-btn.next",
        prevEl: ".structure-nav-btn.prev"
      }
    }
  }),

  methods: {},
  computed: {
    filtered() {
      let keyword = this.$store.state.medicos.keyword.toLowerCase(),
        filtered = [];

      if (!keyword) {
        filtered = this.medicos;
      } else {
        this.medicos.forEach(medico => {
          if (medico.name.toLowerCase().indexOf(keyword) > -1) {
            filtered.push(medico);
          }
        });
      }

      return filtered;
    },
    doctor: {
      get() {
        return this.$store.state.medicos.keyword;
      },
      set(value) {
        this.$store.commit("medicos/setKeyword", value);
      }
    },

    ...mapGetters({
      destaque: "blog/getFeatured"
    }),

    especialityNewsSwiper() {
      return this.$parent.$refs.especialityNewsSwiper.swiper;
    },
    structureNewsSwiper() {
      return this.$parent.$refs.structureNewsSwiper.swiper;
    }
  },
  mounted() {
    /* posts */
    this.filteredPosts = this.noticias;
    /* posts */
    /* this.swiper = new Swiper(this.$el.querySelector('.hnsn-app__view-posts-cards')); */
    /* this.swiper = new Swiper(); */
    // From testing, without a brief timeout, it won't work.

    this.especialityNewsSwiper.on("slideChange", () => {
      let index = this.especialityNewsSwiper.activeIndex;
    });
  }
};
</script>

<style lang="scss">
.hnsn-app__container {
  overflow: hidden;
}
.swiper-pagination-bullet {
  outline: none;
  cursor: pointer;
}
</style>
