<template>
	<div class="forms-body">
		<h2 class="forms-title">Formulários para download</h2>
		<div class="forms-advice">
			<p>Se preferir, faça download dos formulários abaixo.</p>
		</div>    
		<div class="btns">
			<div class="forms-form" @click="onClick('cirurgia')">
				<div class="forms-btn">
					Clique aqui
				</div>    
				<p>Termo de consentimento informado de cirurgia.</p>
			</div>    
			<div class="forms-form" @click="onClick('anestesia')">
				<div class="forms-btn">
					Clique aqui
				</div>    
				<p>Termo de consentimento informado de anestesia.</p>
			</div>    
		</div>
	</div>
</template>

<script>
export default {
	methods: {
		onClick(type){
			if (type == 'cirurgia')
				window.open('/pdf/FO.DCT.016-3 - Termo de Consentimento Informado de Cirurgia.pdf')
			else if (type == 'anestesia')
				window.open('/pdf/FO.DCT.017-4 - Termo de Consentimento Informado de Anestesia.pdf')
		}
	}
}
</script>

<style lang="scss">

</style>
