<template>
	<div class="hnsn-galerias">
		<div class="center-content">
			<h2 class="section-title">Galeria</h2>

			<ul class="list-pictures">
				<li v-for="(image, index) in images" :key="index">
					<a class="link" :href="image.url" target="_blank">Download</a>
					<img :src="image.url" alt="">
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
import store from '@/store'
import {mapGetters} from 'vuex'

export default {
	data: () => ({
	    images: [
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
            { url: 'https://via.placeholder.com/600x400' },
        ]
	}),

	beforeRouteEnter(to, from, next) {
    store.dispatch('galerias/fetchGalerias')
      	.then(images => { 
				let data = []
				/*
				medicos.forEach(medico => {
					if (to.params.slug)
						medico.especialidade.forEach(especialidade => {
							if (especialidade.slug == to.params.slug)
								data.push(medico)
						})
					else
						data.push(medico)
				})
				*/
				next(vm => {
					console.log(images)
					//vm.medicos = data
				})
      	})
  	},

	mounted() {

	}

}
</script>

<style lang="scss">

	.hnsn-galerias{
		padding: 50px 0;
		.list-pictures{
			list-style: none;
			margin: 50px 0 0 0;
			padding: 0;
			display: flex;
			flex-flow: row wrap;
			margin-left: -25px;

			li{
				position: relative;
				@include grid-column(4);
				margin-bottom: 30px;
				@include grid-media($smartphone-grid) {
			      	@include grid-column(12);
			    }
				a{
					position: absolute;
					text-decoration: none;
					background-color: #00407B;
					color: white;
					top: 0;
					right: 0;
					padding: 10px 20px;
					font-weight: bold;
				}
				img{
					width: 100%;
				}
			}
		}
	}

</style>
