<template>
  <div class="hnsn-app__view-home">
    <div class="hnsn-app__view-home-destaques">
      <div class="center-content">
        <div class="hnsn-app__view-home-destaques-slides">
          <swiper :options="homeSwiperOptions" ref="homeSwiper">
            <swiper-slide class="slide-item" :key="'slide-item'+item.id" v-for="item in destaques">
							<h1 class="slide-item-title">{{ item.title}}</h1>
              <div class="slide-item-border"></div>
              <p class="slide-item-desc">{{item.excerpt}}</p>
							<a class="slide-item-action" :href="item.slug === 'tegsaude'  ? 'https://hnsn.tegsaude.com.br/' : '/noticia/'+item.slug" :title="item.title" :target="item.slug === 'tegsaude'  ? '_blank' : ''">{{ item.slug === 'tegsaude' ? 'VER SITE' : 'Ler Notícia' }}</a>
            </swiper-slide>
          </swiper>
          <div class="slide-background" :style="{backgroundImage: 'url(' + currentSlideBg + ')'}"></div>

          <div class="slide-nav clearfix">
            <div class="slide-nav-pag"></div>
            <div class="slide-nav-act">
              <button class="slide-nav-btn prev">
                <i class="cicon icon-slide-prev"></i>
              </button>
              <button class="slide-nav-btn next">
                <i class="cicon icon-slide-next"></i>
              </button>
            </div>
          </div>
        </div>

        <aside class="hnsn-app__view-home-destaques-sidebar">
          <div class="sidebar-content">
            <h2 class="sidebar-content-title">
              Para você
              <br />e sua família
            </h2>

            <ul class="sidebar-content-list">
              <li class="sidebar-content-list-item">
                <a href="#convenios" title>
                  <i class="cicon icon-convenios-o"></i> Convênios
                </a>
              </li>
              <li class="sidebar-content-list-item">
                <a href="https://pacs.hnsn.com.br/portalexames/client/" target="_blank" title>
                  <i class="cicon icon-exams-o"></i> Resultado de Exames
                </a>
              </li>
              <li class="sidebar-content-list-item">
                <a
                  href="https://app.agenda.globalhealth.mv/agendar/?key=hnsn"
                  target="_blank"
                  title
                >
                  <i class="cicon icon-calendar-o"></i> Agendamento Online
                </a>
              </li>
              <li class="sidebar-content-list-item">
                <router-link :to="{ name: 'ouvidoria' }">
                  <i class="cicon icon-call-o"></i> Ouvidoria
                </router-link>
              </li>
              <li class="sidebar-content-list-item">
                <a
                  href="https://docs.google.com/spreadsheets/d/11gHcqDrwIhavgt1F7f1JhIZ_OmfDRNvdETMWN9Yilv0/edit#gid=166295651"
                  title
                >
                  <i class="cicon icon-price-o"></i> Solicitar Orçamento
                </a>
              </li>
              <li class="sidebar-content-list-item">
                <router-link :to="{ name: 'internacional' }">
                  <i class="cicon icon-international-o"></i> Paciente Internacional
                </router-link>
              </li>
            </ul>

            <!-- <a
              class="sidebar-content-action"
              href="https://www.hnsn.com.br/acesso-medico"
              target="_blank"
              title
            >
              <i class="cicon icon-doctor-o"></i> Para o médico
              <i class="cicon icon-arrow-right"></i>
            </a> -->
          </div>
          <div class="sidebar-footer clearfix">
            <ul class="sidebar-footer-list">
              <!-- <li class="sidebar-footer-list-item">
								<span href="" title="">
									<i class="cicon icon-faq-w"></i> Perguntas Frequentes
								</span>
              </li>-->
              <li class="sidebar-footer-list-item">
                <a href="https://api.whatsapp.com/send?phone=5583998310303" rel="nofollow">
                  <i class="cicon icon-whatsapp-w"></i> (83) 9 9831-0303
                </a>
              </li>
            </ul>

            <ul class="sidebar-footer-list">
              <li class="sidebar-footer-list-item">Redes Sociais</li>
              <li class="sidebar-footer-list-item inline-item">
                <a
                  target="_blank"
                  href="https://www.instagram.com/hnsnoficial/"
                  title="Instagram"
                  rel="nofollow"
                >
                  <i class="cicon icon-instagram-w"></i>
                </a>
              </li>
              <li class="sidebar-footer-list-item inline-item">
                <a
                  target="_blank"
                  href="https://www.facebook.com/hnsnoficial/"
                  title="Facebook"
                  rel="nofollow"
                >
                  <i class="cicon icon-facebook-w"></i>
                </a>
              </li>
              <li class="sidebar-footer-list-item inline-item">
                <a
                  target="_blank"
                  href="https://www.youtube.com/channel/UCDWzuMd1nqd73ddBHexP-ig"
                  title="YouTube"
                  rel="nofollow"
                >
                  <i class="cicon icon-youtube-w"></i>
                </a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>

    <div id="convenios" class="hnsn-app__view-home-convenios">
      <div class="center-content">
        <h2 class="section-title">Convênios</h2>
        <p class="section-desc">O HNSN atende a um amplo conjunto de operadoras de saúde</p>

        <nav class="hnsn-app__view-home-convenios-tabs">
          <ul class="hnsn-app__view-home-convenios-tabs-list clearfix">
            <li class="hnsn-app__view-home-convenios-tabs-list-item">
              <div
                v-on:click="activetab=1"
                v-bind:class="[ activetab === 1 ? 'active' : '' ]"
              >Maternidade</div>
            </li>
            <li class="hnsn-app__view-home-convenios-tabs-list-item">
              <div
                v-on:click="activetab=2"
                v-bind:class="[ activetab === 2 ? 'active' : '' ]"
              >Adultos</div>
            </li>
            <li class="hnsn-app__view-home-convenios-tabs-list-item">
              <div
                v-on:click="activetab=3"
                v-bind:class="[ activetab === 3 ? 'active' : '' ]"
              >Pediatria</div>
            </li>
          </ul>
        </nav>

        <div class="hnsn-app__view-home-convenios-panels">
          <div v-if="activetab === 1" class="hnsn-app__view-home-convenios-panels-item">
            <div
              class="panel-item"
              title
              v-for="item in convenios.maternidade"
              :key="'panel-item'+item.id"
              :style="{ backgroundImage: `url(${item.foto ? item.foto.path : require('@/assets/images/thumb.png') })` }"
            >
              <span class="panel-item-content">
                <h3 class="panel-item-title">{{item.name}}</h3>
                <p class="panel-item-desc">{{item.desc}}</p>
              </span>
            </div>
          </div>

          <div v-if="activetab === 2" class="hnsn-app__view-home-convenios-panels-item">
            <div
              class="panel-item"
              title
              v-for="item in convenios.adultos"
              :key="'panel-item-2'+item.id"
              :style="{ backgroundImage: `url(${item.foto ? item.foto.path : require('@/assets/images/thumb.png') })` }"
            >
              <span class="panel-item-content">
                <h3 class="panel-item-title">{{item.name}}</h3>
                <p class="panel-item-desc">{{item.desc}}</p>
              </span>
            </div>
          </div>

          <div v-if="activetab === 3" class="hnsn-app__view-home-convenios-panels-item">
            <div
              class="panel-item"
              title
              v-for="item in convenios.pediatria"
              :key="'panel-item-3'+item.id"
              :style="{ backgroundImage: `url(${item.foto ? item.foto.path : require('@/assets/images/thumb.png') })` }"
            >
              <span class="panel-item-content">
                <h3 class="panel-item-title">{{item.name}}</h3>
                <p class="panel-item-desc">{{item.desc}}</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hnsn-app__view-home-noticias">
      <div class="center-content">
        <div class="hnsn-app__view-home-noticias-header">
          <h2 class="section-title">Notícias</h2>
          <p class="section-desc">
            Acompanhe as novidades e os eventos promovidos pelo HNSN e mantenha-se atualizado.
            <br />Aqui você encontra todas as informações sobre o Hospital e sobre os temas que acreditamos.
          </p>

          <button class="hnsn-app__view-home-noticias-slides-prev prev-button">
            <span class="cicon icon-slide-prev"></span>
          </button>
          <button class="hnsn-app__view-home-noticias-slides-next next-button">
            <span class="cicon icon-slide-next"></span>
          </button>
        </div>

        <div class="hnsn-app__view-home-noticias-slides">
          <swiper :options="newsSwiperOptions" ref="newsSwiper">
            <swiper-slide class="slide-item" :key="'slide-item'+item.id" v-for="item in noticias">
              <a :href="'https://hnsn.com.br/noticia/' + item.slug" class="slide-item-link" title>
                <figure class="slide-item-thumb">
                  <figcaption class="slide-item-category">{{item.category}}</figcaption>
                  <div
                    class="thumb-bg"
                    :style="{backgroundImage: `url(${item.thumbnail ? item.thumbnail.path : require('@/assets/images/thumb.png')})`}"
                  ></div>
                  <!-- <img :src="item.thumbnail ? item.thumbnail.path : '' " alt=""> -->
                </figure>

                <h3 class="slide-item-title">{{item.title}}</h3>

                <time class="slide-item-date">{{item.created_at}}</time>
              </a>
            </swiper-slide>
          </swiper>
        </div>

        <a class="hnsn-app__view-home-noticias-link" href="/noticias" title="Ver todos">Ver todos</a>
      </div>
    </div>

    <div class="hnsn-app__view-home-videos" v-if="videos.length > 0">
      <div class="center-content">
        <div class="hnsn-app__view-home-videos-side">
          <h2 class="section-title">Vídeos</h2>

          <p class="hnsn-app__view-home-videos-category">HNSN Saúde</p>
          <p class="hnsn-app__view-home-videos-desc">{{videos[videoIndex - 1].title}}</p>

          <div class="hnsn-app__view-home-videos-next" v-if="videoIndex < totalVideos">
            <div class="next-label">Próximo vídeo</div>

            <figure class="next-thumb">
              <img :src="nextVideo.thumb" />
              <figcaption class="next-title">{{nextVideo.title}}</figcaption>
            </figure>
          </div>
        </div>

        <div class="hnsn-app__view-home-videos-slides">
          <div class="hnsn-app__view-home-videos-slides-nav">
            <button class="hnsn-app__view-home-videos-slides-prev">
              <i class="cicon icon-slide-up"></i>
            </button>
            <div class="hnsn-app__view-home-videos-slides-total">
              {{videoIndex}}
              <br />/
              <br />
              {{totalVideos}}
            </div>
            <button class="hnsn-app__view-home-videos-slides-next">
              <i class="cicon icon-slide-down"></i>
            </button>
          </div>

          <swiper :options="videosSwiperOptions" ref="videosSwiper">
            <swiper-slide class="slide-item" :key="'slide-item-2'+item.id" v-for="item in videos">
              <iframe
                :src="'https://www.youtube.com/embed/' + item.url"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </swiper-slide>
          </swiper>
        </div>
      </div>
    </div>

    <div
      class="hnsn-app__view-home-newsletter"
      :style="{backgroundImage: 'url(' + newsletter.background +')'}"
    >
      <h2 class="section-title">Assine nossa Newsletter</h2>
      <p class="section-desc">O HNSN atende a um amplo conjunto de operadoras de saúde.</p>

      <form v-on:submit="sendNewsletter" class="hnsn-app__view-home-newsletter-form" method action>
        <input type="text" name="name" v-model="newsletter.name" placeholder="Nome" required />
        <input type="email" name="email" v-model="newsletter.email" placeholder="E-mail" required />
        <button>Assinar</button>
      </form>
    </div>
  </div>
</template>

<script>
import store from "@/store";
import { mapGetters } from "vuex";

const TIMEOUT = 1;

export default {
  metaInfo: {
    title: "HNSN",
    titleTemplate: "%s - Não importa a dor. É urgente"
  },
  beforeRouteEnter(to, from, next) {
    Promise.all([
      store.dispatch("convenios/fetchConvenios"),
      store.dispatch("blog/fetchHomePosts"),
      store.dispatch("blog/fetchFeatured"),
      store.dispatch("videos/fetchVideos")
    ]).then(([convenios, noticias, destaques, videos]) => {
      next();
    });
  },
  data: () => ({
    newsletter: { name: "", email: "" },
    currentSlideBg: "",
    totalVideos: 0,
    videoIndex: 1,
    nextVideo: {},
    activetab: 1,
    newsletter: {
      background: require("@/assets/images/newsletter.jpg")
    },
    newsSwiperOptions: {
      slidesPerView: 3,
      spaceBetween: 25,
      setWrapperSize: true,
      navigation: {
        nextEl: ".hnsn-app__view-home-noticias-slides-next",
        prevEl: ".hnsn-app__view-home-noticias-slides-prev"
      }
    },
    videosSwiperOptions: {
      direction: "vertical",
      setWrapperSize: true,
      navigation: {
        nextEl: ".hnsn-app__view-home-videos-slides-next",
        prevEl: ".hnsn-app__view-home-videos-slides-prev"
      }
    },
    homeSwiperOptions: {
      slidesPerView: 1,
      setWrapperSize: true,
      pagination: {
        el: ".slide-nav-pag",
        clickable: true,
        renderBullet(index, className) {
          return "<span class='" + className + "'>0" + (index + 1) + "</span>";
        }
      },

      navigation: {
        nextEl: ".slide-nav-btn.next",
        prevEl: ".slide-nav-btn.prev"
      }
    }
  }),

  computed: {
    ...mapGetters({
      convenios: "convenios/getConvenios",
      noticias: "blog/getPosts",
      videos: "videos/getVideos",
      destaques: "blog/getFeatured"
    }),
    newsSwiper() {
      return this.$refs.newsSwiper.swiper;
    },

    videosSwiper() {
      return this.$refs.videosSwiper.swiper;
    },

    homeSwiper() {
      return this.$refs.homeSwiper.swiper;
    }
  },

  mounted() {
    // From testing, without a brief timeout, it won't work.
    if (this.$route.hash) {
      setTimeout(() => this.scrollTo(this.$route.hash), TIMEOUT);
    }

   if(this.destaques[0].slug === 'tegsaude')  {
		this.currentSlideBg = 'https://api.hnsn.com.br/storage/app/media/banner_final.jpg';
	}
   else
   {
	   this.currentSlideBg = this.destaques[index].thumbnail ? this.destaques[index].thumbnail.path : '';
   }

   if(this.destaques[0].slug === 'telemedicina')  {
		this.currentSlideBg = 'https://api.hnsn.com.br/storage/app/media/banner_home.jpg';
	}

  	this.totalVideos = this.videos.length;
  	this.videoIndex = this.videosSwiper.activeIndex + 1;
  	this.nextVideo = this.videos[1];

  	this.videosSwiper.on('slideChange', () => {
  		this.nextVideo = this.videos[this.videosSwiper.activeIndex + 1];

  		this.videoIndex = this.videosSwiper.activeIndex + 1;
  	});

  	this.homeSwiper.on('slideChange', () => {
		let index = this.homeSwiper.activeIndex;

		if(this.destaques[index].slug === 'tegsaude')  {
			this.currentSlideBg = 'https://api.hnsn.com.br/storage/app/media/banner_final.jpg';
		}
		else
		{
			this.currentSlideBg = this.destaques[index].thumbnail ? this.destaques[index].thumbnail.path : '';
		}

		if(this.destaques[index].slug === 'telemedicina')  {
			this.currentSlideBg = 'https://api.hnsn.com.br/storage/app/media/banner_home.jpg';
		}
  	});
  },

  methods: {
    sendNewsletter: function(event) {
      console.log(this.newsletter);
      store
        .dispatch("newsletter/sendNewsletter", {
          name: this.newsletter.name,
          email: this.newsletter.email
        })
        .then(() => {
          alert("enviado");
        });
    },
    scrollTo: function(hashtag) {
      setTimeout(() => {
        location.href = hashtag;
      }, TIMEOUT);
    }
  }
};
</script>

<style lang="scss">
	.swiper-pagination-bullet{
		outline: none;
		cursor: pointer;
	}

	.hnsn-app__view-home-destaques-slides .slide-background{
		left: -550px !important;
	}

	@media screen and (min-width: 991px){
		.hnsn-app__view-home-destaques-slides .slide-background{
			left: -700px !important;
		}

	}

</style>
