<template>
  <div>
    <form class="hnsn-app__view-medicos-search medicos-search clearfix" method="" action="">
      <i class="cicon icon-search"></i>
      <input type="text" name="medico" placeholder="Buscar por Médico" v-model="doctor">
    </form>

    <div class="hnsn-app__view-medicos-cards clearfix">
      <router-link :to="{ name: 'medico', params: {id: item.id }}" :key="item.id" class="card-item clearfix" v-for="item in filtered">
        <!--<img class="card-item-thumb" :src="item.foto ? item.foto.path : '' " :alt="item.name">-->
        <div class="card-item-thumb" :style="{
				backgroundImage: `url(${item.foto ? item.foto.path : require('@/assets/images/avatar.svg')})`
		    }" :alt="item.name"></div>
        <div class="card-item-content">
          <h3 class="card-item-name">{{item.prefix}} {{item.name}}</h3>
          <p class="card-item-desc" :key="espec" v-for="espec in item.especialidade">{{item.crm}} - {{espec.name}}</p>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import store from '@/store'
import {mapGetters} from 'vuex'

export default {
	metaInfo: {
		title: 'HNSN',
		titleTemplate: '%s - Medicos',
	},

  data: () => ({
		medicos: []
  }),

  beforeRouteEnter(to, from, next) {
    store.dispatch('medicos/fetchMedicos')
      .then(medicos => {
				let data = []

				medicos.forEach(medico => {
					if (to.params.slug)
						medico.especialidade.forEach(especialidade => {
							if (especialidade.slug == to.params.slug)
								data.push(medico)
						})
					else
						data.push(medico)
				})

				next(vm => {
					vm.medicos = data
				})
      })
  },

  beforeRouteUpdate(to, from, next) {
    store.dispatch('medicos/fetchMedicos')
      .then(medicos => {
				let data = []

				medicos.forEach(medico => {
					if (to.params.slug)
						medico.especialidade.forEach(especialidade => {
							if (especialidade.slug == to.params.slug)
								data.push(medico)
						})
					else
						data.push(medico)
				})

				this.medicos = data
				next()
      })
  },

  computed: {
		filtered() {
			let keyword = this.$store.state.medicos.keyword.toLowerCase(),
				filtered = []

			if (!keyword) {
				filtered = this.medicos
			} else {
				this.medicos.forEach(medico => {
					if (medico.name.toLowerCase().indexOf(keyword) > - 1) {
						filtered.push(medico)
					}
				})
			}

			return filtered
		},

		doctor: {
			get() {
				return this.$store.state.medicos.keyword
			},
			set(value) {
				this.$store.commit('medicos/setKeyword', value)
			}
		},

    ...mapGetters({
			//
    }),
  },
}
</script>

<style lang="scss">

</style>
