<template>
	<article class="hnsn-app__view-medicos-profile">
		<button class="profile-back" @click="back()">
			<i class="cicon icon-back"></i>
		</button>
		<div class="clearfix"></div>
		<div class="profile-thumb" :style="{
				backgroundImage: `url(${medico.foto ? medico.foto.path : ''})`
		}" :alt="medico.name"></div>
		<div class="profile-content">
			<h3 class="profile-content-title">{{medico.name}}</h3>
			<p class="profile-content-info" :key="espec.name + 'name'" v-for="espec in medico.especialidade"><b>{{medico.crm}} - {{espec.name}}</b> | Consultório</p>
			<p>{{medico.description}}</p>
		</div>
	</article>	
</template>

<script>
import store from '@/store'

export default {
	metaInfo: {
		title: 'HNSN',
		titleTemplate: '%s - Medicos',
	},

    beforeRouteEnter(to, from, next){
      store.dispatch('medicos/fetchMedico', {id: to.params.id})
		.then(medico => {
		  next(vm => {
          	vm.medico = medico
		  })
        })
	},
	data: () => ({
		medico: ''
		 /* {
			avatar: require('@/assets/images/profile.jpg'),
			prefix: 'Dra.',
			name: 'Camila Melo de Oliveira Costa',
			crm: '7223',
			specialty: 'Cardiologista',
			location: 'Consultório',
			about: [
				"Gra duação em medicina pela Universidade Federal de Pernambuco (2007). Residência Médica em Cirurgia Geral no Hospital Heliópolis/SUS-SP (2009-2011) e em Cirurgia de Cabeça e Pescoço no Hospital das Clínicas da Faculdade de Medicina da Universidade de São Paulo/HCFMUSP (2012-2014).",
				"Concluiu o programa de Complementação Especializada na área de Cirurgia Crânio-Maxilo-Facial pelo Departamento de Cirurgia, Disciplina de Cirurgia Plástica do Hospital das Clínicas da Faculdade de Medicina da Universidade de São Paulo/HC-FMUSP (2014-2015).",
				"Doutorando do Programa de Pós-Graduação em Clínica Cirúrgica da Faculdade de Medicina da Universidade de São Paulo (FMUSP)."
			]
		}*/
	}),

	methods: {
		back() {
			this.$router.go(-1);
		}
	}
}
</script>

<style lang="scss">

</style>
