<template>
  <div class="hnsn-app__view-noticia">
		<div class="hnsn-app__view-noticia-thumb" :style="{ backgroundImage: `url(${noticia.thumbnail  ? noticia.thumbnail.path : require('@/assets/images/thumb.png')})` }">
    </div>

    <div class="center-content">
      <article class="post">
        <div class="post-content">
          <time>{{noticia.created_at}}</time>
          <h1>{{noticia.title}}</h1>
					<div v-html="noticia.content">
					</div>
        </div>
        <div class="post-share">
          <p class="post-share-title">Compartilhe</p>
          <ul class="post-share-list">
            <li class="post-share-list-item">
              <a href="" title="">
                <i class="cicon icon-facebook"></i>
              </a>
            </li>
            <li class="post-share-list-item">
              <a href="" title="">
                <i class="cicon icon-twitter"></i>
              </a>
            </li>
            <li class="post-share-list-item">
              <a href="" title="">
                <i class="cicon icon-whatsapp"></i>
              </a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
import store from '@/store'
import {mapGetters} from 'vuex'

export default {
	metaInfo: {
		title: 'HNSN',
		titleTemplate: '%s - Notícia',
	},

  beforeRouteEnter(to, from, next){
    store.dispatch('blog/fetchPost', {slug: to.params.slug})
      .then(noticia => {
        next(vm => {
          vm.noticia = noticia.post
        });
      })
  },
  data: () => ({
    noticia: ''
  }),

}
</script>

<style lang="scss">
.body{
}
</style>
