<template>
  <div class="hnsn-app__view-noticias">
    <div class="center-content">
		<div
    :style="{backgroundImage: 'url(' + (destaque[0].thumbnail ? destaque[0].thumbnail.path : require('@/assets/images/thumb.png') )+')'}"
    class="hnsn-app__view-noticias-feature "
    v-if="destaque.length > 0">
      <div class="hnsn-app__view-noticias-feature--content">
        <time class="feature-date">{{ destaque[0].created_at | moment }}</time>
        <h2 class="feature-title">{{destaque[0].title}}</h2>
        <p class="feature-desc">{{destaque[0].excerpt}}</p>

        <div v-if="destaque[0].slug === 'tegsaude'">
         <a href="https://hnsn.tegsaude.com.br/" target="_blank" class="read-more">Ver mais</a> <i class="cicon icon-arrow-right"></i>
        </div>
        <div v-else>
          <router-link :to="{ name: 'noticia', params: { slug: destaque[0].slug }}" class="read-more">
            Leia mais <i class="cicon icon-arrow-right"></i>
          </router-link>
        </div>
      </div>
    </div>

      <perfect-scrollbar>
    <div class="hnsn-app__view-noticias-content">
      <h2 class="section-title">Notícias</h2>

      <div class="search-bar">
        <div class="search-bar-form" method="" action="">
          <input type="text" name="noticia" placeholder="Buscar por notícias" @keyup="onSearch">
          <button>Buscar</button>
        </div>

        <ul class="search-bar-filter-list" :class="{ 'active': filterList == true }">
          <li class="search-bar-filter-list-item stopic">
            Filtrar por
          </li>
          <li class="search-bar-filter-list-item">
            <a href="?filter=destaques" title="Mais lidas">Mais lidas</a>
          </li>
          <li class="search-bar-filter-list-item">
            <a href="?filter=recentes" title="Mais recentes">Mais recentes</a>
          </li>
          <li class="search-bar-filter-list-item stopic">
            Categorias
          </li>
          <li class="search-bar-filter-list-item">
            <a href="?category=institucional" title="Institucional">Institucional</a>
          </li>
          <li class="search-bar-filter-list-item">
            <a href="?category=servicos" title="Serviços">Serviços</a>
          </li>
          <li class="search-bar-filter-list-item">
            <a href="?category=social" title="Ação Social">Ação Social</a>
          </li>
        </ul>
      </div>
      
      <div :key="item.id" v-for="item in filtered">
        <div v-if="item.slug === 'tegsaude'">
          <a href="https://hnsn.tegsaude.com.br" target="_blank"  class="news-item clearfix">
            <div class="router-flex">
              <div class="news-item-thumb" :style="{backgroundImage: `url(${item.thumbnail ? item.thumbnail.path : require('@/assets/images/thumb.png')})`}"></div>

              <div class="news-item-content">
                <time class="news-item-date">{{ item.created_at | moment }}</time>
                <h3 class="news-item-title">{{item.title}}</h3>
                <p class="news-item-desc">{{item.excerpt}}</p>
              </div>
            </div>
          </a>
        </div>
        <div v-else>
          <router-link :to="{name: 'noticia', params: {slug: item.slug}}" class="news-item clearfix">
            <div class="router-flex">
              <div class="news-item-thumb" :style="{backgroundImage: `url(${item.thumbnail ? item.thumbnail.path : require('@/assets/images/thumb.png')})`}"></div>

              <div class="news-item-content">
                <time class="news-item-date">{{ item.created_at | moment  }}</time>
                <h3 class="news-item-title">{{item.title}}</h3>
                <p class="news-item-desc">{{item.excerpt}}</p>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
    </perfect-scrollbar>
    </div>
  </div>
</template>

<script>
import store from '@/store'
import {mapGetters} from 'vuex'
import moment from 'moment'

export default {

	metaInfo: {
		title: 'HNSN',
		titleTemplate: '%s - Notícias',
	},

  beforeRouteEnter(to, from, next){
		Promise.all([
			store.dispatch('blog/fetchPosts'),
      store.dispatch('blog/fetchFeatured')
		])
			.then(([noticias, destaque]) => {
				next(vm => {
					noticias.forEach(noticia => {
						vm.noticias.push(noticia)
					})

					destaque.forEach((noticia, index) => {
						if (index > 0)
							vm.noticias.push(noticia)
					})
				})
			})
   },
  data: () => ({
		noticias: [],
		filtered: [],
    filterList: false,
    /*destaque: {
      thumb: require('@/assets/images/destaque01.jpg'),
      date: '12/02/2019',
      title: 'Hospital fecha parceria com Unidade de Transplante de Fígado de PE com o objetivo de aumentar o número de cirurgias do tipo no estado',
      desc: 'No final do ano passado, o Hospital Nossa Senhora das Neves (HNSN), em João Pessoa, começou a realizar cirurgias...'
    },*/
    /*noticias: [{
      thumb2x: require('@/assets/images/noticia02.jpg'),
      thumb: require('@/assets/images/noticia03.jpg'),
      date: '12/03/2019',
      title: 'Nova Maternidade HNSN inicia atendimento com partos humanizados e UTI neonatal',
      desc: 'O Hospital Nossa Senhora das Neves inaugurou a nova Maternidade na segunda-feira (17)'
    }, {
      thumb2x: require('@/assets/images/noticia02.jpg'),
      thumb: require('@/assets/images/noticia03.jpg'),
      date: '12/03/2019',
      title: 'Nova Maternidade HNSN inicia atendimento com partos humanizados e UTI neonatal',
      desc: 'O Hospital Nossa Senhora das Neves inaugurou a nova Maternidade na segunda-feira (17)'
    }, {
      thumb2x: require('@/assets/images/noticia02.jpg'),
      thumb: require('@/assets/images/noticia03.jpg'),
      date: '12/03/2019',
      title: 'Nova Maternidade HNSN inicia atendimento com partos humanizados e UTI neonatal',
      desc: 'O Hospital Nossa Senhora das Neves inaugurou a nova Maternidade na segunda-feira (17)'
    }, {
      thumb2x: require('@/assets/images/noticia02.jpg'),
      thumb: require('@/assets/images/noticia03.jpg'),
      date: '12/03/2019',
      title: 'Nova Maternidade HNSN inicia atendimento com partos humanizados e UTI neonatal',
      desc: 'O Hospital Nossa Senhora das Neves inaugurou a nova Maternidade na segunda-feira (17)'
    }]
  }),

  methods: {
    toggleFilter() {
      this.filterList = !this.filterList;
    }
    }]*/
  }),
  computed: {
    ...mapGetters({
      destaque: 'blog/getFeatured'
    })
  },

	mounted() {
		this.filtered = this.noticias
	},
  filters: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY');
    }
  },

	methods: {
		onSearch(event) {
			let keyword = event.target.value.toLowerCase()

			this.filtered = []

			this.noticias.forEach(noticia => {
				if (
					noticia.title.toLowerCase().indexOf(keyword) != -1 ||
					noticia.excerpt.toLowerCase().indexOf(keyword) != -1
				)
					this.filtered.push(noticia)
			})
		}
	}
}
</script>

<style lang="scss">
  .hnsn-app__view-noticias-content {
		width: 100%;
  }
</style>
