<template>
  <section class="hnsn-app__view-internacional">
    <div class="hnsn-app__view-internacional--side">
      <h2 class="image-title"></h2>
    </div>
    <div class="hnsn-app__view-internacional--main col-6">
      <div class="hnsn-app__view-internacional--content col-8 push-1">
        <h2 class="form-title">Orçamento</h2>

      <div role="main" id="xd-3ed8f19453699bca93f8"></div>


        
      </div>
    </div>
  </section>
</template>
<script>
import store from "@/store";
import Swal from "sweetalert2";
//import rd from "../assets/js/rd_station.min.js"

export default {

  mounted() {
    
      //new RDStationForms('xd-3ed8f19453699bca93f8', 'UA-60125176-1').createForm();

  },

  data: function() {
    return {
      form: {
        name: "",
        country: "",
        phone: "",
        message: ""
      }
    };
  },
  methods: {
    onSave: function(event) {
      // Validate name & email

      this.$validator.validate().then(success => {
        if (success) {
          setTimeout(() => {
            this.form.name = "";
            this.form.country = "";
            this.form.phone = "";
            this.form.message = "";
            document.getElementById("form__internacional").reset();
            this.$validator.reset();
          }, 2000);

          store
            .dispatch(
              "internacional/onSave",
              {
                name: this.form.name,
                country: this.form.country,
                phone: this.form.phone,
                message: this.form.message
              },
              {
                headers: {
                  "Content-Type": "multipart/form-data"
                }
              }
            )
            .then(response => {
              Swal.fire({
                title: "Os dados foram enviados com sucesso!",
                toast: true,
                position: "bottom-end",
                showConfirmButton: false,
                type: "success",
                timer: 5000
              });
            });
        } else {
          Swal.fire({
            position: "bottom-end",
            type: "error",
            title: "O preenchimento dos campos demarcados são obrigatórios",
            showConfirmButton: false,
            timer: 8500,
            toast: true
          });
        }
      });
    }
  }
};
</script>
<style lang="scss">
</style>
