<template>
  <section class="hnsn-app__view-ouvidoria">
    <div class="hnsn-app__view-ouvidoria--side">
      <h2 class="image-title">Mais que um atendimento, prezamos por colaboração e cuidado.</h2>
    </div>
    <div class="hnsn-app__view-ouvidoria--main col-6">
      <div class="hnsn-app__view-ouvidoria--content col-8 push-1">
        <h2 class="form-title">Ouvidoria</h2>
        <p class="form-excerpt">
          Estamos prontos para receber suas dúvidas, elogios ou sugestões.
          <br />Preencha o formulário abaixo para entrarmos em contato com você.
          <br />
        </p>
        <form class="hnsn-app__view-ouvidoria--content--form" id="form__ouvidoria" action @submit.prevent="onSave">
          <div class="form-row">
            <div class="form-group form-group-1">
              <label class="form-label">Aberto por *</label>
              <br />
              <div class="custom-select">
                <select
                  name="tipo"
                  v-model="form.department"
                  class="form-input"
                  placeholder="Selecione"
                  v-validate="'required'"
                  :class="{'has-error': errors.has('tipo')}"
                >
                  <option value disabled hidden>Selecione</option>
                  <option selected="true" value="Paciente">Paciente</option>
                  <option value="Companheiro">Companheiro</option>
                  <option value="Outro">Outro</option>
                </select>
              </div>
            </div>
            <div class="form-group form-group-2">
              <label class="form-label">Nome *</label>
              <br />
              <input type="text" v-model="form.name" name="nome" class="form-input" placeholder v-validate="'required'" :class="{'has-error': errors.has('nome')}"/>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-group-3">
              <label class="form-label">Telefone *</label>
              <br />
              <input
                type="text"
                class="form-input"
                name="telefone"
                placeholder="(83) 99857 0000"
                v-mask="['(##) #### ####', '(##) ##### ####']"
                v-model="form.phone"
                v-validate="'required'"
                :class="{'has-error': errors.has('telefone')}"
              />
            </div>
            <div class="form-group form-group-4">
              <label class="form-label">E-mail *</label>
              <br />
              <input type="email" name="email" v-model="form.email" class="form-input" placeholder v-validate="'required'" :class="{'has-error': errors.has('email')}"/>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-group-5">
              <label class="form-label">Anexe um documento</label>
              <br />
              <input
                type="file"
                id="file"
                name="myFiles"
                multiple
                class="form-input form-input-file"
                @change="carregandoArquivo"
              />

              <!-- <vue-dropzone
                class="form-input form-input-file"
                ref="myVueDropzone"
                id="dropzone"
                v-model="form.file"
                :options="dropzoneOptions"
              ></vue-dropzone>-->
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-group-6">
              <label class="form-label">Deixe seu comentário *</label>
              <br />
              <textarea
                v-model="form.message"
                class="form-input form-input-text"
                id
                cols="30"
                rows="10"
                v-validate="'required'"
                name="comentario"
                :class="{'has-error': errors.has('comentario')}"
              ></textarea>
              <button type="submit" class="form-action">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>
<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import store from "@/store";
import Swal from "sweetalert2";

/* If the user clicks anywhere outside the select box,
then close all select boxes: */

export default {
  components: {
    "vue-dropzone": vue2Dropzone
  },
  data: function() {
    return {
      form: {
        name: "",
        email: "",
        phone: "",
        department: "",
        type: "",
        file: "",
        message: ""
      },
      dropzoneOptions: {
        url: "http://www.google.com.br",
        thumbnailWidth: 60,
        thumbnailHeight: 60,
        createImageThumbnails: false,
        maxFilesize: 0.5,
        acceptedFiles: ".pdf, .doc",
        createImageThumbnails: false,
        autoProcessQueue: false,
        dictDefaultMessage:
          "<span class='input-text' id='dropzone-placeholder'></span>",
        headers: { "": "" }
      },
      link: "images/arrow-open.svg"
    };
  },
  methods: {
    // togleSelect() {
    //   var selector = document.getElementById("dropdown");
    //   selector.classList.toggle("show");
    //   if (this.link == "assets/images/arrow-open.svg") {
    //     this.link = "assets/images/arrow-closed.svg";
    //     return;
    //   } else if (this.link == "assets/images/arrow-open.svg") {
    //     this.link = "assets/images/arrow-closed.svg";
    //   }
    // },
    // selectInList(param) {
    //   var label = document.getElementById("selectLabel");
    //   label.innerHTML = param;
    // },
    carregandoArquivo(e) {
      console.log(e.target.files);

      this.form.file = e.target.files[0];
      console.log(this.form.file);
    },
    onSave: function(event) {
      // Validate name & email
      console.log(this.form.file);

      this.$validator.validate().then(success => {
        if (success) {
          setTimeout(() => {
            this.form.name = "";
            this.form.email = "";
            this.form.phone = "";
            this.form.department = "";
            this.form.type = "";
            this.form.file = "";
            this.form.message = "";
            document.getElementById("form__ouvidoria").reset();
            this.$validator.reset();

          }, 2000);

          store
            .dispatch(
              "ouvidoria/onSave",
              {
                name: this.form.name,
                email: this.form.email,
                type: this.form.department,
                phone: this.form.phone,
                department: this.form.department,
                file: this.form.file,
                message: this.form.message
              },
              {
                headers: {
                  "Content-Type": "multipart/form-data"
                }
              }
            )
            .then(response => {
              Swal.fire({
                title: "Os dados foram enviados com sucesso!",
                toast: true,
                position: "bottom-end",
                showConfirmButton: false,
                type: "success",
                timer: 5000
              });
            });
        } else {
          Swal.fire({
              position: "bottom-end",
              type: "error",
              title: "O preenchimento dos campos demarcados são obrigatórios",
              showConfirmButton: false,
              timer: 8500,
              toast: true
            });
        }
      });
    }
  },
  mounted() {
    // // this.onMobile();
    // window.addEventListener("resize", this.onMobile);
    // // Vanilla JS - select logic
    // var x, i, j, selElmnt, a, b, c;
    // /* Look for any elements with the class "custom-select": */
    // x = document.getElementsByClassName("custom-select");
    // for (i = 0; i < x.length; i++) {
    //   selElmnt = x[i].getElementsByTagName("select")[0];
    //   /* For each element, create a new DIV that will act as the selected item: */
    //   a = document.createElement("DIV");
    //   a.setAttribute("class", "select-selected");
    //   a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    //   x[i].appendChild(a);
    //   /* For each element, create a new DIV that will contain the option list: */
    //   b = document.createElement("DIV");
    //   b.setAttribute("class", "select-items select-hide");
    //   for (j = 1; j < selElmnt.length; j++) {
    //     /* For each option in the original select element,
    //     create a new DIV that will act as an option item: */
    //     c = document.createElement("DIV");
    //     c.innerHTML = selElmnt.options[j].innerHTML;
    //     c.addEventListener("click", function(e) {
    //       /* When an item is clicked, update the original select box,
    //         and the selected item: */
    //       var y, i, k, s, h;
    //       s = this.parentNode.parentNode.getElementsByTagName("select")[0];
    //       h = this.parentNode.previousSibling;
    //       for (i = 0; i < s.length; i++) {
    //         if (s.options[i].innerHTML == this.innerHTML) {
    //           s.selectedIndex = i;
    //           h.innerHTML = this.innerHTML;
    //           y = this.parentNode.getElementsByClassName("same-as-selected");
    //           for (k = 0; k < y.length; k++) {
    //             y[k].removeAttribute("class");
    //           }
    //           this.setAttribute("class", "same-as-selected");
    //           break;
    //         }
    //       }
    //       h.click();
    //     });
    //     b.appendChild(c);
    //   }
    //   x[i].appendChild(b);
    //   a.addEventListener("click", function(e) {
    //     /* When the select box is clicked, close any other select boxes,
    //     and open/close the current select box: */
    //     console.log("click!");
    //     a.classList.toggle("select-active");
    //     e.stopPropagation();
    //     closeAllSelect(this);
    //     this.nextSibling.classList.toggle("select-hide");
    //     this.classList.toggle("select-active");
    //     this.classList.toggle("select-arrow-active");
    //   });
    // }
    // function closeAllSelect(elmnt) {
    //   /* A function that will close all select boxes in the document,
    //   except the current select box: */
    //   var x,
    //     y,
    //     i,
    //     arrNo = [];
    //   x = document.getElementsByClassName("select-items");
    //   y = document.getElementsByClassName("select-selected");
    //   for (i = 0; i < y.length; i++) {
    //     if (elmnt == y[i]) {
    //       arrNo.push(i);
    //     } else {
    //       y[i].classList.remove("select-arrow-active");
    //     }
    //   }
    //   for (i = 0; i < x.length; i++) {
    //     if (arrNo.indexOf(i)) {
    //       x[i].classList.add("select-hide");
    //     }
    //   }
    // }
    // document.addEventListener("click", closeAllSelect());
  }
};
</script>
<style lang="scss">
//class="form-input form-input-file"
.dropzone {
  min-height: 40px !important;
  padding: 0px;
  .dz-message {
    margin: 0 !important;
  }

  .dz-preview.dz-file-preview {
    border-radius: 10px;
    height: 50%;
    width: 25%;
    min-height: unset;

    .dz-image,
    .dz-details {
      border-radius: 10px;
    }
    .dz-details {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .dz-size {
        margin-bottom: unset;
      }
    }
  }
}
</style>
