<template>
  <section class="hnsn-app__view-internacional">
    <div class="hnsn-app__view-internacional--side">
      <h2 class="image-title">Cuidar é o nosso principal idioma</h2>
    </div>
    <div class="hnsn-app__view-internacional--main col-6">
      <div class="hnsn-app__view-internacional--content col-8 push-1">
        <h2 class="form-title">Paciente Internacional</h2>
        <p class="form-excerpt">
          Estamos prontos para receber suas dúvidas e solicitações.
          <br />Preencha o formulário abaixo para entrarmos em contato com você.
          <br />
        </p>
        <form
          class="hnsn-app__view-internacional--content--form"
          id="form__internacional"
          action
          @submit.prevent="onSave"
        >
          <div class="form-row">
            <div class="form-group form-group-1">
              <label class="form-label">Nome *</label>
              <br />
              <input
                type="text"
                v-model="form.name"
                name="name"
                class="form-input"
                placeholder
                v-validate="'required'"
                :class="{'has-error': errors.has('name')}"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-group-2">
              <label class="form-label">Telefone *</label>
              <br />
              <input
                type="text"
                class="form-input"
                name="phone"
                placeholder="(83) 99857 0000"
                v-mask="['(##) #### ####', '(##) ##### ####']"
                v-model="form.phone"
                v-validate="'required'"
                :class="{'has-error': errors.has('phone')}"
              />
            </div>
            <div class="form-group form-group-3">
              <label class="form-label">País *</label>
              <br />
              <input
                type="text"
                v-model="form.country"
                name="country"
                class="form-input"
                placeholder
                v-validate="'required'"
                :class="{'has-error': errors.has('country')}"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-group-4">
              <label class="form-label">Deixe sua dúvida *</label>
              <br />
              <textarea
                v-model="form.message"
                class="form-input form-input-text"
                id
                cols="30"
                rows="10"
                v-validate="'required'"
                name="message"
                :class="{'has-error': errors.has('message')}"
              ></textarea>
              <button type="submit" class="form-action">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>
<script>
import store from "@/store";
import Swal from "sweetalert2";

export default {
  data: function() {
    return {
      form: {
        name: "",
        country: "",
        phone: "",
        message: ""
      }
    };
  },
  methods: {
    onSave: function(event) {
      // Validate name & email

      this.$validator.validate().then(success => {
        if (success) {
          setTimeout(() => {
            this.form.name = "";
            this.form.country = "";
            this.form.phone = "";
            this.form.message = "";
            document.getElementById("form__internacional").reset();
            this.$validator.reset();
          }, 2000);

          store
            .dispatch(
              "internacional/onSave",
              {
                name: this.form.name,
                country: this.form.country,
                phone: this.form.phone,
                message: this.form.message
              },
              {
                headers: {
                  "Content-Type": "multipart/form-data"
                }
              }
            )
            .then(response => {
              Swal.fire({
                title: "Os dados foram enviados com sucesso!",
                toast: true,
                position: "bottom-end",
                showConfirmButton: false,
                type: "success",
                timer: 5000
              });
            });
        } else {
          Swal.fire({
            position: "bottom-end",
            type: "error",
            title: "O preenchimento dos campos demarcados são obrigatórios",
            showConfirmButton: false,
            timer: 8500,
            toast: true
          });
        }
      });
    }
  }
};
</script>
<style lang="scss">
</style>
