<template>
	<div class="hnsn-app__view-quemsomos">
		<div class="center-content">
			<!-- <full-page ref="fullpage" :options="options" id="fullpage"> -->
				<div class="hnsn-app__view-quemsomos-section clearfix section">
					<article class="hnsn-app__view-quemsomos-article">
						<h1>Institucional</h1>
						<p>O HNSN nasceu da visão empreendedora de um grupo de investidores, que reconhecendo o crescimento de nossa cidade e região, e ainda a necessidade de leitos hospitalares de alta qualidade, resolveu acreditar na implantação de uma moderna estrutura hospitalar com as melhores tecnologias de apoio.</p>
						<p>Atento aos avanços da medicina, a diretoria do GRUPO exigiu que o empreendimento se destacasse pela gestão moderna (qualidade e segurança do paciente), apostando nos novos moldes assistenciais: hospital digital, recrutamento da melhor equipe assistencial e de colaboradores, programa de treinamentos profissionais, melhores tecnologias de suporte assistencial, e ainda a participação do cliente nas decisões.</p>
						<p>O hospital compromete-se com o seu cliente a usar e aplicar todos os dispositivos legais e a melhor tecnologia, sem esquecer que o desenvolvimento dos recursos humanos tem que ficar à frente das metas estratégicas, incluindo um grande acordo com o corpo médico.</p>
						<p>O hospital compromete-se com o processo de melhor experiência do paciente, que deve ser focado em: melhora e compreensão dos tempos de esperas; comunicação fácil; acolhimento; interatividade do ambiente; acessibilidade fácil; transparências das relações, e participação do paciente e família nas decisões.</p>
					</article>

					<div class="hnsn-app__view-quemsomos-gallery">
						<div class="hnsn-app__view-quemsomos-gallery-nav">
							<button class="gallery-nav prev">
								<span class="cicon icon-slide-prev"></span>
							</button>
							<button class="gallery-nav next">
								<i class="cicon icon-slide-next"></i>
							</button>
						</div>
						<swiper :options="photosSwiperOptions" ref="photosSwiper">
							<swiper-slide :key="item.alt" v-for="item in gallery">	
								<img :src="item.image" :alt="item.alt">
							</swiper-slide>
						</swiper>
					</div>
				</div>
				
				<div class="hnsn-app__view-quemsomos-cards section">
					<swiper :options="cardsSwiperOptions" ref="cardsSwiper">
						<swiper-slide class="card-item missao">
							<h2 class="card-item-title">Missão</h2>
							<p class="card-item-desc">Oferecer a melhor experiência no cuidar das famílias.</p>
						</swiper-slide>

						<swiper-slide class="card-item visao">
							<h2 class="card-item-title">Visão</h2>
							<p class="card-item-desc">Ser referência em saúde no Nordeste.</p>
						</swiper-slide>

						<swiper-slide class="card-item valores">
							<h2 class="card-item-title">Valores</h2>
							<ul class="card-item-list">
								<li class="card-item-list-item">Ser ético;</li>
								<li class="card-item-list-item">Respeitar sempre as pessoas;</li>
								<li class="card-item-list-item">Ter atitude de dono;</li>
								<li class="card-item-list-item">Ter Hospitalidade;</li>
								<li class="card-item-list-item">Compartilhar conhecimento;</li>
								<li class="card-item-list-item">Ter compromisso com a sustentabilidade;</li>
								<li class="card-item-list-item">Ser inovador.</li>
							</ul>
						</swiper-slide>
					</swiper>
				</div>
			<!-- </full-page> -->
		</div>
	</div>  
</template>

<script>
export default {
	metaInfo: {
		title: 'HNSN',
		titleTemplate: '%s - Quem Somos',
	},

	data: () => ({
		gallery: [{
			image: require('@/assets/images/hospital01.jpg'),
			alt: "HNSN"
		}, {
			image: require('@/assets/images/hospital02.jpg'),
			alt: "HNSN"
		}, {
			image: require('@/assets/images/hospital03.jpg'),
			alt: "HNSN"
		}],
		cardsSwiperOptions: {
      slidesPerView: 3,
      spaceBetween: 16,
      setWrapperSize: true,
      breakpoints: {
      	990: {
      		slidesPerView: 1,
      		spaceBetween: 8
      	}
      }
    },
    photosSwiperOptions: {
      slidesPerView: 1,
      spaceBetween: 0,
      setWrapperSize: true,
      navigation: {
    		nextEl: '.gallery-nav.next',
    		prevEl: '.gallery-nav.prev'
    	}
    },
    options: {
      // scrollBar: true
    }
	}),

	computed: {
    cardsSwiper() {
      return this.$refs.cardsSwiper.swiper;
    },

    photosSwiper() {
      return this.$refs.photosSwiper.swiper;
    }
  },
}
</script>

<style lang="scss">

</style>
