<template>
	<div class="hnsn-app__view-servicos">
		<div class="center-content">
			<h2 class="section-title" :class="currentTypeClass">{{currentTypeTitle}}</h2>

			<div class="hnsn-app__view-servicos-slides">
				<swiper :options="servicesSwiperOptions" ref="servicesSwiper">
					<swiper-slide class="slide-item" :key="item.foto.path" v-for="item in servicos">
						<!-- <img class="slide-item-thumb show-mobile" :src="require('@/assets/images/servico01.jpg')" :alt="item.title">
						<img class="slide-item-thumb show-desktop" :src="require('@/assets/images/servico012x.jpg')" :alt="item.title"> -->
						<img class="slide-item-thumb show-mobile" :src="item.foto ? item.foto.path : '' " :alt="item.name">
						<img class="slide-item-thumb show-desktop" :src="item.foto ? item.foto.path : '' " :alt="item.name">
						<div class="slide-item-content">
							<h2>{{item.name}}</h2>
							<p>{{item.description}}</p>
						</div>
					</swiper-slide>
					<swiper-slide class="slide-item" :key="item.foto.path + 'slide'" v-for="item in parceiros">
						<img class="slide-item-thumb show-mobile" :src="item.foto ? item.foto.path : '' " :alt="item.name">
						<img class="slide-item-thumb show-desktop" :src="item.foto ? item.foto.path : '' " :alt="item.name">
						<div class="slide-item-content">
							<h2>{{item.name}}</h2>
							<p>{{item.description}}</p>
						</div>
					</swiper-slide>
				</swiper>
			</div>

      <div class="hnsn-app__view-servicos-nav clearfix">
        <button class="nav-button prev"><span class="icon-wrapper"><i class="cicon icon-slide-prev"></i></span> Anterior</button>
        <button class="nav-button next">Próximo <span class="icon-wrapper"><i class="cicon icon-slide-next"></i></span></button>
      </div>
		</div>
	</div>
</template>

<script>
import store from '@/store'
import {mapGetters} from 'vuex'

export default {
	metaInfo: {
		title: 'HNSN',
		titleTemplate: '%s - Serviços',
	},

	beforeRouteEnter(to, from, next){
	  Promise.all([
        store.dispatch('servicos/fetchServicos'),
        store.dispatch('parceiros/fetchParceiros')
	  ]).then(([servicos,parceiros]) => {
			next()
		})
	},
	data: () => ({
		currentTypeTitle: null,
		currentTypeClass: null,
		servicesSwiperOptions: {
      slidesPerView: 1,
      spaceBetween: 10,
      setWrapperSize: true,
			calculateHeight: true,
      navigation: {
        nextEl: '.nav-button.next',
        prevEl: '.nav-button.prev'
      },
    },
	}),

	computed: {
	  ...mapGetters({
		servicos: 'servicos/getServicos',
		parceiros: 'parceiros/getParceiros',
	  }),

	  servicesSwiper() {
	    return this.$refs.servicesSwiper.swiper;
	  }
  },

  mounted() {
  	this.currentTypeTitle = 'Serviços'
  	this.currentTypeClass = 'service'

  	this.servicesSwiper.on('slideChange', () => {
      if (this.servicesSwiper.activeIndex > (this.servicos.length - 1)){
        this.currentTypeTitle = 'Parceiros';
      	this.currentTypeClass = 'partner';
	  }else{
        this.currentTypeTitle = 'Serviços';
        this.currentTypeClass = 'service';
	  }
  	})
  }
}
</script>

<style lang="scss">

</style>
