.hnsn-app__view-acesso {

  .section-title {
    @include grid-media($desktop-grid) {
      text-align: center;
      margin: 80px 0;
    }
  }

  &-link {
    float: left;
    position: relative;
    margin-bottom: 16px;
    display: block;
    width: 100%;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    text-align: center;
    text-align: center;
    line-height: 22px;
    font-family: "Geomanist";
    font-weight: 700;
    font-size: 18px;
    color: #222;

    @include grid-media($desktop-grid) {
      margin: 0 5% 80px 0;
      width: 30%;
      height: 280px;
    }

    &:hover {
      background: #CD5470;
      color: #FFFFFF;

      .cicon {
        &.icon-user {
          background: url("../assets/images/icon-user-h.svg");
        }

        &.icon-form {
          background: url("../assets/images/icon-form-h.svg");
        }

        &.icon-exams {
          background: url("../assets/images/icon-exams-h.svg");
        }
      }
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    .cicon {
      margin-top: 32px;
      
      @include grid-media($desktop-grid) {
        margin-top: 80px;
      }
    }

    .label {
      position: absolute;
      bottom: 24px;
      left: 24px;
      right: 24px;
      
      @include grid-media($desktop-grid) {
        bottom: 32px;
      }
    }
  }
}
.forms{
  &-body{
      padding-bottom: 80px;
      min-height: 240px;
  }
  &-title{
      text-align: center;
      margin: 20px 0 5px 0;
  }
  &-advice{
      text-align: center;
      color: #aaaaaa;
      font-weight: bold;
      margin-bottom: 30px;
  }
  &-form{
    text-align: center;
    cursor: pointer;
    border: 1px solid #00407b;
    border-radius: 20px;
    @include grid-column(6);
    margin-bottom: 20px;
  }
  &-form p{
      font-weight: bold;
      margin: 0px;
      padding: 10px;
  }
  &-btn{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    background: #00407b;
    color: #FFFFFF;
    padding: 10px;
  }
}
@media screen and(max-width: 600px){
  .forms{
    &-form{
      @include grid-column(12);
    }
    
  }
}