
.hnsn-app__view-convenios {
  overflow: hidden;
  .center-content {
    @include grid-media($desktop-grid) {
    }
  }
  .form{
    &-input.has-error, &-input[select].has-error, &-input-text.has-error {
        border-color: #dc3545;
    }
    &-label{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #909090;
        margin-bottom: 10px;
    }
    &-select{
        position: relative;
        padding: 0px!important;
    }
    &-input{
        border: 1px solid rgba(0,0,0,0.1);
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
        border-radius: 10px;
        display: inline-block;
        padding: 10px;
        width: 100%;
        &:focus{
            outline: none;
            border: 1px solid #009CDE;
            &:-webkit-input-placeholder{
                color: #009CDE;
            }
        }
        
        &-text{
            height: 150px;
            font-family: 'Source Sans Pro', sans-serif;
            resize: none;
            cursor: text;

        }
        &-file{
            border: dashed 2px rgba($color: #009CDE, $alpha: 0.5);
            // height: 150px!important;
            padding: 10px;
            position: relative;
       
            &:focus{
                border: dashed 2px rgba($color: #009CDE, $alpha: 1);
            }
        }
        
    }
    &-select{
        cursor: pointer;
        &-label{
            padding: 10px;
        }
    }
    &-row{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20px;
        @include grid-media($smartphone-grid){
            display: block;
            width: 100%;
            margin-bottom: 0px;
        }
    }
    &-group{
        &-1{
            width: 40%;
            margin-right: 4%;
            @include grid-media($smartphone-grid){
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }
        }
        &-2{
            width: 56%;
            margin-right: 4%;
            @include grid-media($smartphone-grid){
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }
        }
        &-3{
            width: 48%;
            margin-right: 4%;
            @include grid-media($smartphone-grid){
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }
        }
        &-4{
            width: 48%;
            @include grid-media($smartphone-grid){
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }
        }
        &-5{
            width: 100%;
            @include grid-media($smartphone-grid){
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }
        }
        &-6{
            width: 100%;
            min-height: 100px;
            @include grid-media($smartphone-grid){
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }
    &-sub{
        margin: auto;
        font-size: 14px;
        font-style: italic;
        color: #909090;
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }
    &-action{
        transition: all 250ms ease-in-out;
        display: block;
        padding: 18px 50px;
        float: right;
        background: #009CDE;
        outline: none;
        border: none;
        border-radius: 100px;
        text-decoration: none;
        margin-top: 20px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: #fff;
        &:hover {
            opacity: 0.9;
        }
        @include grid-media($desktop-grid) {
          height: 56px;
          padding: 0px 52px;
          line-height: 56px;
        }
    }
}

  .list-content{
    margin-top: 55px;
  }
  .alert-content{
    padding: 16px;
    margin-top: 72px;
    margin-bottom: 72px;
    background: #FDF4E9;
    border-radius: 8px;
    max-width: 1050px;
    p{
      font-family: "Source Sans Pro", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150.84%;
      color: #222222;

    }
  }
  .header-title{
    background: #E2F2FC;
    .center-content{
      padding-top: 30px;
      padding-bottom: 30px;
      .section-title {
        color: #009CDE;
        @include grid-media($desktop-grid) {
          margin-bottom: 10px;
          font-size: 42px;
        }
      }  
      .section-description{
        font-family: "Source Sans Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        max-width: 648px;
        color: #222222;
      }
    }
  }

  &-feature {
    div{
      z-index: 5;
      position: relative;
    }
    padding: 144px 64px 0 0;
    position: relative;
    float: left;
    width: 50%;
    height: 600px;
    display: none;

    @include grid-media($desktop-grid) {
      display: block;
    }
    
    &:hover {
      .feature-thumb {
        opacity: 0.8;
      }
    }

    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      content: "";
      width: 100%;
      background: linear-gradient(360deg, #009CDE 0%, rgba(0, 156, 222, 0) 171.75%);
    }

    &:after {
      filter: blur(20px);
      top: -100px;
      right: 90%;
      bottom: -100px;
      background: #009CDE;
    }

    .feature-date {
      display: block;
      margin: 0 0 32px 0;
      font-family: "Geomanist";
      font-weight: 700;
      font-size: 13px;
      color: #fff;
    }

    .feature-title {
      margin: 0 0 32px 0;
      font-family: "Geomanist";
      font-weight: 700;
      font-size: 32px;
      color: #fff;
    }

    .feature-desc {
      margin: 0 0 72px 0;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      color: #fff;
    }

    .feature-thumb {
      transition: all 250ms ease-in-out;
      z-index: -2;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: 100%;
    }

    .read-more {
      transition: all 250ms ease-in-out;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Geomanist";
      font-weight: 700;
      font-size: 16px;
      color: #fff;

      &:hover {
        opacity: 0.8;

        .cicon {
          transform: scale(1.2);
        }
      }

      .cicon {
        transition: all 250ms ease-in-out;
        margin-left: 8px;
        position: relative;
        top: 1px;
      }
    }
  }

  &-content {
    @include grid-media($desktop-grid) {
      float: left;
      // width: 50%;
      height: 600px;
      padding: 32px;
      background: #fff;
    }

    .img{
      max-height: 300px;
    }

    .search-bar {
      height: initial;
      margin-bottom: 100px;

      @include grid-media($desktop-grid) {
        margin-bottom: 32px;
        height: 40px;
      }

      &-form {
        margin-bottom: 8px;

        @include grid-media($desktop-grid) {
          width: 70%;
          margin-bottom: 0;
        }

        input {
          @include grid-media($desktop-grid) {
            width: 75%;
          }
        }
      }

      &-filter {
        width: 100%;
        text-align: left;

        @include grid-media($desktop-grid) {
          float: right;
          width: initial;
          text-align: left;
        }

        .icon-arrow-down {
          position: absolute;
          margin-top: -2px;
          top: 50%;
          right: 16px;

          @include grid-media($desktop-grid) {
            position: initial;
            margin-top: initial;
            top: initial;
            right: initial;
          }
        }
      }
    }
    

    .news-item {
      margin-bottom: 24px;
      display: block;
      text-decoration: none;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      color: #222;

      &:last-child {
        // margin-bottom: 0;
      } 
      .router-flex{
        display: flex;
        @media (max-width: 992px) {
            margin-bottom: 100px;
            display: block;
            .news-item-thumb{
              width: 100%;
            }
            .news-item-content{
              padding: 15px;
            }
        }

      }
      @include grid-media($desktop-grid) {
        margin-bottom: 32px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      }

      &-thumb {
        margin: 0 0 16px 0;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include grid-media($desktop-grid) {
          margin: 0;
          float: left;
          width: 35%;
          
        }
        &:after{
          content: "";
          position: relative;
          display: block;
          padding-top: 80%;
        }

        &.show-mobile {
          display: block;

          @include grid-media($desktop-grid) {
            display: none;
          }
        }

        &.show-desktop {
          display: none;

          @include grid-media($desktop-grid) {
            display: block;
          }
        }
      }
      
      //noticia!!
      &-content {
        @include grid-media($desktop-grid) {
          float: left;
          width: 65%;
          padding: 16px;
        }
      }

      &-date {
        display: block;
        margin: 0 0 8px 0;
        opacity: 0.4;
        font-size: 13px;

        @include grid-media($desktop-grid) {
          line-height: 11px;
          font-size: 11px;
        }
      }

      &-title {
        margin: 0 0 8px 0;
        // line-height: 24px;
        font-weight: 700;
        font-size: 24px;
        
        @include grid-media($desktop-grid) {
          line-height: 20px;
          font-size: 20px;
        }
      }

      &-desc {
        margin: 0;
        // line-height: 16px;
        opacity: 0.6;
        font-size: 16px;
        
        @include grid-media($desktop-grid) {
          line-height: 14px;
          font-size: 14px;
        }
      }
    }
  }
}