// Resets
body {
	margin: 0;
	font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: $c-bunker;
}

p {
	margin-top: 0;
}

* {
  box-sizing: border-box;
}

// Layout
.hnsn-app__view {
  overflow: hidden;
  padding: 24px;

  @include grid-media($desktop-grid) {
    padding: 0;
  }
}

.center-content {
  margin: 0 auto;
  @include outer-container;
}

.search-bar {
  position: relative;
  height: 40px;
  
  &-form {
    float: left;
    margin-right: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    
    @include grid-media($desktop-grid) {
      width: initial;
    }
    
    input {
      outline: none;
      float: left;
      margin: 0;
      padding: 0 16px;
      border: none;
      width: 70%;
      height: 38px;
      line-height: 38px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #a7a7a7;
      border-radius: inherit;
      
      @include grid-media($desktop-grid) {
        width: 320px;
      }
    }

    button {
      outline: none;
      float: right;
      cursor: pointer;
      margin: 0;
      padding: 0 16px;
      border: none;
      border-radius: inherit;
      height: 38px;
      background: #fff;
      line-height: 38px;
      text-transform: uppercase;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      font-size: 13px;
      color: #009CDE;
    }
  }


  &-filter {
    outline: none;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 0 16px;
    height: 40px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    text-transform: uppercase;
    line-height: 38px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #a7a7a7;

    &.active {
      .cicon.icon-arrow-down {
        transform: rotate(180deg);
      }
      
    }

    .cicon.icon-filter {
      margin-right: 8px;
      position: relative;
      top: 3px;
    }

    .cicon.icon-arrow-down {
      transition: all 250ms ease-in-out;
      margin-left: 8px;
      position: relative;
      top: -2px;
    }
  }

  &-filter-list {
    display: none;
    position: absolute;
    z-index: 10;
    top: 44px;
    right: 0;
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #ebebeb;
    border-right-width: 2px;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    list-style: none;
    text-transform: uppercase;
    line-height: 38px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 13px;

    &.active {
      display: block;
    }

    &-item {
      border-bottom: 1px solid #ebebeb;
      
      &.active {
        a {
          color: #009CDE;
        }
      }

      &.stopic {
        padding: 0 8px;
        font-weight: 600;
        font-size: 11px;
        color: #333;
      }
      
      a {
        display: block;
        padding: 0 64px 0 16px;
        line-height: 40px;
        text-decoration: none;
        color: #a7a7a7;
        
        &:hover {
          background: #f0f0f0;
        }

      }
    }
  }
}

// Utils
.v-align {
  display: table;
  width: 100%;
  height: 100%;

  .v-align-middle {
    display: table-cell;
    vertical-align: middle;
  }
}

.clearfix {
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

// Swiper
.swiper-container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  // overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  box-sizing: content-box;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}