.hnsn-app__view-detalhes {
  &-title {
    padding-left: 24px;
    padding-top: 24px;
    margin: 0;
    font-family: "Geomanist";
    font-size: 32px;
    color: #909090;
  }
  &-division{
    /* background-color: #ebebeb; */
    opacity: .2;
  }
}
.especialidades-e-detalhe{
  .slide-nav {
    display: none;
    height: 50px;
    margin-left: 30px;

    @include grid-media($desktop-grid) {
      display: block;
    }

    &-pag {
      float: left;
      line-height: 50px;
      height: 50px;
      font-family: "Geomanist";
      font-weight: 700;
      font-size: 20px;
      color: #009CDE;

      span {
        opacity: 0.3;
        margin-right: 24px;
        display: inline-block;

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }

    &-act {
      float: right;
      height: 50px;

      button {
        outline: none;
        cursor: pointer;
        position: relative;
        top: 50%;
        line-height: 0;
        margin: -16px 24px 0 0;
        padding: 0;
        border: none;
        background: transparent;
        display: inline-block;

        &:active {
          top: 51%;
        }

        &.swiper-button-disabled {
          opacity: 0.3;
        }
      }
    }
  }

}
.hnsn-app__view-posts {
  &-cards{
    .news-item {
      width: 100vw;
      margin-left: 24px;
      margin-bottom: 24px;
      display: block;
      text-decoration: none;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      color: #222;

      &:last-child {
        // margin-bottom: 0;
      } 
      .router-flex{
        display: flex;
        @media (max-width: 992px) {
            margin-bottom: 100px;
            display: block;
            .news-item-thumb{
              width: 100%;
            }
            .news-item-content{
              padding: 15px;
            }
        }

      }
      @include grid-media($desktop-grid) {
        margin-bottom: 32px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      }

      &-thumb {
        margin: 0 0 16px 0;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include grid-media($desktop-grid) {
          margin: 0;
          float: left;
          width: 35%;
          
        }
        &:after{
          content: "";
          position: relative;
          display: block;
          padding-top: 80%;
        }

        &.show-mobile {
          display: block;

          @include grid-media($desktop-grid) {
            display: none;
          }
        }

        &.show-desktop {
          display: none;

          @include grid-media($desktop-grid) {
            display: block;
          }
        }
      }
      
      //noticia!!
      &-content {
        @include grid-media($desktop-grid) {
          float: left;
          width: 65%;
          padding: 16px;
        }
      }

      &-date {
        display: block;
        margin: 0 0 8px 0;
        opacity: 0.4;
        font-size: 13px;

        @include grid-media($desktop-grid) {
          line-height: 11px;
          font-size: 11px;
        }
      }

      &-title {
        margin: 0 0 8px 0;
        // line-height: 24px;
        font-weight: 700;
        font-size: 24px;
        
        @include grid-media($desktop-grid) {
          line-height: 20px;
          font-size: 20px;
        }
      }

      &-desc {
        margin: 0;
        // line-height: 16px;
        opacity: 0.6;
        font-size: 16px;
        
        @include grid-media($desktop-grid) {
          line-height: 14px;
          font-size: 14px;
        }
      }
    }
  }
}
.hnsn-app__view-medicos {
  &-nav {
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    width: 72px;
		z-index: 999;

    @include grid-media($desktop-grid) {
      display: none;
    }

    a,
    button {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 50%;
      border: none;
      background: #F3F3F3;
      text-transform: uppercase;
      font-family: "Geomanist";
      font-weight: 700;
      font-size: 18px;
      color: #222;

      &.active {
        background: #02427D;
        color: #EDEDED;
      }

      .rotate-button {
        transform: rotate(-90deg);
        position: absolute;
        width: 100%;
        height: 72px;
        text-align: center;
      }
    }
  }

  &-sidebar {
    display: none;
    position: fixed;
    top: 65px;
    left: 72px;
    right: 0;
    bottom: 0;
    background: #fff;
    overflow: scroll;
		z-index: 999;

    @include grid-media($desktop-grid) {
      float: left;
      position: initial;
      border-right: 1px solid #ebebeb;
      display: block;
      width: 25%;
      overflow: initial;
    }

    &.active {
      display: block;
    }
  }

  &-panel {
    display: none;
    position: fixed;
    top: 65px;
    left: 72px;
    right: 0;
    bottom: 0;
    background: #fff;
    overflow: scroll;
		z-index: 999;

    @include grid-media($desktop-grid) {
      position: initial;
      display: block;
      float: left;
      width: 75%;
      overflow: initial;
    }

    &.active {
      display: block;
    }
  }

  &-profile {
    position: fixed;
    padding: 24px;
    top: 65px;
    left: 72px;
    right: 0;
    bottom: 0;
    background: #fff;
    overflow: scroll;

    @include grid-media($desktop-grid) {
      position: initial;
      overflow: initial;
    }

    .profile-back {
      outline: none;
      cursor: pointer;
      opacity: 0.4;
      display: block;
      margin: 0 0 32px 0;
      padding: 0;
      border: none;
      background: none;
    }

    .profile-thumb {
      margin: 0 0 32px 0;
      display: inline-block;
      background-size: cover;
      background-position: center;
      width: 88px;
      height: 88px;
      border-radius: 9999px;

      @include grid-media($desktop-grid) {
        float: left;
        margin-right: 32px;
        width: 170px;
        height: 170px;
      }
    }

    .profile-content {
      font-family: "Source Sans Pro", sans-serif;
      color: #222;
      
      @include grid-media($desktop-grid) {
        float: left;
        width: 70%;
      }

      &-title {
        margin: 0 0 8px 0;
        font-weight: 600;
        font-size: 20px;

        @include grid-media($desktop-grid) {
          font-size: 24px;
        }
      }

      &-info {
        font-size: 13px !important;
        color: #e39fae !important;

        @include grid-media($desktop-grid) {
          font-size: 16px !important;
        }

        b {
          font-weight: 400;
          color: #009CDE;
        }
      }

      p {
        margin-bottom: 32px;
        line-height: 24px;
        font-size: 16px;
        color: #222;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-header {
    position: relative;
    display: none;
    padding: 32px 0;
    border-bottom: 1px solid #ebebeb;

    @include grid-media($desktop-grid) {
      display: block;

      &:before {
        left: -100%;
        position: absolute;
        display: block;
        content: "";
        width: 1000%;
        height: 1px;
        background: #ebebeb;
        bottom: -1px;
      }
    }

    &.medicos-header {
      @include grid-media($desktop-grid) {
        padding-left: 24px;
      }
    }

    .search-bar {
      position: absolute;
      top: 28.5px;
      right: 0;
    }
  }

  &-title {
    margin: 0;
    font-family: "Geomanist";
    font-size: 32px;
    color: #009CDE;
  }

  &-search {
    height: 64px;
    border-bottom: 1px solid #ebebeb;

    &.medicos-search {
      @include grid-media($desktop-grid) {
        display: none;
      }
    }

    @include grid-media($desktop-grid) {
      margin: 24px 0;
      height: 40px;
      // margin-bottom: 40px;
      border-bottom: none;
    }

    .cicon {
      display: block;
      float: left;
      margin: 21px 16px 21px 24px;
      
      @include grid-media($desktop-grid) {
        margin: 9px 16px 9px 0;
      }
    }

    input {
      outline: none;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 75%;
      height: 63px;
      border: none;
      line-height: 63px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #a7a7a7;

      @include grid-media($desktop-grid) {
        width: 85%;
        height: 40px;
        line-height: 40px;
        // font-size: 24px;
      }
    }
  }

  &-list {
    margin: 0;
    padding: 24px;
    list-style: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 20px;

    @include grid-media($desktop-grid) {
      padding: 0;
      // font-size: 24px;
    }

    &-item {
      margin-bottom: 24px;

      @include grid-media($desktop-grid) {
        // margin-bottom: 32px;
      }

      &:last-child {
        margin-bottom: 0;

        @include grid-media($desktop-grid) {
          margin-bottom: 40px;
        }
      }

      a {
        transition: all 250ms ease-in-out;
        text-decoration: none;
        color: #222;
        
        &.active,
        &:hover {
          color: #009CDE;
        }
      }
    }
  }

  &-cards {
    padding: 24px;

    .card-item {
      transition: all 250ms ease-in-out;

      display: block;
      margin-bottom: 24px;

      &:nth-child(2n) {
        @include grid-media($desktop-grid) {
          margin-right: 0;
        }
      }

      @include grid-media($desktop-grid) {
        float: left;
        margin: 0 2% 2% 0;
        padding: 24px;
        width: 49%;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-thumb {
        float: left;
        display: inline-block;
        background-size: cover;
        background-position: center;
        margin-right: 16px;
        width: 40px;
        height: 40px;
        border-radius: 9999px;

        @include grid-media($desktop-grid) {
          width: 64px;
          height: 64px;
        }
      }

      &-content {
        float: left;
        width: 70%;
        font-family: "Source Sans Pro", sans-serif;
      }

      &-name {
        margin: 0 0 4px 0;
        font-weight: 600;
        font-size: 16px;
        color: #222;

        @include grid-media($desktop-grid) {
          font-size: 20px;
        }
      }

      &-desc {
        margin: 0;
        opacity: 0.4;
        font-size: 13px;
        color: #222;

        @include grid-media($desktop-grid) {
          font-size: 16px;
        }
      }
    }
    .card-item:hover{
      background: #002A51 !important;
      *{

        color: #fff !important;
      }
      
    }
  }
}
