.hnsn-app__footer {
  padding: 32px 24px;
  background: #00407B;

	@include grid-media($smartphone-tablet-grid) {
		.hnsn-app{
			&__selos{
				width: 100%;
				margin-top: 24px;
				position: static;
			}
		}
	}

  @include grid-media($desktop-grid) {
    padding: 80px 0 40px 0;
    background: #002A51;
  }

  &-widget {
    @include grid-media($desktop-grid) {
      float: left;
      width: 20%;
    }

    &.w12 {
      @include grid-media($desktop-grid) {
        width: 12%;
      }
    }

    &.w18 {
      @include grid-media($desktop-grid) {
        width: 18%;
      }
    }

    &.w23 {
      @include grid-media($desktop-grid) {
        width: 23%;
      }
    }

    &.w29 {
      @include grid-media($desktop-grid) {
        width: 29%;
      }
    }
    
    &.widget-copy,
    &.widget-menu,
    &.widget-partner {
      display: none;

      @include grid-media($desktop-grid) {
        display: block;
      }
    }
    
    &.widget-mobile {
      padding-bottom: 32px;
      margin-bottom: 32px;
      border-bottom: 1px solid #009CDE;
      
      @include grid-media($desktop-grid) {
        display: none;
      }
    }

    &.widget-partner {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid #009CDE;
      width: 100%;

      a {
        float: left;
        display: block;
        line-height: 0;
        margin-top: 17px;
      }

      button {
        outline: none;
        cursor: pointer;
        float: right;
        display: block;
        margin: 0;
        padding: 0;
        width: 56px;
        height: 56px;
        background: #CD5470;
        border-radius: 9999px;
        border: none;
        text-align: center;
        line-height: 56px;
      }
    }

    &-copy {
      margin-top: 24px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #E2F2FC
    }

    &-menu {
      &-list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        font-family: "Geomanist";
        font-size: 16px;
        color: #E2F2FC;

        @include grid-media($desktop-grid) {
          text-align: left;
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 400;
          font-size: 18px;
        }

        &-item {
          line-height: 0;

          @include grid-media($desktop-grid) {
            margin-bottom: 16px;
          }

          &.inline-item {
            display: inline-block;
            margin-right: 32px;
            
            @include grid-media($desktop-grid) {
              margin-right: 24px;
            }

            &:first-child {
              display: none;
            }

            &:last-child {
              margin-right: 0;
            }

            a {
              line-height: 0;
              
              &:hover {
                .cicon {
                  transform: scale(1.1);
                }
              }

              @include grid-media($desktop-grid) {
                width: 40px;
                height: 40px;
                background: #009CDE;
                border-radius: 9999px;
                text-align: center;
              }

              .cicon {
                float: initial;
                display: inline-block;
                margin-right: 0;
                
                @include grid-media($desktop-grid) {
                  margin-top: 8px;
                }
              }
            }
          }

          &:first-child {
            margin-bottom: 16px;
          }

          b {
            line-height: 24px;
            font-weight: 400;

            @include grid-media($desktop-grid) {
              font-weight: 700;
            }
          }

          a {
            transition: all 250ms ease-in-out;
            display: inline-block;
            line-height: 24px;
            text-decoration: none;
            color: #E2F2FC;

            &:hover {
              color: #fff;
            }

            .cicon {
              float: left;
              display: block;
              margin-right: 16px;
            }
          }
        }
      }
    }
  }
}
