.hnsn-app {
  &__header {
    position: relative;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 24px;

    &-logo {
      float: left;
      margin: 0;
      padding: 0;
      width: 89px;
      line-height: 0;

      @include grid-media($desktop-grid) {
        width: 124px;
      }

      a {
        display: block;

        img {
          &.logo-mobile {
            display: block;
            
            @include grid-media($desktop-grid) {
              display: none;  
            }
          }
          

          &.logo-desktop {
            display: none;
            margin-top: 10%;
            
            @include grid-media($desktop-grid) {
              display: block;  
            }
          }
        }
      }
    }

    &-whatsapp {
      float: right;
      position: relative;
      top: 2px;
      margin-right: 24px;
      display: block;
      width: 20px;
      line-height: 0;

      @include grid-media($desktop-grid) {
        display: none;
      }
    }

    &-telefone {
      float: right;
      position: relative;
      top: 2px;
      margin-right: 24px;
      display: block;
      width: 20px;
      line-height: 0;

      @include grid-media($desktop-grid) {
        display: none;
      }
    }

    &-menu {
      float: right;
      position: relative;
      top: 4px;
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      line-height: 0;

      @include grid-media($desktop-grid) {
        display: none;
      }

      &.active {
        top: -1.5px;

        .icon-menu {
          display: none;
        }

        .icon-close {
          display: block;
        }
      }

      .icon-close {
        display: none;
      }
    }

    &-info {
      display: none;
      float: right;

      @include grid-media($desktop-grid) {
        display: block;
      }

      &-list {
        margin: 0;
        padding: 0;
        list-style: none;

        &-item {
          display: inline-block;
          margin-right: 32px;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 16px;
          color: #909090;

          &:last-child {
            margin-right: 0;
          }

          .cicon {
            float: left;
            margin-right: 8px;
          }

          .item-content {
            float: left;

            b {
              display: block;
              line-height: 17px;
              text-transform: uppercase;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &__menu {
    position: relative;
    z-index: 1;
    display: none;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 13px;

    @include grid-media($desktop-grid) {
      display: block;
    }

    &.active {
      position: relative;
      display: block;
			z-index: 1000;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      
      @include grid-media($desktop-grid) {
        float: left;
      }

      &-item {
        border-bottom: 1px solid #ebebeb;

        &:last-child {
          margin-right: 0;
        }

        @include grid-media($desktop-grid) {
          display: inline-block;
          border-bottom: none;
          margin-right: 40px;
        }

        a {
          transition: all 250ms ease-in-out;
          display: block;
          padding: 16px 24px;
          text-decoration: none;
          opacity: 0.9;
          color: #222;

          &.router-link-exact-active,
          &:hover {
            opacity: 1;
            color: #009CDE;
          }

          @include grid-media($desktop-grid) {
            padding: 16px 0;
          }
        }
      }
    }

    &-search {
      margin: 16px 24px;
      padding: 0 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      line-height: 38px;

      &.active {
        display: block;
      }

      @include grid-media($desktop-grid) {
        display: none;
        float: right;
        margin: 5px 0 0;
      }

      &-input {
        display: block;
        float: left;
        margin: 0 16px 0 0;
        padding: 0;
        border: none;
        outline: none;
        line-height: 38px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
        color: #a7a7a7;
      }

      &-button {
        outline: none;
        cursor: pointer;
        display: block;
        float: right;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        line-height: 38px;
        text-transform: uppercase;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        font-size: 13px;
        color: #009CDE;
      }
    }

    &-search-toggle {
      outline: none;
      cursor: pointer;
      display: none;
      float: right;
      margin: 5px 0 0 16px;
      padding: 0;
      height: 38px;
      background: none;
      border: none;

      @include grid-media($desktop-grid) {
        display: block;
      }
    }
  }
}
