.hnsn-app__access {
  position: fixed;
  bottom: 0;
  right: 10px;
  left: 10px;
  @include grid-media($desktop-grid) {
    right: 25px;
    left: initial;
	}

  z-index: 900;
  .content-holder{
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    bottom: -190px;
    transition: .3s ease-in-out;
    .title{
      padding: 12px;
      text-align: center;
      font-family: "Source Sans Pro", sans-serif;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      align-items: center;
      color: #909090;
      transition: .3s ease-in-out;

    }
  }
  .active__menu{
    transition: .3s ease-in-out;

    bottom: 0px !important;
    .title{
      transition: .3s ease-in-out;
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      color: #009CDE;
    }
  }
  .medic-access{
    display: grid; 
    grid-column-gap: 0px;
    grid-template-columns: auto auto;
    padding: 0px 5px;
    @include grid-media($desktop-grid) {
      padding: 0px 48px;
    }
    a{
      /* margin: auto; */
      font-family: "Source Sans Pro", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #909090;
      text-decoration: none;
      padding: 10px;
      max-width: 163px;
      /* align-items: center; */
      small{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
      }
      i{
        margin-right: 6px;
        bottom: -5px;
        position: relative;
        float: left;
      }
    }
  }
  .client-access{
    display: grid; 
    grid-column-gap: 0px;
    grid-template-columns: auto auto;
    padding: 0px 5px;
    @include grid-media($desktop-grid) {
      padding: 0px 48px;
    }
  
    a{
      /* margin: auto; */
      font-family: "Source Sans Pro", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #909090;
      text-decoration: none;
      padding: 10px;
      max-width: 163px;
      /* align-items: center; */
      small{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
      }

      i{
        margin-right: 6px;
        bottom: -5px;
        position: relative;
        float: left;
      }
    }
  }
  .row{
    display: grid; 
    grid-column-gap: 0px;
    grid-template-columns: auto auto;
    position: relative;
    z-index: 901;

    .btn{
      &__pacientes{
        padding: 10px 15px !important;
        border: none;
        background: #E2F2FC;
        color: #009CDE;
        cursor: pointer;

        font-family: "Source Sans Pro", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 35px;
        letter-spacing: 0.01em;
        @include grid-media($desktop-grid) {
          font-size: 28px;
          padding: 20px 30px !important;
        }
    
        i{
          margin-right: 6px;
          bottom: -4px;
          position: relative;
        }
        
      }
      &__medicos{
        cursor: pointer;
        padding: 10px 15px !important;
        border: none;
        background: #DB7E93;
        color: #EDEDED;

        font-family: "Source Sans Pro", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 35px;
        letter-spacing: 0.01em;
        @include grid-media($desktop-grid) {
          font-size: 28px;
          padding: 20px 30px !important;
        }

        i{
          margin-right: 6px;
          bottom: -4px;
          position: relative;
        }
      }
    }
  }
}
.hnsn-app__view-home {
  margin-bottom: -24px;

  @include grid-media($desktop-grid) {
    margin-bottom: 0;
  }

  &-destaques {
    margin: -24px -24px 24px;
    
    @include grid-media($desktop-grid) {
      margin: 0;
    }
    
    &-slides {
      position: relative;
      z-index: 0;

      @include grid-media($desktop-grid) {
        float: left;
        width: 65%;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }

      &:before {
        opacity: 0.9;
        transition: all 250ms ease-in-out;
        position: absolute;
        z-index: 1;
        display: block;
        height: 500px;
        content: "";
        top: 0;
        left: -25%;
        right: 0;
        background: linear-gradient(71.13deg, #000000 -27.47%, rgba(0, 0, 0, 0) 82.5%);


        @include grid-media($desktop-grid) {
          left: -50%;
          height: 600px;
        }
      }

      .swiper-container {
        overflow: hidden;
        .swiper-wrapper {
          .swiper-slide {
            display: block;
          }
        }
      }

      .slide-background {
        transition: all 250ms ease-in-out;
        position: absolute;
        height: 500px;
        top: 0;
        left: -25%;
        right: 0;
        background-size: cover;

        @include grid-media($desktop-grid) {
          left: -50%;
          height: 600px;
        }
      }

      .slide-item {
        padding: 0 24px;
        height: 500px;

        @include grid-media($desktop-grid) {
          padding: 0;
          height: 600px;
        }

        &-title {
          margin: 64px 0 16px;
          line-height: 29px;
          font-family: "Geomanist";
          font-size: 24px;
          color: #FFFFFF;

          @include grid-media($desktop-grid) {
            margin: 64px 0 32px;
            line-height: 58px;
            font-size: 48px;
          }
        }

        &-border {
          width: 40px;
          height: 6px;
          background: #009CDE;
        }

        &-desc {
          margin: 16px 0;
          opacity: 0.8;
          line-height: 22px;
          font-family: "Geomanist";
          font-size: 16px;
          color: #FFFFFF;
          
          @include grid-media($desktop-grid) {
            margin: 32px 0;
            line-height: 28px;
            font-size: 20px;
          }
        }

        &-action {
          transition: all 250ms ease-in-out;
          display: inline-block;
          padding: 0 64px;
          height: 48px;
          line-height: 48px;
          background: #009CDE;
          border-radius: 100px;
          letter-spacing: 1px;
          text-decoration: none;
          text-transform: uppercase;
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 700;
          font-size: 13px;
          color: #fff;
					max-width: 400px;
					white-space: nowrap; 
					overflow: hidden;
					text-overflow: ellipsis;

          &:hover {
            opacity: 0.9;
          }
          
          @include grid-media($desktop-grid) {
            height: 56px;
            padding: 0 24px;
            line-height: 56px;
          }
        }
      }

      .slide-nav {
        display: none;
        height: 150px;

        @include grid-media($desktop-grid) {
          display: block;
        }

        &-pag {
          float: left;
          line-height: 150px;
          height: 150px;
          font-family: "Geomanist";
          font-weight: 700;
          font-size: 20px;
          color: #009CDE;

          span {
            opacity: 0.3;
            margin-right: 24px;
            display: inline-block;

            &.swiper-pagination-bullet-active {
              opacity: 1;
            }
          }
        }

        &-act {
          float: right;
          height: 150px;

          button {
            outline: none;
            cursor: pointer;
            position: relative;
            top: 50%;
            line-height: 0;
            margin: -16px 24px 0 0;
            padding: 0;
            border: none;
            background: transparent;
            display: inline-block;

            &:active {
              top: 51%;
            }

            &.swiper-button-disabled {
              opacity: 0.3;
            }
          }
        }
      }
    }

    &-sidebar {
      position: relative;
      z-index: 1;
      margin-top: -24px;

      @include grid-media($desktop-grid) {
        margin: 0;
        float: right;
        width: 35%;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }

      &:before,
      &:after {
        transition: all 250ms ease-in-out;
        opacity: 0.8;
        border-radius: 24px 24px 0 0;
        position: absolute;
        z-index: -1;
        display: block;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        height: 600px;
        background-image: url('../assets/images/para-voce.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        
        @include grid-media($desktop-grid) {
          border-radius: 0;
          right: -100%;
        }
      }
      
      &:after {
        opacity: 0.8;
        background: #009CDE;
      }

      .sidebar-content {
        position: relative;
        padding: 32px 24px 0;
        height: 500px;
        font-family: "Geomanist";
        font-weight: 700;
        color: #FFFFFF;

        @include grid-media($desktop-grid) {
          height: 600px;
        }
        
        @include grid-media($desktop-grid) {
          padding: 64px 32px 0;
        }

        &-title {
          margin: 0 0 24px 0;
          font-size: 32px;
          
          @include grid-media($desktop-grid) {
            margin: 0 0 32px 0;
            font-size: 48px;
          }
        }

        &-list {
          margin: 0;
          padding: 0;
          list-style: none;
          font-size: 18px;

          @include grid-media($desktop-grid) {
            font-size: 24px;
          }

          &-item {
            margin-bottom: 15px;
            @include grid-media($desktop-grid) {
              margin-bottom: 15px;
              @media screen and(max-height: 650px){
                margin-bottom: 10px;
              }
            }
            @include grid-media($smartphone-grid) {
              margin-bottom: 10px;
            }
            @include grid-media($tablet-grid) {
              margin-bottom: 10px;
            }
            a {
              transition: all 250ms ease-in-out;
              text-decoration: none;
              color: #fff;

              &:hover {
                opacity: 0.8;
              }
            }

            .cicon {
              position: relative;
              top: 9px;
              margin-right: 8px;
              
              @include grid-media($desktop-grid) {
                top: 6px;
                margin-right: 16px;
              }
            }
          }
        }

        &-action {
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          padding: 0 24px;
          display: inline-block;
          line-height: 48px;
          height: 48px;
          background: #DB7E93;
          text-decoration: none;
          font-weight: 16px;
          color: #E2F2FC;

          &:hover {
            .icon-arrow-right {
              transform: scale(1.2);
            }
          }

          @include grid-media($desktop-grid) {
            padding: 0 32px;
            right: initial;
          }

          .icon-doctor-o {
            margin-right: 16px;
            position: relative;
            top: 6px;
            
          }
          
          .icon-arrow-right {
            transition: all 150ms ease-in-out;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            right: 24px;

            @include grid-media($desktop-grid) {
              position: relative;
              margin-left: 16px;
              right: initial;
              margin-top: initial;
              top: 2px;
            }
          }
        }
      }

      .sidebar-footer {
        position: relative;
        padding: 24px;
        background: #00407B;
        font-family: "Geomanist";
        font-size: 16px;

        @include grid-media($desktop-grid) {
          padding: 32px 0 0 32px;
          height: 150px;
        }

        &:before {
          position: absolute;
          display: block;
          content: "";
          top: 0;
          left: 100%;
          width: 100%;
          height: 150px;
          background: #00407B;
        }

        &-list {
          float: left;
          margin: 0;
          padding: 0;
          list-style: none;
          width: 100%;
          color: #E2F2FC;
          text-align: center;
          
          @include grid-media($desktop-grid) {
            width: initial;
            text-align: left;
          }

          &:first-child {
            @include grid-media($desktop-grid) {
              margin-right: 16px;
            }
          }

          &:last-child {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid #009CDE;
            
            @include grid-media($desktop-grid) {
              margin-top: initial;
              padding-top: initial;
              border-top: none;
              border-left: 1px solid #009CDE;
              margin-left: 16px;
              padding-left: 16px;
            }
          }

          &-item {
            line-height: 24px;
            margin-bottom: 16px;

            &:last-child {
              margin-bottom: 0;
            }

            &.inline-item {
              display: inline-block;
              margin-right: 16px;
              margin-bottom: 0;
              line-height: 0;

              &:last-child {
                margin-right: 0;
              }

              a {
                &:hover {
                  .cicon {
                    transform: scale(1.1);
                  }
                }
                .cicon {
                  margin: 0;
                }
              }
            }

            a {
              display: inline-block;
              text-decoration: none;
              color: #E2F2FC;

              .cicon {
                float: left;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }

  &-convenios {
    margin: -24px -24px 0;
    padding: 24px;
    background: #E2F2FC;
    
    @include grid-media($desktop-grid) {
      margin: 0;
      padding: 40px 0 210px;
    }

    .section-title, .section-desc {
      @include grid-media($desktop-grid) {
        text-align: center;
      }
    }

    &-tabs {
      margin-bottom: 24px;
      padding-bottom: 16px;
      border-bottom: 1px solid #b0cddf;
      
      @include grid-media($desktop-grid) {
        margin: 0 auto 56px;
        max-width: 704px;
      }
      
      &-list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        line-height: 16px;
        text-transform: uppercase;
        font-family: "Geomanist";
        font-weight: 700;
        font-size: 13px;
        color: #8194a0;
        
        @include grid-media($desktop-grid) {
          line-height: 19px;
          font-size: 16px;
        }

        &-item {
          float: left;
          width: 33.3333%;
          display: block;

          div {
            cursor: pointer;

            &.active {
              margin-bottom: -17px;
              padding-bottom: 15px;
              border-bottom: 4px solid #009CDE;
              color: #009CDE;
            }
          }
        }
      }
    }

    &-panels {
      &-item {
        .panel-item {
          width: 100px;
					min-height: 100px;
          margin-bottom: 8px;
          position: relative;
          display: block;
          padding: 16px 24px;
          background-color: #fff;
					background-size: 70%;
					background-position: center;
					background-repeat: no-repeat;
          border-radius: 16px;
          text-decoration: none;
          font-family: "Source Sans Pro", sans-serif;
          color: #fff;
          margin: 0 0.5% 1%;
          float: left;

          @include grid-media($desktop-grid) {
            float: left;
            margin: 0 0.5% 1%;
            width: 24%;
            min-height: 240px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &:hover, &:active {
            .panel-item-thumb {
              opacity: 0;
            }
            
            .panel-item-content {
              background: #009CDE;
              opacity: 1;
            }
          }

          &-thumb {
            position: absolute;
            z-index: 0;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;

            img {
              margin: 0 auto;
              display: block;
              max-width: 80%;
              height: auto;
            }
          }

          &-content {
            transition: all 250ms ease-in-out;
            position: absolute;
            z-index: 1;
            display: block;
            padding: 16px 24px;
            opacity: 0;
            border-radius: inherit;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						box-sizing: border-box;
          }

          &-title {
            margin: 0 0 8px 0;
            line-height: 36px;
            font-weight: 600;
            font-size: 24px;
          }

          &-desc {
            margin: 0;
            line-height: 24px;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }
      @media screen and (min-width: 991px){
        .panel-item{
            width: 19%;
          }
          }
      @media screen and (max-width: 991px){
        .panel-item-title {
          font-size: 18px;
        }
        .panel-item-desc {
          display: none;
        }
      }
    }
  }

  &-noticias {
    display: none;
    overflow: hidden;
    margin-top: -140px;
    text-align: center;

    @include grid-media($desktop-grid) {
      display: block;
    }

    &-header {
      margin-right: 32px;
      position: relative;
      padding: 40px 0 136px;
      background: #009CDE;
      text-align: left;

      &:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 100%;
        background: #009CDE;
      }

      .section-title {
        margin-bottom: 40px;
        color: #fff;
      }

      .section-desc {
        margin: 0;
        color: #E2F2FC;
      }

      .next-button,
      .prev-button {
        outline: none;
        position: absolute;
        cursor: pointer;
        right: 56px;
        top: 135px;
        margin: 0;
        padding: 0;
        display: block;
        width: 48px;
        height: 48px;
        border: none;
        border-radius: 9999px;
        background: #fff;

        &:active {
          top: 136px;
        }

        &.swiper-button-disabled {
          opacity: 0.3;
        }
      }
      .prev-button {
        right: 144px;
      }
    }

    &-slides {
      position: relative;
      text-align: left;
      margin-bottom: 56px;

      .swiper-container {
        margin-top: -80px;
      }

      .slide-item {
        position: relative;
        

        &-link {
          display: block;
          text-decoration: none;
        }

        &-thumb {
          position: relative;
          display: block;
          margin: 0 0 40px 0;
          padding: 0;
          @media (min-width: 1561px){
            min-width: 503px!important;
          }
          .thumb-bg{
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            &:after{
              content: '';
              position: relative;
              display: block;
              padding-top: 65%;
            }
          }

          figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-right: 16px;
            line-height: 48px;
            height: 48px;
            background: #fff;
            font-family: "Geomanist";
            font-weight: 400;
            font-size: 16px;
            color: #009CDE;
          }

          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }

        &-title {
          margin: 0 0 32px 0;
          line-height: 36px;
          font-family: "Geomanist";
          font-weight: 700;
          font-size: 24px;
          color: #222;
        }

        &-date {
          margin: 0;
          line-height: 24px;
          font-family: "Geomanist";
          font-size: 16px;
          color: #909090;
        }

        &-link {

        }
      }
    }

    &-link {
      display: inline-block;
      margin: 0 0 56px 0;
      text-decoration: none;
      line-height: 24px;
      font-family: "Geomanist";
      font-weight: 700;
      font-size: 20px;
      color: #009CDE;
    }
  }
  
  &-videos {
    display: none;
    .center-content{
      display: flex;
      align-content: center;
      align-items: center;
    }
    padding: 32px 0;
    height: 469px;
    background: #222;

    @include grid-media($desktop-grid) {
      display: block;
    }

    &-side {
      margin-top: -100px;
      width: 40%;
    }

    .section-title {
      margin-bottom: 32px;
      color: #fff;
    }

    &-category {
      margin: 0 0 16px 0;
      text-transform: uppercase;
      line-height: 20px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      font-size: 13px;
      color: #009CDE;
    }

    &-desc {
      margin: 0 0 32px;
      line-height: 29px;
      font-family: "Geomanist";
      font-weight: 400;
      font-size: 24px;
      color: #fff;
    }

    &-next {
      &.deactived {
        opacity: 0;
        visibility: hidden;
      }

      .next-label {
        margin: 0 0 16px 0;
        text-transform: uppercase;
        line-height: 20px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        font-size: 13px;
        color: #FFFFFF;
      }

      .next-thumb {
        margin: 0;
        padding: 0;

        img {
          display: block;
          margin-bottom: 16px;
        }

        .next-title {
          line-height: 19px;
          font-family: "Geomanist";
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
        }
      }
    }

    &-slides {
      width: 60%;
      position: relative;

      .swiper-container {
        overflow: hidden;
        height: 405px;
      }

      .hnsn-app__view-home-videos-slides-nav {
        position: absolute;
        margin-top: -101px;
        top: 50%;
        right: -64px;
        width: 48px;
        text-align: center;
        line-height: 30px;
        font-family: "Geomanist";
        font-weight: 700;
        font-size: 16px;
        color: #fff;
      }

      .hnsn-app__view-home-videos-slides-total {
        margin: 8px 0;
      }

      .hnsn-app__view-home-videos-slides-next,
      .hnsn-app__view-home-videos-slides-prev {
        outline: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        display: block;
        width: 48px;
        height: 48px;
        border: 1px solid #fff;
        background: none;
        border-radius: 9999px;
        &.swiper-button-disabled {
          border-color: transparent;
          opacity: 0.5;

          .icon-slide-up {
            background: url("../assets/images/icon-slide-up-h.svg");
          }

          .icon-slide-down {
            background: url("../assets/images/icon-slide-down-h.svg");
          }
        }
      }

      .slide-item {
        position: relative;
        width: 700px;
        background: #fff;

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  
  &-newsletter {
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: none;
    padding: 88px 0 56px;
		clear: both;
    background-color: #E2F2FC;
    background-position: center right;
    background-size: 50% auto;
    background-repeat: no-repeat;
    text-align: center;

    &:before,
    &:after {
      opacity: 0.9;
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: #E2F2FC;
      filter: blur(0px);
    }

    &:after {
      z-index: 1;
      opacity: 1;
      left: -35%;
      filter: blur(50px);
    }

    @include grid-media($desktop-grid) {
      display: block;
    }

    .section-title,
    .section-desc,
    &-form {
      position: relative;
      z-index: 2;
    }

    .section-title {
      margin-bottom: 8px;
    }

    &-form {
      input {
        outline: none;
        display: inline-block;
        margin: 0 16px 0 0;
        padding: 0 24px;
        height: 56px;
        border: none;
        border-radius: 100px;
        background: #fff;
        line-height: 56px;
        font-family: "Geomanist";
        font-size: 18px;
        color: #ccc;
      }

      button {
        outline: none;
        cursor: pointer;
        display: inline-block;
        position: relative;
        top: -3px;
        margin: 0;
        padding: 0 56px;
        height: 56px;
        border: none;
        border-radius: 100px;
        background: #009CDE;
        line-height: 56px;
        text-transform: uppercase;
        font-family: "Geomanist";
        font-weight: 700;
        font-size: 13px;
        color: #fff;
      }
    }
  }
}
