@charset "UTF-8";

[data-icon]:before {
	font-family: "urban" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "urban" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-previous:before {
	content: "\61";
}
.icon-forward:before {
	content: "\62";
}
.icon-arrow:before {
	content: "\63";
}

.icon-bakery:before {
	content: "\68";
}
.icon-blueprint:before {
	content: "\69";
}
.icon-chat:before {
	content: "\6a";
}
.icon-chat-2:before {
	content: "\6b";
}
.icon-church:before {
	content: "\6c";
}
.icon-cooperation:before {
	content: "\6d";
}
.icon-ruler:before {
	content: "\6e";
}
.icon-pub:before {
	content: "\6f";
}
.icon-map:before {
	content: "\71";
}
.icon-integration:before {
	content: "\72";
}

.icon-instagram:before {
	content: "\75";
}
.icon-hospital:before {
	content: "\76";
}
.icon-swim:before {
	content: "\78";
}
.icon-gas:before {
	content: "\79";
}

.icon-signal:before {
	content: "\41";
}
.icon-shopping:before {
	content: "\42";
}
.icon-eye:before {
	content: "\43";
}
.icon-email:before {
	content: "\44";
}
.icon-sharing:before {
	content: "\45";
}
.icon-school:before {
	content: "\46";
}
.icon-drugstore:before {
	content: "\47";
}
.icon-cross:before {
	content: "\48";
}
.icon-sale:before {
	content: "\49";
}
.icon-success:before {
	content: "\4a";
}
.icon-info:before {
	content: "\4b";
}
.icon-alert:before {
	content: "\4c";
}
.icon-error:before {
	content: "\4d";
}
.icon-decoration:before {
	content: "\4e";
}
.icon-contrast:before {
	content: "\50";
}
.icon-picture:before {
	content: "\4f";
}
.icon-furniture:before {
	content: "\51";
}
.icon-play:before {
	content: "\53";
}
.icon-eye-o:before {
	content: "\55";
}
.icon-chat-3:before {
	content: "\56";
}
.icon-add:before {
	content: "\58";
}
.icon-mallet:before {
	content: "\59";
}
.icon-minus:before {
	content: "\52";
}

// Custom icons

.cicon {
	display: inline-block;
}

.icon-menu {
	width: 28px;
	height: 16px;
	background: url("../assets/images/icon-menu.svg");
}

.icon-search {
	width: 22px;
	height: 22px;
	background: url("../assets/images/icon-search.svg");
}

.icon-close {
	width: 28px;
	height: 27px;
	background: url("../assets/images/icon-close.svg");	
}

.icon-faq-w {
	width: 24px;
	height: 24px;
	background: url("../assets/images/icon-faq-w.svg");
}

.icon-whatsapp {
	width: 20px;
	height: 20px;
	background: url("../assets/images/icon-whatsapp.svg");
}

.icon-whatsapp-w {
	width: 24px;
	height: 24px;
	background: url("../assets/images/icon-whatsapp-w.svg");
}

.icon-whatsapp-b {
	width: 21px;
	height: 20px;
	background: url("../assets/images/icon-whatsapp-b.svg");
}

.icon-clock {
	width: 24px;
	height: 24px;
	background: url("../assets/images/icon-clock.svg");
}

.icon-phone {
	width: 24px;
	height: 24px;
	background: url("../assets/images/icon-phone.svg");
}

.icon-phone-mob {
	width: 24px;
	height: 24px;
	background: url("../assets/images/icon-phone-mob.svg");
}

.icon-location {
	width: 24px;
	height: 24px;
	background: url("../assets/images/icon-location.svg");
}

.icon-instagram-w {
	width: 24px;
	height: 24px;
	background: url("../assets/images/icon-instagram-w.svg");	
}

.icon-facebook {
	width: 14px;
	height: 20px;
	background: url("../assets/images/icon-facebook.svg");	
}

.icon-twitter {
	width: 18px;
	height: 17px;
	background: url("../assets/images/icon-twitter.svg");	
}

.icon-facebook-w {
	width: 24px;
	height: 24px;
	background: url("../assets/images/icon-facebook-w.svg");	
}

.icon-youtube-w {
	width: 24px;
	height: 24px;
	background: url("../assets/images/icon-youtube-w.svg");	
}

.icon-top {
	width: 14px;
	height: 8px;
	background: url("../assets/images/icon-top.svg");		
}

.icon-back {
	width: 16px;
	height: 17px;
	background: url("../assets/images/icon-back.svg");		
}

.icon-slide-next {
	width: 32px;
	height: 32px;
	background: url("../assets/images/icon-slide-next.svg");		
}

.icon-slide-prev {
	width: 32px;
	height: 32px;
	background: url("../assets/images/icon-slide-prev.svg");		
}

.icon-slide-up {
	width: 15px;
	height: 9px;
	background: url("../assets/images/icon-slide-up.svg");		
}

.icon-slide-down {
	width: 15px;
	height: 9px;
	background: url("../assets/images/icon-slide-down.svg");		
}

.icon-slide-prev {
	width: 32px;
	height: 32px;
	background: url("../assets/images/icon-slide-prev.svg");		
}

.icon-filter {
	width: 16px;
	height: 16px;
	background: url("../assets/images/icon-filter.svg");		
}

.icon-arrow-down {
	width: 8px;
	height: 4px;
	background: url("../assets/images/icon-arrow-down.svg");		
}

.icon-arrow-right {
	width: 9px;
	height: 14px;
	background: url("../assets/images/icon-arrow-right.svg");		
}

.icon-user {
	width: 54px;
	height: 54px;
	background: url("../assets/images/icon-user.svg");			
}

.icon-form {
	width: 54px;
	height: 68px;
	background: url("../assets/images/icon-form.svg");			
}

.icon-exams {
	width: 60px;
	height: 68px;
	background: url("../assets/images/icon-exams.svg");			
}

.icon-convenios-o {
	width: 32px;
	height: 32px;
	background: url('../assets/images/icon-convenios-o.svg');
}
.icon-exams-o {
	width: 32px;
	height: 32px;
	background: url('../assets/images/icon-exams-o.svg');
}
.icon-calendar-o {
	width: 32px;
	height: 32px;
	background: url('../assets/images/icon-calendar-o.svg');
}
.icon-call-o {
	width: 32px;
	height: 32px;
	background: url('../assets/images/icon-call-o.svg');
}
.icon-price-o {
	width: 32px;
	height: 32px;
	background: url('../assets/images/icon-price-o.svg');
}

.icon-doctor-o {
	width: 24px;
	height: 24px;
	background: url('../assets/images/icon-doctor-o.svg');
}
.icon-user-o {
	width: 24px;
	height: 24px;
	background: url('../assets/images/user_icon.svg');
}
/* rapido acesso */
.icon-acesso-medico-r {
	width: 24px;
	height: 24px;
	background: url('../assets/images/rapido-acesso-medico.svg');
}
.icon-formulario-medico-r {
	width: 24px;
	height: 24px;
	background: url('../assets/images/rapido-formulario-medico.svg');
}
.icon-portal-de-exames-r {
	width: 24px;
	height: 24px;
	background: url('../assets/images/rapido-portal-de-exames.svg');
}
.icon-fale-conosco-r {
	width: 24px;
	height: 24px;
	background: url('../assets/images/rapido-fale-conosco.svg');
}
.icon-resultado-de-exames-r {
	width: 24px;
	height: 24px;
	background: url('../assets/images/rapido-resultado-de-exames.svg');
}
.icon-paciente-internacional-r {
	width: 24px;
	height: 24px;
	background: url('../assets/images/rapido-paciente-internacional.svg');
}
.icon-ouvidoria-r {
	width: 24px;
	height: 24px;
	background: url('../assets/images/rapido-ouvidoria.svg');
}
.icon-especialidades-e-medicos-r {
	width: 24px;
	height: 24px;
	background: url('../assets/images/rapido-especialidades-e-medicos.svg');
}

.icon-international-o {
	width: 32px;
	height: 32px;
	background: url('../assets/images/icon-international-o.svg');
	background-repeat: no-repeat;
}