.hnsn-app__view-noticia {
  &-thumb {
		height: 400px;
		background-size: cover;
		background-position: center;
    
    @include grid-media($desktop-grid) {
      margin: 0 0 56px;
    }

    img {
      width: 100%;
      height: auto;

      &.show-mobile {
        display: block;

        @include grid-media($desktop-grid) {
          display: none;
        }
      }

      &.show-desktop {
        display: none;

        @include grid-media($desktop-grid) {
          display: block;
        }
      }
    }
  }
}

.post {
  @include grid-media($desktop-grid) {
    margin: 0 auto 56px;
    max-width: 700px;
  }

  &-content {
    margin-bottom: 24px;
    line-height: 22px;
    font-family: "Source Sans Pro", sans-serif;;
    font-weight: 400;
    font-size: 16px;
    color: #222;
    
    @include grid-media($desktop-grid) {
      margin-bottom: 56px;
      font-size: 18px;
    }

    time {
      display: block;
      margin-bottom: 24px;
      opacity: 0.4;
      font-size: 13px;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 24px 0;
      line-height: normal;
      font-weight: 700;
      font-size: 24px;
      color: #222;
      
      @include grid-media($desktop-grid) {
        font-size: 42px;
      }
    }

    p {
      margin: 0 0 24px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &-share {
    &-title {
      margin-bottom: 8px;
      text-transform: uppercase;
      line-height: 13px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.4);
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;

      &-item {
        display: inline-block;
        margin-right: 16px;

        &:last-child {
          margin-right: 0;
        }

        a {
          line-height: 44px;
          display: block;
          width: 40px;
          height: 40px;
          border: 2px solid #0B232A;
          border-radius: 9999px;
          text-align: center;
        }
      }
    }
  }
}
