
.hnsn-app__view-noticias {
  overflow: hidden;
  .center-content {
    @include grid-media($desktop-grid) {
    }
  }

  &-feature {
    div{
      z-index: 5;
      position: relative;
    }
    padding: 144px 64px 0 0;
    position: relative;
    float: left;
    width: 50%;
    height: 600px;
    display: none;

    @include grid-media($desktop-grid) {
      display: block;
    }
    
    &:hover {
      .feature-thumb {
        opacity: 0.8;
      }
    }

    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      content: "";
      width: 100%;
      background: linear-gradient(360deg, #009CDE 0%, rgba(0, 156, 222, 0) 171.75%);
    }

    &:after {
      filter: blur(20px);
      top: -100px;
      right: 90%;
      bottom: -100px;
      background: #009CDE;
    }

    .feature-date {
      display: block;
      margin: 0 0 32px 0;
      font-family: "Geomanist";
      font-weight: 700;
      font-size: 13px;
      color: #fff;
    }

    .feature-title {
      margin: 0 0 32px 0;
      font-family: "Geomanist";
      font-weight: 700;
      font-size: 32px;
      color: #fff;
    }

    .feature-desc {
      margin: 0 0 72px 0;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      color: #fff;
    }

    .feature-thumb {
      transition: all 250ms ease-in-out;
      z-index: -2;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: 100%;
    }

    .read-more {
      transition: all 250ms ease-in-out;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Geomanist";
      font-weight: 700;
      font-size: 16px;
      color: #fff;

      &:hover {
        opacity: 0.8;

        .cicon {
          transform: scale(1.2);
        }
      }

      .cicon {
        transition: all 250ms ease-in-out;
        margin-left: 8px;
        position: relative;
        top: 1px;
      }
    }
  }

  &-content {
    @include grid-media($desktop-grid) {
      float: left;
      // width: 50%;
      height: 600px;
      padding: 32px;
      background: #fff;
    }

    .img{
      max-height: 300px;
    }
    .section-title {
      @include grid-media($desktop-grid) {
        margin-bottom: 32px;
        font-size: 42px;
      }
    }

    .search-bar {
      height: initial;
      margin-bottom: 100px;

      @include grid-media($desktop-grid) {
        margin-bottom: 32px;
        height: 40px;
      }

      &-form {
        margin-bottom: 8px;

        @include grid-media($desktop-grid) {
          width: 70%;
          margin-bottom: 0;
        }

        input {
          @include grid-media($desktop-grid) {
            width: 75%;
          }
        }
      }

      &-filter {
        width: 100%;
        text-align: left;

        @include grid-media($desktop-grid) {
          float: right;
          width: initial;
          text-align: left;
        }

        .icon-arrow-down {
          position: absolute;
          margin-top: -2px;
          top: 50%;
          right: 16px;

          @include grid-media($desktop-grid) {
            position: initial;
            margin-top: initial;
            top: initial;
            right: initial;
          }
        }
      }
    }
    

    .news-item {
      margin-bottom: 24px;
      display: block;
      text-decoration: none;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      color: #222;

      &:last-child {
        // margin-bottom: 0;
      } 
      .router-flex{
        display: flex;
        @media (max-width: 992px) {
            margin-bottom: 100px;
            display: block;
            .news-item-thumb{
              width: 100%;
            }
            .news-item-content{
              padding: 15px;
            }
        }

      }
      @include grid-media($desktop-grid) {
        margin-bottom: 32px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      }

      &-thumb {
        margin: 0 0 16px 0;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include grid-media($desktop-grid) {
          margin: 0;
          float: left;
          width: 35%;
          
        }
        &:after{
          content: "";
          position: relative;
          display: block;
          padding-top: 80%;
        }

        &.show-mobile {
          display: block;

          @include grid-media($desktop-grid) {
            display: none;
          }
        }

        &.show-desktop {
          display: none;

          @include grid-media($desktop-grid) {
            display: block;
          }
        }
      }
      
      //noticia!!
      &-content {
        @include grid-media($desktop-grid) {
          float: left;
          width: 65%;
          padding: 16px;
        }
      }

      &-date {
        display: block;
        margin: 0 0 8px 0;
        opacity: 0.4;
        font-size: 13px;

        @include grid-media($desktop-grid) {
          line-height: 11px;
          font-size: 11px;
        }
      }

      &-title {
        margin: 0 0 8px 0;
        // line-height: 24px;
        font-weight: 700;
        font-size: 24px;
        
        @include grid-media($desktop-grid) {
          line-height: 20px;
          font-size: 20px;
        }
      }

      &-desc {
        margin: 0;
        // line-height: 16px;
        opacity: 0.6;
        font-size: 16px;
        
        @include grid-media($desktop-grid) {
          line-height: 14px;
          font-size: 14px;
        }
      }
    }
  }
}