.hnsn-app__view-ouvidoria{
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh;
    width: 100%;
    @include grid-media($desktop-grid) {
        margin-bottom: 0;
    }
    @media screen and (max-width: $max-lg) {
        padding: 0;
        min-height: unset;
        display: flex;
        margin-left: unset;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &--side{
        background-image: linear-gradient(to bottom, rgba(0, 156, 222, 0.0)
        , rgba(0, 156, 222, 1)), url('./../assets/images/lamp.png');
        background-size: cover;
        height: auto;
        width: 50%;
        float: left;
        min-height: 100vh;
        margin-left: 0!important;
        display: flex;
        justify-content: center;
        align-items: center;
        .image-title{
            color: #ffffff;
            font-family: "Geomanist";
            font-weight: 400;
            width: 80%;
            font-size: 32px;
            margin: auto;
        }

        @media screen and (max-width: $max-lg) {
            display: none;
        }
    }
    &--content{
        
        &--form{
            width: 100%;
        }


        @media screen and (min-width: $max-lg) {
            max-width: 650px;
            margin-left: unset !important;
            width: 85% !important;
        }

        @media screen and (min-width: 1200px) {
            width: 70% !important;
        }

        @media screen and (max-width: $max-lg) {
            margin-left: unset !important;
            width: 100% !important;
        }
    }
    &--main{
        padding: 45px 0px 0px 0px;

        @media screen and (min-width: $max-lg) {
            display: flex;
            justify-content: center;
            padding: 45px 0px 0px 0px;
        }

        @media screen and (max-width: $max-lg) {
            @include grid-column(12);
            padding-top: 0px;
            min-height: unset;
            width: 100% !important;
            margin-left: unset !important;
        }
    }
    //typography
    .form-title{
        color: #009CDE;
        font-family: "Geomanist";
        margin-bottom: 10px;
        margin-top: 0px;
        padding-top: 0px;
        font-size: 42px;
    }
    .form-excerpt{
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 150.8%;
        @media screen  and (min-width: 1320px){
            max-width: 120%!important;
        }
        @include grid-media($smartphone-grid){
            width: 100%!important;
        }
    }
    .form{
        &-input.has-error, &-input[select].has-error, &-input-text.has-error {
            border-color: #dc3545;
        }
        &-label{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            font-weight: 700;
            color: #909090;
            margin-bottom: 10px;
        }
        &-select{
            position: relative;
            padding: 0px!important;
        }
        &-input{
            border: 1px solid rgba(0,0,0,0.1);
            height: 40px;
            font-size: 14px;
            margin-top: 10px;
            border-radius: 10px;
            display: inline-block;
            padding: 10px;
            width: 100%;
            &:focus{
                outline: none;
                border: 1px solid #009CDE;
                &:-webkit-input-placeholder{
                    color: #009CDE;
                }
            }
            
            &-text{
                height: 150px;
                font-family: 'Source Sans Pro', sans-serif;
                resize: none;
                cursor: text;

            }
            &-file{
                border: dashed 2px rgba($color: #009CDE, $alpha: 0.5);
                // height: 150px!important;
                padding: 10px;
                position: relative;
           
                &:focus{
                    border: dashed 2px rgba($color: #009CDE, $alpha: 1);
                }
            }
            
        }
        &-select{
            cursor: pointer;
            &-label{
                padding: 10px;
            }
        }
        &-row{
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;
            margin-bottom: 20px;
            @include grid-media($smartphone-grid){
                display: block;
                width: 100%;
                margin-bottom: 0px;
            }
        }
        &-group{
            &-1{
                width: 40%;
                margin-right: 4%;
                @include grid-media($smartphone-grid){
                    width: 100%;
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
            &-2{
                width: 56%;
                @include grid-media($smartphone-grid){
                    width: 100%;
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
            &-3{
                width: 48%;
                margin-right: 4%;
                @include grid-media($smartphone-grid){
                    width: 100%;
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
            &-4{
                width: 48%;
                @include grid-media($smartphone-grid){
                    width: 100%;
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
            &-5{
                width: 100%;
                @include grid-media($smartphone-grid){
                    width: 100%;
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
            &-6{
                width: 100%;
                min-height: 100px;
                @include grid-media($smartphone-grid){
                    width: 100%;
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
        }
        &-sub{
            margin: auto;
            font-size: 14px;
            font-style: italic;
            color: #909090;
            text-align: center;
            padding: 0;
            margin-top: 10px;
        }
        &-action{
            transition: all 250ms ease-in-out;
            display: block;
            padding: 18px 50px;
            float: right;
            background: #009CDE;
            outline: none;
            border: none;
            border-radius: 100px;
            text-decoration: none;
            margin-top: 20px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            color: #fff;
            &:hover {
                opacity: 0.9;
            }
            @include grid-media($desktop-grid) {
              height: 56px;
              padding: 0px 52px;
              line-height: 56px;
            }
        }
    }
    .hnsn__dropdown{
        display: none;
        cursor: pointer;
        position: absolute;
        background: #fff;
        border: rgba(0,0,0,0.1) 1px solid;
        margin-top: -10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        font-weight: 500;  
        border-radius: 10px;
        z-index: 20;
        cursor: pointer;
        width: 100%;
        &--selected{
            color: #009CDE;
            font-weight: 500;  
        }
        li{
            padding: 10px;
            height: 40px;
            border-left: 1px solid #B9DBE9;
            border-right: 1px solid #B9DBE9;
            border-bottom: 1px solid #B9DBE9;
            &:hover{
                background-color: #009CDE;
                color: #fff;
            }
        }
        &--first{
            border-top-right-radius: 10px !important;
            border-top-left-radius: 10px !important;
        }
        &--last{
            border-bottom-right-radius: 10px !important;
            border-bottom-left-radius: 10px !important;
        }
        
    }
    .show{
        display: block;
    }
    .input-text{
        text-align: center;
    }
    // neat grid grids
    .col-12{
        @include grid-column(12);
    }
    .col-8{
        @include grid-column(8);
        @include grid-media($smartphone-grid){
            @include grid-column(12);
            width: 100%;
        }
        @include grid-media($small-desktop-grid){
            @include grid-column(12);
        }
    }
    .col-6{
        @include grid-column(6);
        @include grid-media($smartphone-grid){
            @include grid-column(12);
            margin-left: 0px;
            width: 100%;
        }
    }
    .push-1{
        @include grid-push(1);
        @include grid-media($smartphone-grid){
            @include grid-push(0);
            margin-left: 0px;
        }
    
    }
    //select
    /* The container must be positioned relative: */
    .custom-select {
        position: relative;
        width: 100%;
    }
    
    .custom-select select {
        // display: none; /*hide original SELECT element: */
        width: 100%;
    }
    
    .select-selected {
        background-color: #fff;
        padding: 10px;
        color: #009CDE;
        border: 1px solid rgba(0,0,0,0.1)!important;
        border-radius: 10px;
        font-weight: 600;
    }
    .text-italic{
        text-emphasis: 100;
    }
    .select-active{
        border: 1px solid #009CDE!important;
        color: #009CDE;
        background-color: unset;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    /* Style the arrow inside the select element: */
    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 20px;
        margin-left: 5px;
        width: 6px;
        height: 6px;
        transform: rotate(45deg);
        border-right: 2px solid rgba(0,0,0,.2);
        border-bottom: 2px solid rgba(0,0,0,.2);
        /* Firefox */
        -moz-transition: all 1s ease;
        /* WebKit */
        -webkit-transition: all 1s ease;
        /* Opera */
        -o-transition: all 1s ease;
        /* Standard */
        transition: all 1s ease;
    }
    
    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
        transform: rotate(225deg);
        /* Firefox */
        -moz-transform: rotate(225deg);
        /* WebKit */
        -webkit-transform: rotate(225deg);
        /* Opera */
        -o-transform: rotate(225deg);
        /* Standard */
        transform: rotate(225deg);
        border-color: #009CDE;
    }
    
    /* style the items (options), including the selected item: */
    .select-items div,.select-selected {
        color: #909090;
        padding: 10px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
    }
    
    /* Style items (options): */
    .select-items {
        position: absolute;
        background-color: #fff;
        top: 100%;
        margin-top: -5px;
        border: 1px solid #009CDE;
        border-radius: 10px;

        left: 0;
        right: 0;
        z-index: 99;
    }
    .select-selected{
        color: #009CDE;
        border: 1px solid #009CDE!important;
        margin-top: 10px;
        height: 40px;
        
    }
    /* Hide the items when the select box is closed: */
    .select-hide {
        display: none;
    }
    
    .select-items div:hover, .same-as-selected {
        color: #009CDE !important;
    }

}