.hnsn-app__view-quemsomos {
  margin: -24px -24px 0 -24px;

  @include grid-media($desktop-grid) {
    margin: 0;
  }

  &-section {
    
  }

  &-article {
    padding: 24px;

    @include grid-media($desktop-grid) {
      padding: 32px 64px 32px 0;
      float: left;
      width: 50%;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 32px 0;
      line-height: 38px;
      font-family: "Geomanist";
      font-size: 32px;
      color: #222;

      @include grid-media($desktop-grid) {
        line-height: 58px;
        font-size: 48px;
      }
    }

    p {
      margin: 0 0 32px 0;
      opacity: 0.8;
      line-height: 28px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #222;

      &:last-child {
        margin-bottom: 0;
      }

      @include grid-media($desktop-grid) {
        line-height: 32px;
        font-size: 18px;
      }
    }
  }

  &-gallery {
    position: relative;
    display: none;
    overflow: hidden; 

    &-nav {
      position: absolute;
      z-index: 2;
      right: 40px;
      bottom: 40px;

      button {
        position: relative;
        outline: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 48px;
        height: 48px;
        background: #fff;
        border: none;
        border-radius: 9999px;

        &:active {
          top: 1px;
        }

        &.swiper-button-disabled {
          opacity: 0.2;
        }
        
        &:first-child {
          margin-right: 40px;
        }
      }
    }

    @include grid-media($desktop-grid) {
      display: block;
      float: left;
      width: 50%;
    }

    .swiper-slide {
      display: block;

      img {
        display: block;
        width: auto;
        height: 100%;
      }
    }
  }

  &-cards {
    padding: 0 24px;

    @include grid-media($desktop-grid) {
      margin-bottom: 32px;
      padding: 0;
    }

    .card-item {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 350px;
      background-size: 100% auto;
      background-repeat: no-repeat;

      &:hover {
        &:before,
        &:after {
          opacity: 0.9;
        }
      }

      @include grid-media($desktop-grid) {
        height: 500px;
      }

      &:before,
      &:after {
        transition: all 250ms ease-in-out;
        position: absolute;
        z-index: 0;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
      
      &:after {
        opacity: 1;
        filter: blur(20px);
        bottom: 0;
        left: -10px;
        right: -10px;
        width: initial;
        height: 60%;
      }

      &.missao {
        background-image: url('../assets/images/missao.jpg');

        &:before,
        &:after {
          background: #009CDE;
        }
      }

      &.visao {
        background-image: url('../assets/images/visao.jpg');

        &:before,
        &:after {
          background: #E6B97E;
        }
      }

      &.valores {
        background-image: url('../assets/images/valores.jpg');

        &:before,
        &:after {
          background: #DB7E93;
        }
      }

      &-title,
      &-desc,
      &-list {
        position: absolute;
        z-index: 1;
        font-family: "Geomanist";
        color: #fff;
      }

      &-title {
        margin: 0;
        top: 32px;
        left: 24px;
        right: 24px;
        font-weight: 700;
        font-size: 40px;

        @include grid-media($desktop-grid) {
          font-size: 64px;
        }
      }

      &-desc,
      &-list {
        bottom: 32px;
        left: 24px;
        right: 24px;
        line-height: 26px;
        font-size: 16px;

        @include grid-media($desktop-grid) {
          top: 70%;
          bottom: initial;
          line-height: 34px;
          font-size: 24px;
        }
      }

      &-list {
        margin: 0 0 0 16px;
        padding: 0;
        
        @include grid-media($desktop-grid) {
          bottom: 32px;
          top: initial;
        }
      }
    }
  }
}
