.hnsn-app__view-servicos {
  position: relative;

  // &:after {
  //   position: absolute;
  //   z-index: 1;
  //   display: block;
  //   content: "";
  //   top: 0;
  //   bottom: 0;
  //   width: 13%;
  //   right: -10%;
  //   background: #fff;
  // }

  .section-title {
    position: relative;
    z-index: 0;
    color: #fff;

    @include grid-media($desktop-grid) {
      padding: 40px 0;
    }

    &.service {
      &:before {
        background: #00407B;
      }
    }

    &.partner {
      &:before {
        background: #CD5470;
      }
    }

    &:before {
      transition: background 500ms ease-in-out;
      position: absolute;
      z-index: -1;
      display: block;
      content: "";
      top: -24px;
      left: -100%;
      right: -100%;
      height: 200px;

      @include grid-media($desktop-grid) {
        height: initial;
        top: 0;
        bottom: -1000%;
        left: -1000%;
        right: 75%;
      }
    }
  }

  &-slides {
    position: relative;
    z-index: 1;

    .slide-item {
			display: flex;
			flex-flow: row;
			align-items: flex-start;
			justify-content: flex-start;
      position: relative;

			@include grid-media($smartphone-grid) {
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
				justify-content: flex-start;
			}

      &.swiper-slide-active {
        .slide-item-content {
          opacity: 1;
        }

        .slide-item-thumb {
          &.show-desktop {
            transform: scale(1);
          }
        }
      }

      &-thumb {
        &.show-mobile {
          display: block;
          margin-bottom: 32px;
          width: 100%;
          height: auto;

          @include grid-media($desktop-grid) {
            display: none;
          }
        }

        &.show-desktop {
          transition: transform 500ms ease-in-out;
          float: left;
          display: none;
          max-width: 380px;
          margin-right: 56px;
          transform: scale(.8);

          @include grid-media($desktop-grid) {
            display: block;
          }
        }
      }

      &-content {
        transition: opacity 500ms ease-in-out;
        opacity: 0;
        display: block;
        width: 100%;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        color: #000000;

        h1, h2, h3, h4, h5, h6 {
          margin: 0 0 32px 0;
          font-weight: 700;
          font-size: 24px;
        }

        p {
          margin-bottom: 32px;
          line-height: 28px;
          font-size: 16px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-nav {
    display: none;
    position: relative;
    z-index: 1;
    margin: 56px 0;

    @include grid-media($desktop-grid) {
      display: block;
    }

    button {
      outline: none;
      float: left;
      display: block;
      cursor: pointer;
      margin: 0 40px 0 0;
      padding: 0;
      border: none;
      background: none;
      line-height: 32px;
      text-transform: uppercase;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      font-size: 13px;
      color: #E2F2FC;

      &.swiper-button-disabled {
        .icon-wrapper {
          background: none;

          .icon-slide-prev {
            background: url('../assets/images/icon-slide-prev-d.svg');
          }

          .icon-slide-next {
            background: url('../assets/images/icon-slide-next-d.svg');
          }
        }
      }

      &.prev {
        .icon-wrapper {
          float: left;
          margin-right: 16px;
        }
      }

      &.next {
        .icon-wrapper {
          float: right;
          margin-left: 16px;
        }
      }

      .icon-wrapper {
        display: block;
        width: 32px;
        height: 32px;
        background: #fff;
        border-radius: 9999px;
      }
    }
  }
}
