// Fade Scale
.fade-scale-enter-active{
	transition: 1s $t-primary;
}

.fade-scale-leave-active{
	transition: .5s $t-primary;
}

.fade-scale-enter{
	transform: scale(.95);
	opacity: 0;
}

.fade-scale-leave-active{
	transform: scale(.95);
	opacity: 0;
}

// Letter Spacing
.letter-spacing-enter-active{
	transition: 1.5s $t-primary .5s;
}

.letter-spacing-leave-active{
	transition: 1.5s $t-primary;
	@include grid-media($smartphone-grid) {
		transition: 1.5s $t-primary .5s;
	}
}

.letter-spacing-enter{
	letter-spacing: 15px;
	transform: translateX(-50%);
	@include grid-media($smartphone-grid) {
		letter-spacing: 0;
		transform: translateX(0);
	}
}

.letter-spacing-leave-active{
	animation: letter-spacing-out 1s;
	transition: 1s;
	@include grid-media($smartphone-grid) {
		animation: line-height-out 1s;
		transform: translateX(0);
	}
}

@keyframes letter-spacing-out {
	0% {
		transform: translateX(0%);
		letter-spacing: 0;
	}
	20% {
		transform: translateX(10%);
		letter-spacing: 2px;
	}
	40% {
		transform: translateX(-100%);
		letter-spacing: 0px;
	}
	100% {
		transform: translateX(0%);
		letter-spacing: 0px;
	}
}

@keyframes line-height-out {
	0% {
		transform: translateY(0%);
	}
	20% {
		transform: translateY(10%);
		line-height: 40px;
	}
	40% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
		line-height: 20px;
	}
}

// Property Card
.property-card-enter-active{
	transition: 1.5s $t-primary !important;
	&.ub-card-property{
		&--md{
			.ub-card-property{
				&__container{
					transition: 1s $t-primary .5s;
				}
			}
		}
	}
}

.property-card-leave-active{
}

.property-card-enter{
	width: 100%;
	transform: translateX(100%);
	&.ub-card-property{
		&--md{
			.ub-card-property{
				&__container{
					opacity: 0;
					transform: translateX(50px);
				}
			}
		}
	}
}

.property-card-leave-active{
}

// Tab
.tab-enter-active{
	transition: .5s $t-primary;
}

.tab-leave-active{
	transition: .25s $t-primary;
}

.tab-enter{
	opacity: 0;
	transform: translateX(-10%);
}

.tab-leave-active{
	opacity: 0;
	transform: translateX(10%);
}

// Router
.router-enter-active{
	transition: .5s $t-primary;
}

.router-leave-active{
	transition: .5s $t-primary;
}

.router-enter{
	transform: scale(.9);
	opacity: 0;
}

.router-leave-active{
	transform: scale(1.1);
	opacity: 0;
}

// Contact
.contact-enter-active{
	transition: .5s $t-primary;
}

.contact-leave-active{
	transition: .25s $t-primary;
}

.contact-enter{
	opacity: 0;
	transform: scale(1.5) translateY(-100%);
}

.contact-leave-active{
	opacity: 0;
	transform: scale(1.5) translateY(100%);
}

// Contact Aside
.contact-aside-enter-active{
	transition: 1s $t-primary;
}

.contact-aside-leave-active{
	transition: 1s $t-primary;
}

.contact-aside-enter{
	width: 0px;
	padding: 0;
}

.contact-aside-leave-active{
	width: 0px;
	padding: 0;
}

// Card Urban
.card-urban-enter-active{
	transition: 3s $t-primary;
	&:before{
		transition: 2s $t-primary 1s;
	}
	.ub-card-urban{
		&__brand{
			transition: 1s $t-primary;
		}
		&__title{
			transition: 1s $t-primary .5s;
		}
		&__body{
			transition: 1s $t-primary 1s;
		}
		&__button{
			transition: 1s $t-primary 1.5s;
		}
	}
}

.card-urban-leave-active{
	//
}

.card-urban-enter,
.card-urban-active{
	&:before{
		opacity: 0;
		transform: translateX(10%) scale(1);
	}
	.ub-card-urban{
		&__brand,
		&__title,
		&__body,
		&__button{
			opacity: 0;
			transform: translateY(50px);
		}
	}
}

// Letter Spacing
.quiz-category-enter-active{
	transition: 1.5s $t-primary .5s;
}

.quiz-category-leave-active{
	transition: 1s ease-in-out;
}

.quiz-category-enter{
	opacity: 0;
	letter-spacing: 50px;
	top: 150%;
}

.quiz-category-leave-active{
	opacity: 0;
	letter-spacing: 50px;
	top: 150%;
}

// Urban Lina
.urban-line-enter-active{
	transition: 1s ease-out .25s;
}

.urban-line-enter{
	width: 0;
}
