@font-face {
  font-family: 'Geomanist';
  src: url('../assets/fonts/geomanist-regular-webfont.eot');
  src: url('../assets/fonts/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/geomanist-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/geomanist-regular-webfont.woff') format('woff'),
       url('../assets/fonts/geomanist-regular-webfont.ttf') format('truetype'),
       url('../assets/fonts/geomanist-regular-webfont.svg#geomanistregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../assets/fonts/hinted-Geomanist-Bold.eot');
  src: url('../assets/fonts/hinted-Geomanist-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/hinted-Geomanist-Bold.woff2') format('woff2'),
       url('../assets/fonts/hinted-Geomanist-Bold.woff') format('woff'),
       url('../assets/fonts/hinted-Geomanist-Bold.ttf') format('truetype'),
       url('../assets/fonts/hinted-Geomanist-Bold.svg#geomanistregular') format('svg');
  font-weight: 700;
  font-style: normal;
}

.section-title {
  margin: 0 0 24px 0;
  line-height: 32px;
  font-family: "Geomanist";
  font-weight: 700;
  font-size: 32px;
  color: #222;

  @include grid-media($desktop-grid) {
    margin-bottom: 8px;
    line-height: 58px;
    font-size: 48px;
  }
}

.section-desc {
  margin: 0 0 40px 0;
  line-height: 19px;
  font-family: "Geomanist";
  font-weight: 400;
  font-size: 16px;
  color: #616e76;
  
  @include grid-media($desktop-grid) {
    margin-bottom: 56px;
    line-height: 24px;
    font-size: 20px;
  }
}