// Colors
$c-bunker: #0F0F14;
$c-charcoal: #3F3F43;
$c-loblolly: #B7B7B8;
$c-black: #0F0F14;
$c-white: #F0F4FA;
$c-warn: #E02020;
$c-accent: #F4B82C;
$c-pale-grey: #f8f9fb;
$c-dark: #0f0f14;
$c-green: #3fd17e;
$c-blue: #3146ff;
$c-brown: #a5843c;

// Transitions
$t-primary: cubic-bezier(.25, .8, .25, 1);
$t-elastic: cubic-bezier(.75,-0.5,0,1.75);
