<template>
	<nav class="ub-contact-nav"
		:class="[
			`ub-contact-nav--${direction}`,
			`ub-contact-nav--${size}`
		]"
	>
		<router-link :to="{ name: 'contact-sales' }"
			v-if="sales"
			class="ub-contact-nav__button ub-contact-nav__button--dark"
		>
			<span class="ub-contact-nav__icon icon icon-sale">
			</span>

			<div class="ub-contact-nav__container">
				<span class="ub-contact-nav__subtitle">
					{{ $t('components.contact.nav.sale.subtitle') }}
				</span>
				<span class="ub-contact-nav__title">
					{{ $t('components.contact.nav.sale.title') }}
				</span>
			</div>
		</router-link>

		<router-link :to="{ name: 'contact-work' }" class="ub-contact-nav__button" v-if="work">
			<span class="ub-contact-nav__icon icon icon-mallet">
			</span>

			<div class="ub-contact-nav__container">
				<span class="ub-contact-nav__subtitle">
					{{ $t('components.contact.nav.work.subtitle') }}
				</span>
				<span class="ub-contact-nav__title">
					{{ $t('components.contact.nav.work.title') }}
				</span>
			</div>
		</router-link>

		<router-link :to="{ name: 'contact-sales' }" class="ub-contact-nav__button" v-if="whatsapp">
			<span class="ub-contact-nav__icon icon icon-phone">
			</span>

			<div class="ub-contact-nav__container">
				<span class="ub-contact-nav__subtitle">
					{{ $t('components.contact.nav.sale.subtitle') }}
				</span>
				<span class="ub-contact-nav__title">
					83 3343-6365  |  83 99103-2141
					<span class="icon icon-whatsapp"></span>
				</span>
			</div>
		</router-link>

		<router-link :to="{ name: 'contact-talk' }" class="ub-contact-nav__button" v-if="talk">
			<span class="ub-contact-nav__icon icon"
				:class="{
					'icon-chat': size != 'sm',
					'icon-email': size == 'sm'
				}"
			>
			</span>

			<div class="ub-contact-nav__container">
				<span class="ub-contact-nav__subtitle">
					{{ size == 'sm' ? 'Email' : $t('components.contact.nav.talk.subtitle') }}
				</span>
				<span class="ub-contact-nav__title">
					{{ size == 'sm' ? 'urban@urban.com.br' : $t('components.contact.nav.talk.title') }}
				</span>
			</div>
		</router-link>
	</nav>
</template>

<script>
export default {
	props: {
		direction: {
			type: String,
			default: 'vertical'
		},
		size: {
			type: String,
			default: 'md'
		},
		whatsapp: {
			type: Boolean,
			default: false
		},
		talk: {
			type: Boolean,
			default: true
		},
		work: {
			type: Boolean,
			default: true
		},
		sales: {
			type: Boolean,
			default: true
		}
	}
}
</script>

<style lang="scss">
.ub-contact-nav{
	display: flex;
	&__button{
		color: $c-black;
		display: flex;
		background: white;
		text-decoration: none;
		align-items: center;
		box-sizing: border-box;
		position: relative;
		transition: .4s $t-primary;
		&--dark{
			background: $c-black;
			color: white;
		}
		.icon{
			line-height: 70%;
		}
	}
	&__icon{
		line-height: 70%;
	}
	&__subtitle{
		display: block;
		text-transform: uppercase;
	}
	&__title{
		//
	}

	&--horizontal{
		&.ub-contact-nav--sm{
			flex-direction: row-reverse;
			.ub-contact-nav{
				&__container{
				}
			}
		}

		&.ub-contact-nav--md{
			.ub-contact-nav{
				&__button{
					margin: 0 15px;
					flex-flow: column;
					text-align: center;
					&:first-child{
						margin-left: 0;
					}
					&:last-child{
						margin-right: 0;
					}
				}
				&__container{
					padding: 0 70px 50px;
				}
				&__icon{
					padding: 50px 50px 30px;
				}
				&__subtitle{
					margin-bottom: 10px;
				}
			}
		}
	}

	&--vertical{
		flex-flow: column;
		.ub-contact-nav{
			&__button{
				max-width: 400px;
			}
		}

		&.ub-contact-nav--sm{
			flex-direction: column-reverse;
		}

		&.ub-contact-nav--md{
			.ub-contact-nav{
				&__button{
					margin: 15px 0;
					&:first-child{
						margin-top: 0;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
				&__container{
					padding: 30px 40px 30px 0px;
				}
				&__icon{
					padding: 40px;
				}
				&__subtitle{
					margin-bottom: 5px;
				}
			}
		}
	}

	&--sm{
		.ub-contact-nav{
			&__button{
				padding: 30px;
				flex: 1;
				&--dark{
					.ub-contact-nav{
						&__icon{
							background: transparent;
						}
						&__subtitle{
							display: none;
						}
						&__title{
							text-transform: uppercase;
							font-size: 12px;
						}
					}
				}
			}
			&__subtitle{
				font-size: 10px;
				letter-spacing: 1.1px;
				font-weight: 700;
				opacity: .4;
			}
			&__title{
				font-size: 14px;
				letter-spacing: .2px;
				font-weight: 700;
			}
			&__icon{
				width: 48px;
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: $c-pale-grey;
				font-size: 22px;
			}
			&__container{
				margin-left: 30px;
			}
		}
	}

	&--md{
		.ub-contact-nav{
			&__button{
				flex: 1;
				box-shadow: 2px 6px 10px 0 rgba(0, 0, 0, 0.08);
				&:hover{
					transform: scale(1.07);
					box-shadow: 4px 8px 15px 0 rgba(0, 0, 0, 0.08);
				}
			}
			&__icon{
				font-size: 60px;
			}
			&__subtitle{
				font-size: 10px;
				letter-spacing: 1.5px;
			}
			&__title{
				font-size: 24px;
				font-weight: 700;
				line-height: 26px;
				display: block;
			}
		}
	}

	@include grid-media($smartphone-grid) {
		&--vertical,
		&--horizontal{
			&.ub-contact-nav{
				&--md,
				&--lg{
					.ub-contact-nav{
						&__icon{
							padding: 20px;
							font-size: 40px;
						}
						&__title{
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
</style>
