<template>
	<div class="ub-contact-address"
		:class="[
			`ub-contact-address--${direction}`,
			{
				'ub-contact-address--dark': dark
			}
		]"
	>
		<span class="ub-contact-address__title ub-title ub-title--serif">
			{{ $t('components.contact.address.title') }}
		</span>

		<div class="ub-contact-address__items">
			<div class="ub-contact-address__item">
				<span class="ub-contact-address__city ub-subhead">
					João Pessoa
				</span>
				<span class="ub-contact-address__street">
					Av. Nossa Senhora dos Navegantes<br />
					nº188, sl.06, Tambaú 
				</span>
			</div>

			<div class="ub-contact-address__item">
				<span class="ub-contact-address__city ub-subhead">
					Campina Grande
				</span>
				<span class="ub-contact-address__street">
					R. José Francisco Sobrinho, nº80<br />
					Centenário
				</span>
			</div>
		</div>

		<div class="ub-contact-address__phones">
			<div class="ub-contact-address__phone">
				<ub-button-icon name="icon-phone" :rounded="false" size="sm" :dark="dark">
				</ub-button-icon>
				<span class="ub-contact-address__number">
					83 3343-6365
				</span>
			</div>

			<div class="ub-contact-address__phone">
				<ub-button-icon name="icon-whatsapp" :rounded="false" size="sm" :dark="dark">
				</ub-button-icon>
				<span class="ub-contact-address__number">
					83 99103-2141
				</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		dark: {
			type: Boolean,
			default: false
		},
		direction: {
			type: String,
			default: 'horizontal'
		}
	}
}
</script>

<style lang="scss">
.ub-contact-address{
	clear: both;
	min-width: 280px;
	@include grid-container;
	&__title{
		margin-bottom: 20px;
	}
	&__items{
	}
	&__item{
	}
	&__city{
	
	}
	&__street{
		font-size: 14px;
		font-weight: 300;
		color: rgba($c-black, .6);
		display: block;
		line-height: 29px;
		letter-spacing: 1.5px;
	}
	&__phones{
	}
	&__phone{
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		.ub-button-icon{
			margin-right: 20px;
		}
	}
	&__number{
		font-size: 14px;
		font-weight: 700;
	}

	&--dark{
		color: white;
		.ub-contact-address{
			&__street{
				color: rgba(white, .8);
			}
		}
	}

	&--horizontal{
		.ub-contact-address{
			&__title{
				@include grid-column(12);
			}
			&__items{
				display: flex;
				@include grid-column(8);
			}
			&__item{
				width: 50%;
			}
			&__phones{
				@include grid-column(3);
			}
		}
	}
	&--vertical{
		.ub-contact-address{
			&__title{
				margin-bottom: 40px;
				display: block;
			}
			&__item{
				margin-bottom: 20px;
			}
			&__items{
				margin-bottom: 40px;
			}
		}	
	}
}
</style>
