<template>
	<div class="ub-contact-action">
		<div class="ub-container">
			<ub-contact-nav :direction="viewport == 'smartphone' ? 'vertical' : 'horizontal'">
			</ub-contact-nav>

			<ub-contact-address :direction="viewport == 'smartphone' ? 'vertical' : 'horizontal'">
			</ub-contact-address>

			<transition name="urban-line" :appear="true">
				<div class="ub-contact__line">
				</div>
			</transition>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	computed: {
		...mapGetters({
			viewport: 'getViewport'
		})
	}
}
</script>

<style lang="scss">
.ub-contact-action{
	padding: 120px 0;
	clear: both;
	position: relative;
	overflow: hidden;
	@include grid-container;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -2;
		background: linear-gradient(to bottom, #eaedf5 0%, #f8f9fb 100%);
		background-size: cover;
		background-position: center;
	}
	.ub-contact-nav{
		clear: both;
		position: relative;
		z-index: 10;
		@include grid-column(12);
	}
	.ub-contact-address{
		padding-top: 100px;
		position: relative;
		z-index: 10;
	}

	@include grid-media($smartphone-grid) {
		padding: 40px 0;
		.ub-contact-nav{
			@include grid-column(12);
		}
		.ub-contact-address{
			padding-top: 40px;
			@include grid-column(12);
		}
	}
}
</style>
