<template>
	<div class="ub-contact-property">
		<span class="ub-contact-property__title ub-title ub-title--serif ub-title--sm">
			{{ title }}
		</span>

		<div class="ub-contact-property__slideshow swiper-container">
			<div class="swiper-wrapper">
				<div class="ub-contact-property__slide swiper-slide"
					v-for="(image, index) in images"
					:style="{ 'background-image': `url(${image.path})` }"
					:key="index"
				>
				</div>
			</div>
		</div>

		<nav class="ub-contact-property__pagination">
		</nav>
	</div>
</template>

<script>
import Swiper from 'swiper'

export default {
	props: {
		title: {
			type: String,
			default: ''
		},
		images: {
			type: Array,
			default: () => []
		}
	},

	data: () => ({
		swiper: null
	}),

	watch: {
		images() {
			this.$nextTick(() => {
				this.swiper.update()
				this.swiper.slideTo(0)
			})
		}
	},

	mounted() {
		this.init()
	},

	destroyed() {
		this.swiper.destroy()
	},

	methods: {
		init() {
			this.swiper = new Swiper(this.$el.querySelector('.ub-contact-property__slideshow'), {
				slidesPerView: 1,
				autoplay: {
					delay: 3000,
					disableOnInteraction: false
				},
				/*
				pagination: {
					el: this.$el.querySelector('.ub-contact-property__pagination'),
					type: 'bullets',
					clickable: true,
				},
				*/
				speed: 800
			})
		}
	}
}
</script>

<style lang="scss">
.ub-contact-property{
	background: $c-dark;
	&__title{
		position: absolute;
		bottom: 80px;
		left: 30px;
		color: white;
		z-index: 10;
	}
	&__slideshow{
		height: 100%;
	}
	&__slide{
		background-position: center;
		background-size: cover;
		z-index: 10;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				to bottom,
				rgba(black, 0) 0%,
				rgba(black, 0) 30%,
				rgba(black, .8) 100%
			);
		}
	}
	&__pagination{
		position: absolute;
		bottom: 0;
		left: 30px;
		right: 30px;
		display: flex;
		z-index: 10;
		span{
			width: 60px;
			height: 80px;
			margin-right: 10px;
			border-radius: 0;
			opacity: .5;
			background: transparent;
			position: relative;
			outline: none;
			&:before{
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				top: 50%;
				margin-top: -2px;
				background: white;
			}
			&.swiper-pagination-bullet-active{
				opacity: 1;
			}
		}
	}
}
</style>
