<template>
	<div class="ub-accordion" :class="{'is-active': active}">
		<div class="ub-accordion__wrapper">
			<slot></slot>
		</div>
	</div>
</template>

<script>
import { TweenMax, Power2 } from 'gsap/TweenMax'

export default {
	props: {
		active: {
			type: Boolean,
			default: false
		},
		duration: {
			type: Number,
			default: .5
		}
	},

	watch: {
		active(value) {
			let wrapper = this.$el.querySelector('.ub-accordion__wrapper'),
				height = value ? wrapper.firstChild.clientHeight : 0

			TweenMax.to(wrapper, this.duration, {
				height: height,
				ease: Power2.easeInOut
			})
		}
	}
}
</script>

<style lang="scss">
.ub-accordion{
	&__wrapper{
		height: 0;
		overflow: hidden;
	}
	&.is-active{
		.ub-accordion{
			&__wrapper{
				height: auto;
			}
		}
	}
}
</style>
