<template>
	<div class="ub-alert"
		:class="[`ub-alert--${type}`]"
	>
		<span class="ub-alert__icon icon" :class="[`icon-${type}`]">
		</span>

		<span class="ub-alert__subhead ub-subhead">
			{{ subhead }}
		</span>

		<span class="ub-alert__title ub-title ub-title--sm">
			{{ title }}
		</span>
	</div>
</template>

<script>
export default {
	props: {
		type: {
			type: String,
			default: 'success'
		},
		subhead: {
			type: String,
			default: ''
		},
		title: {
			type: String,
			default: ''
		}
	},
	data: () => ({
		
	})
}
</script>

<style lang="scss">
.ub-alert{
	width: 340px;
	// background: white;
	// box-shadow: 2px 6px 30px 0 rgba(0, 0, 0, 0.08), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	padding: 50px;
	box-sizing: border-box;
	text-align: center;
	&__icon{
		font-size: 70px;
	}
	&__subhead{
		opacity: .5;
		margin-bottom: 10px;
		display: block;
	}
	&__title{
		opacity: .8;
	}
	&--success{
		.ub-alert{
			&__icon{
				color: $c-green;
			}
		}
	}
	&--error{
		.ub-alert{
			&__icon{
				color: red;
			}
		}
	}
	&--alert{
		.ub-alert{
			&__icon{
				color: orange;
			}
		}
	}
	&--info{
		.ub-alert{
			&__icon{
				color: blue;
			}
		}
	}
}
</style>
