<template>
	<div class="ub-circle">
		<span class="ub-circle__icon icon" :class="[icon]">
			<svg class="ub-circle__progress" width="42" height="42" viewBox="0 0 42 42">
				<circle cx="21" cy="21" r="18" fill="none" stroke="#ffffff" stroke-width="5"
					stroke-dasharray="113.076"
					:stroke-dashoffset="113.076 * (1 - (progress / 100))"
				/>
			</svg>
		</span>
		<span class="ub-circle__label">
			{{ label }}
		</span>
	</div>
</template>

<script>
import { TweenMax, Power2 } from 'gsap/TweenMax'

export default {
	props: {
		icon: {
			type: String,
			default: 'icon-decoration'
		},
		label: {
			type: String,
			default: 'Decoração'
		},
		value: {
			type: Number,
			default: 50 // 0 | 100
		}
	},
	
	data: () => ({
		progress: 0
	}),

	mounted() {
		TweenMax.to(this, 2, {
			progress: this.value,
			ease: Power2.easeOut
		})
	}
}
</script>

<style lang="scss">
.ub-circle{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
	flex-flow: column;
	&__progress{
		transform: rotate(-90deg);
		position: absolute;
		circle {
			// animation: circle 1s linear alternate infinite;
		}
	}
	&__icon{
		width: 32px;
		height: 32px;
		border: 5px solid transparent;
		border-radius: 32px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		margin-right: 10px;
		background: rgba(white, .1);
	}
	&__label{
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		display: block;
		margin-top: 10px;
		font-weight: 700;
	}

	@keyframes circle {
		from {
			stroke-dashoffset: 0;
		}
		to {
			stroke-dashoffset: 100;
		}
	}
}
</style>
