<template>
	<div class="ub-message"
		:class="[
			`ub-message--${theme}`
		]"
	>
		<slot></slot>
	</div>
</template>

<script>
export default {
	props: {
		theme: {
			type: String,
			default: 'primary', // primary, accent, warn
		}
	}
}
</script>

<style lang="scss">
.ub-message{
	padding: 15px;
	font-size: 14px;
	&--primary{
		background: $c-dark;
		color: white;
	}
	&--accent{
		background: $c-accent;
		color: $c-dark;
	}
	&--warn{
		background: $c-warn;
		color: white;
	}
}
</style>
