<template>
	<div class="ub-modal"
		:class="{ 'ub-modal--dark': dark }"
	>
		<ub-button-icon
			class="ub-modal__close"
			name="icon-close"
			size="lg" @click="onClose"
			v-if="timeout == 0"
			:borderless="true"
			:dark="dark"
		/>

		<div class="ub-modal__container">
			<slot></slot>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		dark: {
			type: Boolean,
			default: false
		},
		timeout: {
			type: Number,
			default: 0
		}
	},

	mounted() {
		document.addEventListener('keydown', this.onKeyDown) 

		if (this.timeout > 0)
			setTimeout(this.close, this.timeout)
	},

	destroyed() {
		document.removeEventListener('keydown', this.onKeyDown)
	},

	methods: {
		close() {
			this.$emit('close')
		},

		onClose() {
			this.close()
		},

		onKeyDown(event) {
			if (event.keyCode == 27)
				this.close()
		}
	}
}
</script>

<style lang="scss">
.ub-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 300;
	overflow: auto;
	background: rgba(248, 249, 251, 1);
	&__container{
		flex: 1;
		padding: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;
		height: 100%;
		box-sizing: border-box;
		> * {
			max-width: 100%;
		}
	}
	&__close{
		position: absolute !important;
		top: 20px;
		right: 20px;
		z-index: 10;
	}
	&--dark{
		background: rgba($c-dark, 1);
	}

	@include grid-media($smartphone-grid) {
		.ub-modal{
			&__container{
				// padding: 30px;
			}
		}
	}
}
</style>
