<template>
	<div class="ub-slideshow"
		:class="{
			'ub-slideshow--dark': dark,
			'ub-slideshow--loaded': loaded
		}"
	>
		<div class="ub-slideshow__container swiper-container">
			<div class="ub-slideshow__wrapper swiper-wrapper">
				<slot></slot>
			</div>
		</div>

		<div class="ub-slideshow__footer" v-if="pagination || arrows">
			<nav class="ub-slideshow__pagination swiper-pagination" v-if="pagination">
			</nav>
			<span class="ub-slideshow__caption" v-html="caption">
			</span>
			<nav class="ub-slideshow__navigation" v-if="arrows">
				<button class="ub-slideshow__prev swiper-prev icon icon-previous"></button>
				<button class="ub-slideshow__next swiper-next icon icon-forward"></button>
			</nav>
		</div>
	</div>
</template>

<script>
import Swiper from 'swiper'

export default {
	props: {
		pagination: {
			type: Boolean,
			default: true
		},
		arrows: {
			type: Boolean,
			default: true
		},
		dark: {
			type: Boolean,
			default: false
		},
		options: {
			type: Object,
			default: () => ({})
		},
		caption: {
			type: String,
			default: null
		}
	},

	data: () => ({
		swiper: null,
		loaded: false
	}),

	mounted() {
		setTimeout(() => {
			this.init()
			this.loaded = true
		}, 100)
	},

	destroyed() {
		this.swiper.destroy()
	},

	methods: {
		init() {
			this.$el.querySelectorAll('.swiper-wrapper > *')
				.forEach(slide => slide.classList.add('swiper-slide'))

			this.swiper = new Swiper(this.$el.querySelector('.ub-slideshow__container'),
				Object.assign(this.options, {
					pagination: {
						el: this.$el.querySelector('.ub-slideshow__pagination'),
						type: 'bullets',
						clickable: true
					},
					navigation: {
						nextEl: this.$el.querySelector('.ub-slideshow__next'),
						prevEl: this.$el.querySelector('.ub-slideshow__prev'),
					},
					slidesPerPage: 3,
					spaceBetween: 40,
					speed: 800
				})
			)
		},

		previous() {
			this.swiper.slidePrev()
		},

		next() {
			this.swiper.slideNext()
		},

		update() {
			this.swiper.update()
		}
	}
}
</script>

<style lang="scss">
.ub-slideshow{
	clear: both;
	position: relative;
	width: 100%;
	&__footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px;
	}
	&__wrapper{
		opacity: 0;
		transition: .3s $t-primary;
	}
	&__pagination{
		position: static !important;
		text-align: left !important;
		flex: 1;
		span{
			width: 60px;
			height: 80px;
			margin-right: 10px;
			border-radius: 0;
			opacity: 1;
			background: transparent;
			position: relative;
			outline: none;
			&:before{
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				top: 50%;
				margin-top: -2px;
				background: gray;
			}
			&.swiper-pagination-bullet-active:before{
				background: black;
			}
		}
	}
	&__navigation{
		
	}
	&__prev,
	&__next{
		width: 44px;
		height: 44px;
		background: transparent;
		border: 0;
		font-size: 16px;
		line-height: 70%;
		cursor: pointer;
		outline: none;
	}
	&__caption{
		font-size: 14px;
		text-transform: uppercase;
		display: block;
		letter-spacing: 5px;
	}


	&--dark{
		.ub-slideshow{
			&__pagination{
				span{
					&:before{
						background: rgba(white, .3);
					}
					&.swiper-pagination-bullet-active:before{
						background: white;
					}
				}
			}
			&__prev,
			&__next{
				color: white;
			}
		}
	}

	&--loaded{
		.ub-slideshow{
			&__wrapper{
				opacity: 1;
			}
		}
	}

	@include grid-media($smartphone-grid) {
		.ub-slideshow{
			&__container{
				height: calc(100% - 41px);
			}
			&__pagination{
				display: flex;
				justify-content: center;
				border-top: 1px solid rgba(black, 0.1);
				span{
					width: initial;
					flex: 0 40px;
					margin: 0 4px;
					height: 40px;
				}
			}
			&__navigation{
				display: none;
			}
			&__footer{
				padding: 0;
			}
		}
	}
}
</style>
