<template>
	<div class="ub-toolbar" :class="{'is-active': active}">
		<div class="ub-toolbar__wrapper">
			<button class="ub-toolbar__brand" @click="$router.push({ name: 'home' })">
				<img :src="brand">
			</button>

			<ub-button-hamburger v-model="active">
			</ub-button-hamburger>

			<ub-nav-social 
			:face="false" 
			:twiter="false" 
			ref="social" 
			:direction="viewport != 'smartphone' ? direction : 'horizontal'" 
			@update:direction="direction = $event"
			@instagram="onSocialClick">
			</ub-nav-social>
		</div>

		<div class="ub-toolbar__expand">
			<ub-nav-lang :value="i18n.locale" @input="onLangChange">
			</ub-nav-lang>

			<transition name="letter-spacing">
				<ub-nav-list @click.native="close" v-if="active">
					<slot></slot>
				</ub-nav-list>
			</transition>

			<a href="http://qualitare.com" target="_blank" class="ub-toolbar__qualitare">
				<img :src="require('@/assets/images/qualitare.svg')" alt="Feito com Qualitare">
			</a>
		</div>
		<span class="ub-toolbar__overlay" @click="close">
		</span>
	</div>
</template>

<script>
import { i18n } from '@/lang'
import { mapGetters } from 'vuex'

export default {
	

	computed: {
		...mapGetters({
			viewport: 'getViewport'
		})
	},

	watch: {
		active(value) {
			this.$refs.social.toggle()
		}
	},

	methods: {
		onSocialClick(){
			window.open('http://instagram.com/viva.urban', '_blank')
		},
		open() {
			this.active = true
			this.$emit('open')
		},

		close() {
			this.active = false
			this.$emit('close')
		},

		toggle() {
			if (this.active)
				this.close()
			else
				this.open()
		},

		onLangChange(locale) {
			this.$router.push(`/${locale}`)
			this.close()
		}
	}
}
</script>

<style lang="scss">
.ub-toolbar{
	width: 80px;
	z-index: 100;
	&__overlay{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		background: rgba(black, 0.75);
		transition: 1s $t-primary;
		z-index: -1;
	}
	&__wrapper{
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		padding: 20px 0;
		box-sizing: border-box;
		background: white;
		height: 100%;
		position: relative;
		z-index: 100;
	}
	&__expand{
		position: absolute;
		background: white;
		width: 65%;
		top: 0;
		bottom: 0;
		left: -100%;
		transition: 1s $t-elastic;
		margin-left: 80px;
		z-index: 50;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		.ub-nav-lang{
			padding: 30px 40px;
			position: absolute;
			top: 0;
			right: 0;
		}
		.ub-nav-list{
			min-width: 280px;
		}
	}
	&__brand{
		background: transparent;
		border: 0;
		padding: 10px;
		outline: none;
		position: relative;
		transform-origin: 0% 0%;
		transition: .25s $t-primary .2s;
		cursor: pointer;
		img{ 
			width: 50px;
			height: auto;
		}
		&:after{
			content: "";
			position: absolute;
			background: white;
			bottom: 10px;
			right: 13px;
			width: 24px;
			height: 8.8px;
			transition: .5s $t-primary;
			opacity: 1;
		}
	}
	&__qualitare{
		position: absolute;
		bottom: 25px;
		right: 40px;
	}

	.ub-button-hamburger{
		position: absolute;
		top: 50%;
		left: 40px;
		transform: translate(-50%, -50%);
	}

	.ub-nav-social{
		position: absolute;
		bottom: 25px;
		left: 25px;
	}

	&.is-active{
		.ub-toolbar{
			&__overlay{
				opacity: 1;
				visibility: visible;
			}
			&__expand{
				left: 0%;
				padding-left: 10%;
				margin-left: -10%;
				transition: 1s $t-primary .25s;
				&:before{
					opacity: 0;
				}
			}
			&__brand{
				transform: scale(2);
				transition: .3s $t-primary .4s;
				&:after{
					opacity: 0;
				}
			}
		}
	}

	@include grid-media($smartphone-grid) {
		height: 80px;
		width: 100%;
		.ub-toolbar{
			&__wrapper{
				padding: 20px;
				flex-flow: row;
				align-items: center;
			}
			&__brand{
				padding: 0;
				&:after{
					height: 6.8px;
					right: 0;
					bottom: 2px;
				}
			}
			&__expand{
				width: 100%;
				height: 100%;
				left: 0;
				top: -100%;
				margin: 0;
				overflow: auto;
				align-items: flex-start;
			}
			&__qualitare{
				right: 20px;
			}
		}
		.ub-nav-social{
			position: fixed;
			bottom: 100%;
			left: 20px;
			transition: .8s $t-elastic .05s;
			opacity: 0;
		}
		.ub-nav-lang{
			display: none;
		}
		.ub-button-hamburger{
			position: static;
			transform: translate(0, 0);
		}
		.ub-nav-list{
			margin: -50px 20px 0;
		}
		&.is-active{
			.ub-toolbar{
				&__expand{
					top: 0;
					padding-left: 0;
					margin-left: 0;
					left: 0;
				}
				&__brand{
					transform: scale(1);
					&:after{
						opacity: 1;
					}
				}
			}
			.ub-nav-social{
				bottom: 30px;
				opacity: 1;
				transition: .8s $t-primary .35s;
			}
		}
	}
}
</style>
