<template>
	<div class="ub-video" :style="{ 'background-image': `url(${background})` }">
		<div class="ub-video__wrapper">
			<span class="ub-video__title">
				{{ title }}
			</span>
			<ub-button-icon name="icon-play" size="lg" :dark="true" @click="watch">
			</ub-button-icon>
			<ub-button v-if="button" :dark="true" :raised="true" size="sm" @click="onClick">
				Entrar no site
			</ub-button>
		</div>

		<transition name="fade-scale">
			<ub-modal v-if="active" @close="active = false" :dark="true">
				<iframe :src="video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</ub-modal>
		</transition>
	</div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: ''
		},
		background: {
			type: String,
			default: ''
		},
		video: {
			type: String,
			default: ''
		},
		button: {
			type: Boolean,
			default: true
		}
	},
	data: () => ({
		active: false
	}),
	methods: {
		watch() {
			this.active = true
		},
		onClick(event) {
			this.$emit("click")
		}
	}
}
</script>

<style lang="scss">
.ub-video{
	background-size: cover;
	background-position: center;
	position: relative;
	&__wrapper{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
		padding-top: 240px;
		z-index: 10;
		&:after{
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: url(~@/assets/images/urban-mask.png);
			background-position: center 65%;
			background-size: 150%;
			opacity: .4;
			z-index: -1;
		}
		&:before{
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: radial-gradient(circle at 50% 27%, rgba($c-dark, 0) 0%, rgba($c-dark, 1) 100%);
			z-index: -1;
		}
	}
	&__title{
		font-size: 13px;
		letter-spacing: 12px;
		text-transform: uppercase;
		color: white;
	}
	.ub-button{
		width: 200px;
	}
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&:after{
		content: "";
		display: block;
		padding-top: 55%;
	}

	@include grid-media($smartphone-grid) {
		.ub-video{
			&__wrapper{
				padding-top: 100px;
			}
		}
	}
}
</style>
