<template>
	<canvas class="ub-wave" :class="{ 'ub-wave--filled': fill }">
	</canvas>
</template>

<script>
import { TweenMax, Sine, TweenLite } from 'gsap/TweenMax'

export default {
	props: {
		fill: {
			type: Boolean,
			default: false
		},
		background: {
			type: String,
			default: ''
		},
		height: {
			type: Number,
			default: 0.8
		},
		speed: {
			type: Number,
			default: 1.5
		}
	},

	data: () => ({
		context: null,
		waves: [],
		resized: true,
		size: {
			width: 0,
			height: 0
		},
		resolution: window.devicePixelRatio || 1,
		loaded: false,
		bg: {
			x: 0,
			y: 0,
			gradient: null,
			image: null
		}
	}),

	mounted() {
		this.context = this.$el.getContext('2d')

		// Set background
		if (this.background) {
			this.bg.image = document.createElement('img')
			this.bg.image.src = this.background
			this.bg.y = this.size.height
		}

		window.addEventListener('resize', event => {
			this.resized = true
		})

		TweenLite.ticker.addEventListener('tick', this.update);

		this.resize()

		this.add({
			duration: .7,
			fillStyle: () => {
				let gradient = this.context.createLinearGradient(0, 0, this.size.width, 0, 0)

				gradient.addColorStop(0, 'rgba(84, 137, 242, .4)')
				gradient.addColorStop(1, 'rgba(244, 174, 89, .4)')

				return gradient
			},
			frequency: 2,
			width: this.size.width,
			height: this.size.height,
			segments: 20,
			amplitude: 20,
			delay: .2,
			waveHeight: this.size.height * this.height,
		})

		this.add({
			duration: .7,
			fillStyle: () => {
				let gradient = this.context.createLinearGradient(0, 0, this.size.width, 0, 0)

				gradient.addColorStop(0, 'rgba(221, 79, 155, .4)')
				gradient.addColorStop(1, 'rgba(90, 244, 141, .4)')

				return gradient
			},
			frequency: 1.5,
			width: this.size.width,
			height: this.size.height,
			segments: 20,
			amplitude: 20,
			waveHeight: this.size.height * this.height,
		})

		this.translate(this.fill)
	},

	destroyed() {
		TweenLite.ticker.removeEventListener("tick", this.update);
	},

	watch: {
		fill(value) {
			this.translate(value)
		}
	},

	methods: {
		translate(value) {
			this.waves.forEach((wave, index) => {
				let old = wave.amplitude,
					current = index + 1

				TweenMax.to(wave, this.speed, {
					waveHeight: value ? this.size.height / 7 : this.size.height * this.height,
					ease: Sine.easeInOut,
				})

				TweenMax.to(wave, this.speed, {
					amplitude: value ? this.size.width * .07 : 10,
					ease: Sine.easeInOut,
					yoyo: true,
				})

				TweenMax.to(this.bg, this.speed, {
					y: value ? 0 : this.size.height,
					ease: Sine.easeInOut
				})
			})
		},

		update() {
			let len = this.waves.length;

			if (this.resized) {
				this.resize()

				for (var i = 0; i < len; i++)
					this.waves[i].resize(this.size.width, this.size.height)

				this.resized = false
			}

			// Clear
			this.context.clearRect(0, 0, this.size.width, this.size.height)

			if (this.background) {
				// Draw background
				this.context.globalCompositeOperation="source-over"
				// this.context.drawImage(this.bg.image, this.bg.x, this.bg.y, this.size.width, this.size.height)
				this.drawImageProp(this.context, this.bg.image, this.bg.x, this.bg.y, this.size.width, this.size.height, 0.5, 0.5)

				// Create gradient
				this.bg.gradient = this.context.createLinearGradient(0, this.bg.y, 0, this.bg.y + this.size.height);
				this.bg.gradient.addColorStop(0, "rgba(0, 0, 0, 0)");
				this.bg.gradient.addColorStop(0.3, "rgba(0, 0, 0, 0.1)");
				this.bg.gradient.addColorStop(1, 'rgba(0, 0, 0, 0.2)');

				// Draw gradient
				this.context.globalCompositeOperation="destination-in"
				this.context.fillStyle = this.bg.gradient
				this.context.fill()
			}

			// Draw waves
			this.context.globalCompositeOperation = "overlay"

			for (var i = 0; i < len; i++)
				this.waves[i].draw()
		},

		add(options = {}) {
			let context = this.context,
				wave = {
					// Properties
					amplitude: options.amplitude || 200,
					context: context,
					curviness: options.curviness || 0.75,
					duration: options.duration || 2,
					fillStyle: options.fillStyle() || "rgba(33,150,243,1)",
					frequency: options.frequency || 4,
					height: options.height || 600,
					points: [],
					segments: options.segments || 100,
					tweens: [],
					waveHeight: options.waveHeight || 300,
					width: options.width || 800,
					x: options.x || 0,
					y: options.y || 0,

					// Methods
					init() {
						this.kill()

						var segments = this.segments
						var interval = this.width / segments

						for (var i = 0; i <= segments; i++) {
							let norm = i / segments,
								point = {
									x: this.x + i * interval,
									y: 1
								}

							var tween = TweenMax.to(point, this.duration, {
								y: -1,
								repeat: -1,
								yoyo: true,
								ease: Sine.easeInOut
							}).progress(norm * this.frequency)

							this.tweens.push(tween)
							this.points.push(point)
						}
					},

					draw() {
						let points = this.points,
							len = points.length,
							startY = this.waveHeight,
							height = this.amplitude / 2

						context.beginPath()
						context.moveTo(points[0].x, startY + points[0].y * height)

						for (var i = 1; i < len; i++) {
							let point = points[i]
							context.lineTo(point.x, startY + point.y * height)
						}

						context.lineTo(this.x + this.width, this.y + this.height)
						context.lineTo(this.x, this.y + this.height)
						context.closePath()
						context.fillStyle = wave.fillStyle
						context.fill()
					},

					resize(width, height) {
						this.width = width
						this.height = height

						let points = this.points,
							len = points.length,
							interval = this.width / this.segments

						for (let i = 0; i < len; i++) {
							let point = points[i]
							point.x = this.x + i * interval
						}
					},

					kill() {
						let tweens = this.tweens,
							len = tweens.length

						for (var i = 0; i < len; i++) {
							tweens[i].kill()
						}

						tweens.length = 0
						this.points.length = 0
					}
			}

			wave.init()

			this.waves.push(wave)

			return wave
		},

		resize() {
			this.size.width = this.$el.parentNode.clientWidth
			this.size.height = this.$el.parentNode.clientHeight

			this.$el.width  = this.size.width * this.resolution
			this.$el.height = this.size.height * this.resolution

			this.$el.style.width = this.size.width + "px"
			this.$el.style.height = this.size.height + "px"

			this.context.scale(this.resolution, this.resolution)
		},

		/**
		* By Ken Fyrstenberg Nilsen
		*
		* drawImageProp(context, image [, x, y, width, height [,offsetX, offsetY]])
		*
		* If image and context are only arguments rectangle will equal canvas
		*/
		drawImageProp(ctx, img, x, y, w, h, offsetX, offsetY) {

			if (arguments.length === 2) {
				x = y = 0;
				w = ctx.canvas.width;
				h = ctx.canvas.height;
			}

			// default offset is center
			offsetX = typeof offsetX === "number" ? offsetX : 0.5;
			offsetY = typeof offsetY === "number" ? offsetY : 0.5;

			// keep bounds [0.0, 1.0]
			if (offsetX < 0) offsetX = 0;
			if (offsetY < 0) offsetY = 0;
			if (offsetX > 1) offsetX = 1;
			if (offsetY > 1) offsetY = 1;

			var iw = img.width,
				ih = img.height,
				r = Math.min(w / iw, h / ih),
				nw = iw * r,   // new prop. width
			nh = ih * r,   // new prop. height
			cx, cy, cw, ch, ar = 1;

			// decide which gap to fill    
			if (nw < w) ar = w / nw;                             
			if (Math.abs(ar - 1) < 1e-14 && nh < h) ar = h / nh;  // updated
			nw *= ar;
			nh *= ar;

			// calc source rectangle
			cw = iw / (nw / w);
			ch = ih / (nh / h);

			cx = (iw - cw) * offsetX;
			cy = (ih - ch) * offsetY;

			// make sure source rectangle is valid
			if (cx < 0) cx = 0;
			if (cy < 0) cy = 0;
			if (cw > iw) cw = iw;
			if (ch > ih) ch = ih;

			// fill image in dest. rectangle
			ctx.drawImage(img, cx, cy, cw, ch,  x, y, w, h);
		}
	}
}
</script>

<style lang="scss">
.ub-wave{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1.0;
	&--filled{
		//
	}
}
</style>
