<template>
	<div class="ub-gallery-mosaic">
		<button class="ub-gallery-mosaic__image"
			:style="{ 'background-image': `url(${image})` }"
			:key="key"
			v-for="(image, key) in images"
			@click="onClick(key)"
		>
		</button>
		<button class="ub-gallery-mosaic__image ub-gallery-mosaic__image--more icon icon-add" @click="$emit('all')" v-if="more">
		</button>
	</div>
</template>

<script>
export default {
	props: {
		images: {
			type: Object,
			default: () => {}
		},
		more: {
			type: Boolean,
			default: true
		}
	},
	methods: {
		onClick(id) {
			this.$emit('click', id)
		}
	}
}
</script>

<style lang="scss">
.ub-gallery-mosaic{
	display: flex;
	flex-flow: row wrap;
	margin: 0 -4px;
	&__image{
		background-position: center;
		background-size: cover;
		cursor: pointer;
		width: 96px;
		margin: 4px;
		border: 0;
		padding: 0;
		outline: none;
		&:after{
			content: "";
			display: block;
			padding-top: 100%;
		}
		&--more{
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 300;
			font-size: 48px;
			background-color: white;
			color: $c-dark;
			transition: .3s $t-primary;
			&:hover{
				background-color: $c-dark;
				color: white;
			}
		}
	}
}
</style>
