<template>
	<div class="ub-gallery-slideshow"
		:class="{
			'ub-gallery-slideshow--dark': dark,
			'ub-gallery-slideshow--disabled': disabled
		}"
	>
		<div class="ub-container">
			<header class="ub-gallery-slideshow__header">
				<span class="ub-gallery-slideshow__title ub-title ub-title--serif" v-html="title">
				</span>
				<span class="ub-gallery-slideshow__subhead" v-html="subhead" v-if="subhead != ''">
				</span>
			</header>

			<ub-slideshow ref="slideshow"
				:pagination="false"
				:arrows="viewport != 'smartphone'"
				:dark="dark" :options="swiper"
				:caption="caption"
				v-if="images.length > 0"
			>
				<div class="ub-gallery-slideshow__slide" v-for="(image, index) in images" :key="index">
					<div class="ub-gallery-slideshow__image" :style="{ 'background-image': `url(${image.path})` }">
					</div>
					<footer class="ub-gallery-slideshow__footer">
						<span class="ub-gallery-slideshow__caption" v-html="image.description">
						</span>
					</footer>
				</div>
			</ub-slideshow>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	props: {
		images: {
			type: Array,
			default: () => []
		},
		title: {
			type: String,
			default: ''
		},
		subhead: {
			type: String,
			default: ''
		},
		dark: {
			type: Boolean,
			default: false
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		...mapGetters({
			viewport: 'getViewport'
		}),
	},

	mounted() {
		this.$nextTick(() => {
			if (this.$refs.slideshow.swiper)
				this.$refs.slideshow.swiper.update()
		})
	},

	data: vm => ({
		swiper: {
			slidesPerPage: 1,
			on: {
				click() {
					if (!vm.disabled)
						vm.$store.commit('openGallery', {
							title: vm.title,
							subhead: vm.subhead,
							index: this.clickedIndex,
							images: vm.images
						})
				},
				slideChange() {
					vm.caption = vm.images[this.activeIndex].description
				},
				init() {
					vm.caption = vm.images[this.activeIndex].description
				}
			}
		},
		caption: null
	})
}
</script>

<style lang="scss">
.ub-gallery-slideshow{
	position: relative;
	width: 100%;
	clear: both;
	height: 100%;
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 30px;
		@include grid-column(12);
	}
	&__title{
		@include grid-container;
	}
	&__subhead{
		font-size: 14px;
		text-transform: uppercase;
		position: relative;
		letter-spacing: 5px;
		&:before{
			content: "";
			width: 60px;
			height: 3px;
			background: black;
			position: absolute;
			top: 50%;
			right: 100%;
			margin-top: -1px;
			margin-right: 20px;
		}
	}
	&__slide{
		width: 100%;
	}
	&__image{
		background-position: center;
		background-size: cover;
		cursor: pointer;
		height: 100%;
	}
	&__caption{
		font-size: 14px;
		text-transform: uppercase;
		display: block;
		letter-spacing: 5px;
	}
	&__footer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
		min-height: 59px;
		box-sizing: border-box;
	}

	.ub-container{
		height: 100%;
		display: flex;
		flex-flow: column
	}

	.ub-slideshow{
		flex: 1 100%;
		display: flex;
		flex-flow: column;
		@include grid-column(12);
		&__footer{
			z-index: 20;
			position: relative;
			padding: 20px 0;
			flex-shrink: 0;
			flex-grow: 0;
			margin-top: 0;
		}
		&__container{
			flex: 1;
			height: 100%;
			width: 100%;
		}
	}

	&--dark{
		color: white;
		.ub-gallery-slideshow{
			&__subhead:before{
				background: white;
			}
		}
	}

	&--disabled{
		.ub-gallery-slideshow{
			&__image{
				cursor: default;
			}
		}
	}

	@include grid-media($smartphone-grid) {
		height: auto;
		.ub-gallery-slideshow{
			&__header{
				flex-flow: column;
				align-items: flex-start;
			}
			&__subhead{
				opacity: .5;
				font-size: 10px;
				letter-spacing: 3.6px;
				&:before{
					content: none;
				}
			}
			&__title{
				margin-bottom: 10px;
			}
			&__image{
				height: 180px;
			}
		}
	}
}
</style>
