<template>
	<div class="ub-property-location">
		<div class="ub-property-location__container">
			<span class="ub-title ub-title--serif">
				{{ $t('components.property.location.title') }}
			</span>

			<p class="ub-body ub-body--sm">
				{{ $t('components.property.location.text') }}
			</p>

			<div class="ub-property-location__icons" v-if="loaded">
				<ub-button-icon
					name="icon-bakery"
					size="md"
					:dark="true"
					:rounded="false"
					:class="{ 'is-active': current == 'bakeries' }"
					@click="show('bakeries')"
				>
					Padarias
				</ub-button-icon>

				<ub-button-icon
					name="icon-pub"
					size="md"
					:dark="true"
					:rounded="false"
					:class="{ 'is-active': current == 'pubs' }"
					@click="show('pubs')"
				>
					Bares
				</ub-button-icon>

				<ub-button-icon
					name="icon-shopping"
					size="md"
					:dark="true"
					:rounded="false"
					:class="{ 'is-active': current == 'shoppings' }"
					@click="show('shoppings')"
				>
					Shoppings
				</ub-button-icon>

				<ub-button-icon
					name="icon-drugstore"
					size="md"
					:dark="true"
					:rounded="false"
					:class="{ 'is-active': current == 'drugstores' }"
					@click="show('drugstores')"
				>
					Farmácias
				</ub-button-icon>

				<ub-button-icon
					name="icon-hospital"
					size="md"
					:dark="true"
					:rounded="false"
					:class="{ 'is-active': current == 'hospitals' }"
					@click="show('hospitals')"
				>
					Hospitais
				</ub-button-icon>

				<ub-button-icon
					name="icon-church"
					size="md"
					:dark="true"
					:rounded="false"
					:class="{ 'is-active': current == 'churchs' }"
					@click="show('churchs')"
				>
					Igrejas
				</ub-button-icon>

				<ub-button-icon
					name="icon-school"
					size="md"
					:dark="true"
					:rounded="false"
					:class="{ 'is-active': current == 'schools' }"
					@click="show('schools')"
				>
					Escolas
				</ub-button-icon>

				<ub-button-icon
					name="icon-gas"
					size="md"
					:dark="true"
					:rounded="false"
					:class="{ 'is-active': current == 'stations' }"
					@click="show('stations')"
				>
					Postos de Combustivel
				</ub-button-icon>
			</div>
		</div>

		<ub-map
			ref="map"
			class="ub-property-location__map"
			default="bakeries"
			:zoom="14"
			:center="center"
			:markers="markers"
		>
			<ub-button-icon name="icon-map" size="xl" :raised="true">
			</ub-button-icon>
		</ub-map>
	</div>
</template>

<script>
export default {
	props: {
		center: {
			type: Object,
			default: () => ({ lat: 0, lng: 0 })
		}
	},

	computed: {
		current() {
			return this.$refs.map.current
		}
	},

	data: () => ({
		loaded: false,
		markers: {
			bakeries: [
				{ lat: -7.135660, lng: -34.827414 },
				{ lat: -7.133190, lng: -34.825291 },
				{ lat: -7.136767, lng: -34.831983 },
				{ lat: -7.131401, lng: -34.830632 },
			],
			pubs: [
				{ lat: -7.132785, lng: -34.824219 },
				{ lat: -7.131103, lng: -34.828658 },
				{ lat: -7.134978, lng: -34.827693 },
			],
			shoppings: [
				{ lat: -7.134531, lng: -34.834428 },
				{ lat: -7.138308, lng: -34.822545 },
			],
			drugstores: [
				{ lat: -7.135447, lng: -34.828079 },
				{ lat: -7.136000, lng: -34.831983 },
				{ lat: -7.132807, lng: -34.825034 },
			],
			hospitals: [
				{ lat: -7.133594, lng: -34.829988 },
				{ lat: -7.135000, lng: -34.823468 },
			],
			churchs: [
				{ lat: -7.135617, lng: -34.827586 },
			],
			schools: [
				{ lat: -7.134765, lng: -34.831103 },
				{ lat: -7.136618, lng: -34.823511 },
				{ lat: -7.136447, lng: -34.831296 },
			],
			stations: [
				{ lat: -7.133786, lng: -34.823725 },
				{ lat: -7.131423, lng: -34.822117 },
				{ lat: -7.129804, lng: -34.830803 },
			]
		}
	}),

	mounted() {
		this.loaded = true
	},

	methods: {
		show(group) {
			this.$refs.map.toggle(group)
		}
	}
}
</script>

<style lang="scss">
.ub-property-location{
	background: $c-black;
	color: white;
	margin-bottom: 100px;
	position: relative;
	@include grid-container;
	&:before{
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100px;
		background: $c-pale-grey;
	}
	&__container{
		padding: 75px 0;
		@include grid-column(4);
		@include grid-push(1);
		.ub-body{
			font-size: 14px;
			opacity: .4;
			line-height: 21px;
		}
	}
	&__map{
		position: absolute;
		top: 70px;
		right: 0;
		bottom: -100px;
		@include grid-column(6);
	}
	&__icons{
		display: flex;
		flex-flow: row wrap;
		width: 300px;
	}
	.ub-button-icon{
		margin-right: 20px;
		margin-bottom: 30px;
		border-color: rgba(white, 0.1);
		&__text{
			opacity: 0;
			visibility: hidden;
			transition: .2s $t-primary;
		}
		&.is-active{
			border-color: white;
		}
		&:hover{
			.ub-button-icon{
				&__text{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	@include grid-media($smartphone-grid) {
		margin-bottom: 150px;
		.ub-property-location{
			&__title{
				display: block;
				margin-bottom: 20px;
			}
			&__container{
				padding: 50px 0 20px;
				overflow: hidden;
				@include grid-column(12);
			}
			&__icons{
				justify-content: space-between;
			}
			&__map{
				position: relative;
				margin-bottom: -150px;
				height: 300px;
				width: 80%;
				float: right;
				bottom: initial;
				top: initial;
				right: initial;
				margin-left: 0;
				.ub-button-icon{
					display: none;
				}
			}
		}
		.ub-body{
			margin-bottom: 30px;
		}
	}
}
</style>
