<template>
	<div class="ub-property-gallery"
		:class="{
			'ub-property-gallery--blueprints': blueprints
		}"
	>
		<span class="ub-property-gallery__title ub-title ub-title--serif">
			{{ title }}
		</span>

		<ub-slideshow :options="swiperSmartphone" :pagination="false" v-show="viewport == 'smartphone'">
			<div class="ub-property-gallery__image"
				v-for="(image, index) in images"
				:key="index"
				:style="{ 'background-image': `url(${image.path})` }"
			>
				<ub-button-icon name="icon-eye" :raised="true" size="xl">
				</ub-button-icon>
			</div>
		</ub-slideshow>

		<ub-slideshow :options="swiper" v-if="loaded && viewport != 'smartphone'">
			<div class="ub-property-gallery__slide"
				v-for="(slide, index) in slides"
				:key="index"
			>
				<div class="ub-property-gallery__left">
					<div class="ub-property-gallery__image"
						v-for="(image, index) in slide"
						v-if="index == 0"
						:key="index"
						:style="{ 'background-image': `url(${image.path})` }"
					>
						<ub-button-icon name="icon-eye" :raised="true" size="xl">
						</ub-button-icon>
					</div>
				</div>

				<div class="ub-property-gallery__right">
					<div class="ub-property-gallery__image"
						v-for="(image, index) in slide"
						v-if="index > 0"
						:key="index"
						:style="{ 'background-image': `url(${image.path})` }"
					>
						<ub-button-icon name="icon-eye" :raised="true" size="xl">
						</ub-button-icon>
					</div>
				</div>
			</div>
		</ub-slideshow>

		<transition name="fade-scale">
			<ub-modal v-if="active" @close="active = false" :dark="!blueprints">
				<ub-gallery-slideshow
					:title="title"
					:images="images"
					:disabled="true"
					:dark="!blueprints"
				>
				</ub-gallery-slideshow>
			</ub-modal>
		</transition>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	props: {
		title: {
			type: String,
			default: ''
		},
		images: {
			type: Array,
			default: () => []
		},
		blueprints: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		...mapGetters({
			viewport: 'getViewport'
		})
	},

	mounted() {
		let current = 0

		this.images.forEach((image, index) => {
			// Create index if doesn't exists
			if (!this.slides[current])
				this.slides[current] = []

			// Add image to current block
			this.slides[current].push(image)

			// If third image was reach, go to next block
			if ((index + 1) % 3 == 0)
				current++
		})

		this.loaded = true
	},

	data: vm => ({
		active: false,
		swiper: {
			spaceBetween: 25,
			slidesPerPage: 1,
			on: {
				click() {
					vm.active = true
				}
			}
		},
		swiperSmartphone: {
			spaceBetween: 30,
			slidesPerView: 'auto',
			centeredSlides: true,
			loop: true,
			on: {
				click() {
					vm.active = true
				}
			}
		},
		slides: [],
		loaded: false
	})
}
</script>

<style lang="scss">
.ub-property-gallery{
	&__title{
		margin-bottom: 20px;
		display: block;
	}
	&__slide{
		width: 100%;
		height: 600px;
		display: flex;
	}
	&__left{
		width: 68%;
		margin-right: 30px;
	}
	&__right{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 32%;
	}
	&__image{
		height: inherit;
		background-size: cover;
		background-position: center;
		position: relative;
		cursor: pointer;
		&:after{
			content: "";
			display: block;
			padding-top: 70%;
		}
		&:hover{
			.ub-button-icon{
				opacity: 1;
				transform: translate(-50%, -50%) scale(1.0);
			}
		}
		.ub-button-icon{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1.1);
			opacity: 0;
			transition: .3s $t-primary;
		}
	}

	&--blueprints{
		.ub-property-gallery{
			&__image{
				background-size: 60%;
				background-repeat: no-repeat;
				background-color: rgb(248, 249, 251);
			}
		}
		.ub-gallery-slideshow{
			&__image{
				background-size: 100%;
				background-repeat: no-repeat;
			}
		}
	}

	@include grid-media($smartphone-grid) {
		.ub-property-gallery{
			&__title{
				@include grid-column(12);
			}
			&__image{
				width: 70%;
				margin: 0;
			}
		}
	}
}
</style>
