<template>
	<div class="ub-property-extra">
		<div class="ub-container">
			<div class="ub-property-extra__wrapper">
				<span class="ub-property-extra__title ub-title ub-title--serif">
					{{ $t('components.property.extra.title') }}
				</span>

				<div class="ub-property-extra__items">
					<div class="ub-property-extra__group"
						v-for="(group, i) in groups"
						:key="i"
					>
						<span class="ub-property-extra__subtitle" @click="expand(i)">
							{{ group.extra_title }}
						</span>

						<template v-if="selected == null || selected == i">
							<span class="ub-property-extra__item"
								v-for="(item, k) in Object.values(group.items)"
								v-if="selected == i || k < 3"
								:key="k"
							>
								{{ item.extra_description }}
							</span>
						</template>

						<button class="ub-property-extra__more" @click="expand(i)" v-if="selected == null && Object.keys(group.items).length > 3">
							<span class="icon icon-add"></span>
							Ver mais
						</button>

						<button class="ub-property-extra__more" @click="shrink(i)" v-if="selected == i">
							<span class="icon icon-minus"></span>
							Ver menos
						</button>
					</div>
				</div>
			</div>

			<div class="ub-property-extra__image"
				:style="{ 'background-image': `url(${background})` }"
				>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		groups: {
			type: Array,
			default: () => []
		},
		background: {
			type: String,
			default: ''
		}
	},
	data: () => ({
		show: [],
		selected: null
	}),
	methods: {
		expand(key) {
			// this.show.push(key)
			this.selected = key
		},
		shrink(key) {
			this.selected = null

			/*let index = this.show.indexOf(key)

			if (index != -1)
				this.show.splice(index, 1)*/
		}
	}
}
</script>

<style lang="scss">
.ub-property-extra{
	display: flex;
	flex-flow: row wrap;
	margin: 90px 0;
	align-items: flex-start;
	position: relative;
	min-height: 500px;
	&__wrapper{
		padding: 0 30px;
		background: white;
		@include grid-column(4);
	}
	&__title{
		margin-bottom: 40px;
		display: block;
	}
	&__subtitle{
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 10px;
		display: inline-block;
		position: relative;
		cursor: pointer;
		&:after{
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			width: 0;
			background: $c-dark;
			height: 2px;
			transition: .3s $t-primary;
		}
		&:hover{
			&:after{
				width: 100%;
			}
		}
	}
	&__group{
		margin-bottom: 20px;
	}
	&__items{
	}
	&__item{
		display: block;
		font-size: 14px;
		line-height: 24px;
	}
	&__image{
		position: absolute;
		height: 460px;
		top: 60px;
		right: 0;
		left: 40%;
		background-color: rgba(black, .1);
		background-position: center;
		background-size: cover;
	}
	&__more{
		background: transparent;
		display: flex;
		align-items: center;
		padding: 0;
		border: 0;
		cursor: pointer;
		font-family: Open Sans;
		text-transform: uppercase;
		margin-top: 10px;
		font-size: 10px;
		font-weight: 700;
		color: rgba($c-dark, .7);
		outline: none;
		.icon{
			width: 20px;
			height: 20px;
			border-radius: 20px;
			background: $c-dark;
			color: white;
			line-height: 70%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin-right: 10px;
			font-size: 16px;
			transition: .3s $t-primary;
		}
		&:hover{
			.icon{
				transform: scale(1.1);
			}
		}
	}
	.ub-container{
		width: 100%;
	}

	@include grid-media($smartphone-grid) {
		margin: 0 0 60px;
		min-height: initial;
		.ub-property-extra{
			&__wrapper{
				background: transparent;
				padding: 0;
				margin-bottom: 30px;
				@include grid-column(12);
			}
			&__title{
				margin-top: 30px;
				margin-bottom: 0;
			}
			&__image{
				width: 100%;
				flex: 0 100%;
				height: 230px;
				margin-top: 30px;
				position: static;
				clear: both;
			}
			&__items{
			}
		}
	}
}
</style>
