<template>
	<div class="ub-property-progress">
		<div class="ub-andamento__porcentagem">
			<div class="ub-andamento__porcentagem-collapse">
				<div class="ub-andamento__porcentagem-collapse__box">
					<ul>
						<li v-for="(item, index) in progress" :key="`progress-${index}`">
							<h4>{{ item.progress_title }}</h4>
							<p>{{ item.progress_total }}%</p>
							<span :style="{ width: `${item.progress_total}%` }"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		progress: {
			type: Array,
			default: () => ([])
		}
	}
}
</script>

<style lang="scss">
.ub-property-progress{
}

.ub-andamento{
	&__porcentagem{
		@include grid-column(12);
		margin-top: 100px;
		&-collapse{
			@include grid-collapse;
			&__box{
				@include grid-column(6);
				ul{
					list-style: none;
					margin: 0;
					padding: 0;
					li{
						position: relative;
						display: flex;
				    	flex-flow: row wrap;
				    	justify-content: space-between;
				    	padding: 10px 0;
    					margin-bottom: 15px;
				    	h4{
				    		margin: 0;
				    	}
				    	span{
				    		position: absolute;
				    		height: 2.5px;
				    		background: black;
				    		bottom: -0.75px;
				    		left: 0;
				    	}
				    	&:after{
				    		content: "";
				    		position: absolute;
				    		width: 100%;
				    		height: 1px;
				    		background: rgba(black, .2);
				    		bottom: 0;
				    		left: 0;
				    	}
					}
				}
			}
		}
	}
}
</style>
