<template>
	<div class="ub-property-stage">
		<span class="ub-property-stage__title ub-title ub-title--serif">
			Andamento da Obra
		</span>

		<nav class="ub-property-stage__nav">
			<div class="ub-property-stage__group" v-for="(stages, key) in years">
				<button class="ub-property-stage__year" @click="year = key">
					{{ key }}
				</button>
				<ub-accordion class="ub-property-stage__accordion" :active="year == key">
					<div>
						<button class="ub-property-stage__month" v-for="stage in stages" @click="selected = stage">
							{{ stage.month | month }}
						</button>
					</div>
				</ub-accordion>
			</div>
		</nav>

		<ub-gallery-mosaic
			class="ub-property-stage__gallery"
			v-if="selected"
			:images="images"
			:more="false"
			@click="onImageClick"
		>
		</ub-gallery-mosaic>

		<p class="ub-property-stage__description ub-body" v-if="selected">
			{{ selected.description }}
		</p>
	</div>
</template>

<script>
import month from '@/filters/month'

export default {
	props: {
		stages: {
			type: Array,
			default: () => ([])
		}
	},

	filters: {
		month: month
	},

	computed: {
		images() {
			let images = {}

			if (this.selected)
				this.selected.gallery.forEach((image, index) => {
					images[index] = image.path
				})

			return images
		},

		years() {
			let groups = {}

			this.stages.forEach(stage => {
				if (!groups[stage.year])
					groups[stage.year] = []

				groups[stage.year].push(stage)
			})

			return groups
		}
	},

	data: () => ({
		selected: null,
		modal: false,
		year: null
	}),

	mounted() {
		this.selected = this.stages[0]
		this.year = this.selected.year
	},

	methods: {
		onImageClick(index) {
			this.$store.commit('openGallery', {
				title: 'test',
				subhead: '',
				index: index,
				images: this.selected.gallery
			})
		}
	}
}
</script>

<style lang="scss">
.ub-property-stage{
	&__title{
		margin-bottom: 40px;
		@include grid-column(12);
	}
	&__nav{
		@include grid-column(2);
	}
	&__group{
		margin-bottom: 10px;
	}
	&__year{
		background: transparent;
		border: 0;
		font-weight: 600;
		font-family: Open Sans;
		font-size: 12px;
		display: block;
		line-height: 24px;
		cursor: pointer;
		padding: 0;
		outline: none;
	}
	&__month{
		background: transparent;
		border: 0;
		font-weight: 400;
		font-size: 10px;
		letter-spacing: 2px;
		text-transform: uppercase;
		display: block;
		line-height: 24px;
		font-family: Open Sans;
		cursor: pointer;
		padding: 0;
		outline: none;
	}
	&__gallery{
		@include grid-column(4);
	}
	&__description{
		@include grid-push(1);
		@include grid-column(4);
	}
}
</style>
