<template>
	<div class="ub-property-datasheet" :style="{ 'background-image': `url(${background})` }">
		<div class="ub-container">
			<div class="ub-property-datasheet__container">
				<div class="ub-property-datasheet__wrapper">
					<span class="ub-property-datasheet__title ub-title ub-title--serif">
						{{ $t('components.property.datasheet.title') }}
					</span>

					<span class="ub-property-datasheet__item"
						:key="index"
						v-for="(item, index) in list"
					>
						{{ item.datasheet_name }}
					</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		list: {
			type: Array,
			default: () => []
		},
		background: {
			type: String,
			default: ''
		}
	}
}
</script>

<style lang="scss">
.ub-property-datasheet{
	padding-bottom: 100px;
	margin-top: 150px;
	min-height: 500px;
	background-size: cover;
	background-position: center;
	background-color: rgba(black, .1);
	@include grid-container;
	&__container{
		@include grid-collapse;
	}
	&__wrapper{
		background: white;
		padding: 60px 60px;
		box-sizing: border-box;
		box-shadow: 0 0 60px rgba(black, .2);
		transform: translate(0, -100px);
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		@include grid-column(9);
	}
	&__title{
		margin-bottom: 40px;
		display: block;
		width: 100%;
	}
	&__item{
		display: block;
		padding: 8px 0;
		line-height: 25px;
		font-size: 18px;
		padding-right: 20px;
		box-sizing: border-box;
		flex: 0 50%;
	}

	@include grid-media($smartphone-grid) {
		min-height: initial;
		padding: 30px;
		box-sizing: border-box;
		margin: 30px 0 0 !important;
		background: transparent !important;
		.ub-property-datasheet{
			&__container{
				padding: 0;
				box-sizing: border-box;
				transform: none;
				box-shadow: 10px 49px 70px 0 rgba(0, 0, 0, 0.1);
			}
			&__wrapper{
				transform: none;
				padding: 30px;
				@include grid-column(12);
			}
			&__title{
				margin-bottom: 20px;
			}
			&__item{
				font-size: 14px;
				line-height: 28px;
				letter-spacing: -.2px;
				flex: 0 100%;
			}
		}
	}
}
</style>
