title = "Urban"
url = "/"
==
function onStart() {
	$this->addCss('dist/css/app.css');
	$this->addJs('dist/js/app.js');

	$this->addCss('dist/chunk-vendors.css');
	$this->addJs('dist/chunk-vendors.js');
}
==
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="icon" href="{{ 'dist/favicon.png' | theme }}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Playfair+Display:400,700" rel="stylesheet">
    <title>Urban</title>
		{% styles %}

  </head>
  <body>
    <noscript>
      <strong>We're sorry but urban doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
		{% scripts %}
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/cc6367ee-407f-4039-bb38-b13ac7522878-loader.js"></script>
  </body>
</html>
