<template>
  <div id="app" class="hnsn-app">
    <header class="hnsn-app__header clearfix">
      <div class="center-content">
        <h1 class="hnsn-app__header-logo">
          <router-link :to="{ name: 'home' }">
            <img class="logo-mobile" :src="logo" alt="HNSN" />
            <img class="logo-desktop" :src="logo2x" alt="HNSN" />
          </router-link>
        </h1>

        <button
          class="hnsn-app__header-menu"
          :class="{ 'active': menu === true }"
          @click="toggleMenu"
        >
          <i class="cicon icon-menu"></i>
          <i class="cicon icon-close"></i>
        </button>

        <a
          href="https://api.whatsapp.com/send?phone=5583998310303&text=Olá, estou com um problema de saúde!"
          class="hnsn-app__header-whatsapp"
          title="Fale conosco no WhatsApp"
          rel="nofollow"
        >
          <i class="cicon icon-whatsapp"></i>
        </a>
				<a href="tel:35659000" class="hnsn-app__header-telefone" title="Telemedicina" rel="nofollow">
					<i class="cicon icon-phone-mob"></i>
				</a>

        <div class="hnsn-app__header-info">
          <ul class="hnsn-app__header-info-list">
            <li class="hnsn-app__header-info-list-item clearfix">
              <i class="cicon icon-clock"></i>
              <div class="item-content">
                <b>Atendimento 24h</b>
                Aberto todos os dias
                <br />(83) 3565-9000
              </div>
            </li>
            <li class="hnsn-app__header-info-list-item clearfix">
              <i class="cicon icon-phone"></i>
              <div class="item-content">
                <b>Fale Conosco</b>

                <a
                  href="https://api.whatsapp.com/send?phone=5583998310303"
                  style="text-decoration: none; color: #909090"
                >+55 (83) 99831-0303</a>
                <br />
07h às 22h
              </div>
            </li>
            <li class="hnsn-app__header-info-list-item clearfix">
              <a
                href="https://www.google.com/maps/place/Hospital+Nossa+Senhora+das+Neves/@-7.1326479,-34.8611145,17z/data=!3m1!4b1!4m5!3m4!1s0x7acc2a627b64539:0xfe91c4f803ab27a2!8m2!3d-7.1326479!4d-34.8589258"
                style="text-decoration: none; color: #909090"
                target="_blank"
              >
                <i class="cicon icon-location"></i>
                <div class="item-content">
                  <b>R. Etelvina Macedo de Mendonça, 531</b>
                  Torre, João Pessoa - PB
                  <br />58040-530
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <nav class="hnsn-app__menu" style="z-index: 10" :class="{ 'active': menu === true }">
      <div class="center-content">
        <ul class="hnsn-app__menu-list">
          <li class="hnsn-app__menu-list-item">
            <router-link :to="{ name: 'home' }" @click.native="toggleMenu">Home</router-link>
          </li>
          <li class="hnsn-app__menu-list-item">
            <router-link :to="{ name: 'quem-somos' }" @click.native="toggleMenu">Quem Somos</router-link>
          </li>
          <li class="hnsn-app__menu-list-item">
						<a href="http://telemedicina.hnsn.com.br/" target="_blank">
							Telemedicina
						</a>
					</li>

          <li class="hnsn-app__menu-list-item">
            <!-- <div class="dropdown">
              <button class="dropbtn">Especialidades e Médicos</button>
              <div class="dropdown-content">
                <router-link
                  :key="'espeHeader'+item.id" v-for="item in especialidades"
                  :to="{ name: 'detalhes', params: {slug: item.slug, id: item.id } }"
                  @click.native="toggleMenu"
                > {{item.name}} </router-link>
              </div>
            </div> -->

            <router-link :to="{ name: 'detalhes', params: {slug: 'anestesia', id: '12' }}" @click.native="toggleMenu">
							Especialidades e Médicos
            </router-link>
          </li>
          <li class="hnsn-app__menu-list-item">
            <router-link :to="{ name: 'servicos' }" @click.native="toggleMenu">Serviços</router-link>
          </li>
          <li class="hnsn-app__menu-list-item">
            <router-link :to="{ name: 'convenios' }" @click.native="toggleMenu">Convênios</router-link>
          </li>
          <li class="hnsn-app__menu-list-item">
            <router-link :to="{ name: 'noticias' }" @click.native="toggleMenu">Notícias</router-link>
          </li>
          <li class="hnsn-app__menu-list-item">
            <router-link :to="{ name: 'acesso' }" @click.native="toggleMenu">Acesso Médico</router-link>
          </li>
        </ul>

        <!--button class="hnsn-app__menu-search-toggle" @click="toggleSearch">
					<i class="cicon icon-search"></i>
        </button-->

        <!--form class="hnsn-app__menu-search clearfix" :class="{ 'active': search === true }" method="" action="">
					<input class="hnsn-app__menu-search-input" type="text" name="search" placeholder="Digite sua busca">
					<button type="submit" class="hnsn-app__menu-search-button">
						<span class="label">Buscar</span>
					</button>
        </form-->
      </div>
    </nav>

    <div class="hnsn-app__view">
      <router-view />
    </div>
    <div
      @mouseleave="showOnHover = false;isHoveringPatient = true; isHoveringDoctor = false"
      class="hnsn-app__access"
    >
      <div v-bind:class="{ 'active__menu': showOnHover }" class="content-holder">
        <p class="title">Acesso Rápido</p>
        <div v-if="isHoveringDoctor" class="medic-access">
          <router-link :to="{ name: 'acesso' }" @click.native="toggleMenu">
            <i class="cicon icon-acesso-medico-r"></i>
            <span>Acesso Médico</span>
          </router-link>
          <a href="https://pacs.hnsn.com.br/portalexames/client/">
            <i class="cicon icon-portal-de-exames-r"></i>
            <span>Portal de Exames</span>
          </a>
          <router-link :to="{ name: 'acesso-form' }" @click.native="toggleMenu">
            <i class="cicon icon-formulario-medico-r"></i>
            <span>Formulário Médico</span>
          </router-link>
          <a href="https://api.whatsapp.com/send?phone=5583998310303">
            <i class="cicon icon-fale-conosco-r"></i>
            <span>
              Fale Conosco
              <small>+55 (83) 3565.9000</small>
            </span>
          </a>
        </div>
        <div v-if="isHoveringPatient" class="client-access">
          <a href="https://pacs.hnsn.com.br/portalexames/client/" target="_blank">
            <i class="cicon icon-resultado-de-exames-r"></i>Resultado de Exames
          </a>
          <router-link :to="{ name: 'internacional' }" @click.native="toggleMenu">
            <i class="cicon icon-paciente-internacional-r"></i>Paciente Internacional
          </router-link>
          <router-link :to="{ name: 'ouvidoria' }" @click.native="toggleMenu">
            <i class="cicon icon-ouvidoria-r"></i>Ouvidoria
          </router-link>
          <router-link :to="{ name: 'especialidades-e-medicos' }" @click.native="toggleMenu">
            <i class="cicon icon-especialidades-e-medicos-r"></i>Especialidades e médicos
          </router-link>
          <a
            href="https://docs.google.com/spreadsheets/d/11gHcqDrwIhavgt1F7f1JhIZ_OmfDRNvdETMWN9Yilv0/edit#gid=166295651"
          >
            <i class="cicon icon-portal-de-exames-r"></i>Solicitar Orçamento
          </a>
          <a href="https://api.whatsapp.com/send?phone=5583998310303">
            <i class="cicon icon-fale-conosco-r"></i>Fale Conosco
            <small>+55 (83) 3565.9000</small>
          </a>
        </div>
      </div>

      <div @mouseover="showOnHover = true" class="row">
        <button
          @mouseover="isHoveringPatient = true;isHoveringDoctor = false"
          class="btn__pacientes"
        >
          <i class="cicon icon-user-o"></i>Pacientes
        </button>
        <button @mouseover="isHoveringDoctor = true;isHoveringPatient = false" class="btn__medicos">
          <i class="cicon icon-doctor-o"></i>Médicos
        </button>
      </div>
    </div>

    <footer class="hnsn-app__footer">
      <div class="center-content">
        <div class="hnsn-app__footer-widget widget-copy w12">
          <img :src="logoFooter" alt="HNSN" />
          <div class="hnsn-app__footer-widget-copy">© 2019</div>
        </div>

        <div class="hnsn-app__footer-widget widget-menu w18">
          <nav class="hnsn-app__footer-widget-menu">
            <ul class="hnsn-app__footer-widget-menu-list">
              <li class="hnsn-app__footer-widget-menu-list-item">
                <b>O Hospital</b>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item">
                <a href="https://hnsn.com.br/quem-somos" title="Quem Somos">Quem Somos</a>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item">
                <a href="https://hnsn.com.br#convenios" title="Convênios">Convênios</a>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item">
                <a
                  href="https://hnsn.gupy.io/"
                  target="_blank"
                  title="Trabalhe Conosco"
                >Trabalhe Conosco</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="hnsn-app__footer-widget widget-menu w29">
          <nav class="hnsn-app__footer-widget-menu">
            <ul class="hnsn-app__footer-widget-menu-list">
              <li class="hnsn-app__footer-widget-menu-list-item">
                <b>Diferenciais</b>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item">
                <a href="https://hnsn.com.br/servicos" title="Centro Cirurgico">Centro Cirurgico</a>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item">
                <a
                  href="https://hnsn.com.br/servicos"
                  title="Centro de Diagnóstico e Imagem 24h"
                >Centro de Diagnóstico e Imagem 24h</a>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item">
                <a href="https://hnsn.com.br/servicos" title="Consultórios">Consultórios</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="hnsn-app__footer-widget widget-menu w23">
          <nav class="hnsn-app__footer-widget-menu">
            <ul class="hnsn-app__footer-widget-menu-list">
              <li class="hnsn-app__footer-widget-menu-list-item">
                <b>Especialidades</b>
              </li>
              <li
                class="hnsn-app__footer-widget-menu-list-item"
                v-for="(item, index) in especialidades.slice(0, 6)"
                :key="`especialidade-${index}`"
              >
                <router-link
                  :to="{ name: 'medicos', params: { slug: item.slug } }"
                  :title="item.name"
                >{{item.name}}</router-link>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item">
                <a href="https://hnsn.com.br/especialidades-e-medicos" title="Consultórios">Ver Mais</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="hnsn-app__footer-widget widget-mobile">
          <nav class="hnsn-app__footer-widget-menu">
            <ul class="hnsn-app__footer-widget-menu-list">
              <!-- <li class="hnsn-app__footer-widget-menu-list-item">
								<a class="clearfix" href="" title="Perguntas Frequentes">
									<i class="cicon icon-faq-w"></i> Perguntas Frequentes
								</a>
              </li>-->
              <li class="hnsn-app__footer-widget-menu-list-item">
                <a
                  class="clearfix"
                  href="https://hnsn.gupy.io/"
                  title="Trabalhe Conosco"
                >Trabalhe Conosco</a>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item">
                <a
                  class="clearfix"
                  href="https://api.whatsapp.com/send?phone=5583998310303"
                  rel="nofollow"
                  title="Fale conosco no WhatsApp"
                >
                  <i class="cicon icon-whatsapp-w"></i> (83) 9 9831-0303
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="hnsn-app__footer-widget widget-social w18">
          <nav class="hnsn-app__footer-widget-menu">
            <ul class="hnsn-app__footer-widget-menu-list">
              <li class="hnsn-app__footer-widget-menu-list-item">
                <b>Redes Sociais</b>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item inline-item">
                <a
                  target="_blank"
                  href="https://www.instagram.com/hnsnoficial/"
                  title="Instagram"
                  rel="nofollow"
                >
                  <i class="cicon icon-instagram-w"></i>
                </a>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item inline-item">
                <a
                  target="_blank"
                  href="https://www.facebook.com/hnsnoficial/"
                  title="Facebook"
                  rel="nofollow"
                >
                  <i class="cicon icon-facebook-w"></i>
                </a>
              </li>
              <li class="hnsn-app__footer-widget-menu-list-item inline-item">
                <a
                  target="_blank"
                  href="https://www.youtube.com/channel/UCDWzuMd1nqd73ddBHexP-ig"
                  title="YouTube"
                  rel="nofollow"
                >
                  <i class="cicon icon-youtube-w"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="hnsn-app__selos">
          <img :src="require('@/assets/images/selos.png')" />
        </div>

        <div class="hnsn-app__footer-widget widget-partner full-width clearfix">
          <a
            target="_blank"
            href="https://www.qualitare.com"
            title="Feito com Qualitare"
            rel="nofollow"
          >
            <img :src="qualitare" alt="Feito com Qualitare" />
          </a>

          <button @click="topFunction">
            <i class="cicon icon-top"></i>
          </button>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import store from "@/store";
import {mapGetters} from 'vuex'

export default {
  beforeRouteEnter(to, from, next) {
    store.dispatch('especialidades/fetchEspecialidades')
      .then(especialidades => {
				next(vm => {
					vm.especialidades = especialidades
				})
	  })
  },

  data: () => ({
    menu: false,
    search: false,
    isHoveringDoctor: false,
    isHoveringPatient: true,
    showOnHover: false,
    logo: require("@/assets/images/logo.svg"),
    logo2x: require("@/assets/images/logo2x.svg"),
    logoFooter: require("@/assets/images/logo-footer.svg"),
    qualitare: require("@/assets/images/qualitare.svg"),
    especialidades: [],
  }),
  computed: {
        ...mapGetters({
			//
    }),

  },
  methods: {
    toggleMenu() {
      this.menu = !this.menu;
    },

    toggleSearch() {
      this.search = !this.search;
    },

    topFunction() {
      console.log("top");
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    },
  },
};
</script>

<style lang="scss">
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 13px;
  opacity: 0.9;
  color: #222;
  transition: 0.2s ease-in-out;
  padding: 16px 24px;
  /* background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none; */
  @include grid-media($desktop-grid) {
    padding: 0;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 11 !important;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 210px;
  z-index: -1;
  padding: 50px 20px 20px 20px;
  top: -15px;
  left: -40px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 3px solid #009cde;
  box-sizing: border-box;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.06);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 8px 30px !important;
  /* width: 50%; */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #009cde;
}

.hnsn-app {
  &__footer {
    .center-content {
      position: relative;
    }
  }
  &__selos {
    width: 560px;
    position: absolute;
    bottom: 130px;
    left: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
}
</style>
