<template>
	<div class="ub-nav-currency"
		:class="{
			'ub-nav-currency--dark': dark
		}"
	>
		<span class="ub-nav-currency__title">
			{{ $t('components.nav.currency.title') }}
		</span>

		<div class="ub-nav-currency__buttons">
			<button class="ub-nav-currency__button" @click="onChange('USD')" :class="{ 'is-active': value == 'USD' }">
				$
			</button>
			<button class="ub-nav-currency__button" @click="onChange('EUR')" :class="{ 'is-active': value == 'EUR' }">
				€
			</button>
			<button class="ub-nav-currency__button" @click="onChange('GBP')" :class="{ 'is-active': value == 'GBP' }">
				£
			</button>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		dark: {
			type: Boolean,
			default: false
		},
		value: {
			type: String,
			default: 'USD'
		}
	},

	methods: {
		onChange(value) {
			this.$emit('input', value)
		}
	}
}
</script>

<style lang="scss">
.ub-nav-currency{
	color: $c-dark;
	text-align: center;
	&__title{
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 2px;
		margin-bottom: 15px;
		display: block;
	}
	&__buttons{
	}
	&__button{
		color: white;
		border: 1px solid $c-dark;
		border-radius: 6px;
		display: inline-block;
		width: 32px;
		height: 32px;
		cursor: pointer;
		outline: none;
		font-size: 16px;
		background: transparent;
		color: $c-dark;
		margin: 0 4px;
		font-weight: 600;
		transition: .3s $t-primary;
		&.is-active{
			background: $c-dark;
			color: white;
		}
	}

	&--dark{
		color: white;
		.ub-nav-currency{
			&__button{
				border-color: white;
				color: white;
				&.is-active{
					background: white;
					color: $c-dark;
				}
			}
		}
	}
}
</style>
