<template>
	<nav class="ub-nav-list">
		<slot></slot>
	</nav>
</template>

<script>
export default {
	
}
</script>

<style lang="scss">
.ub-nav-list{
	a,
	button{
		color: #cfcfd0;
		font-size: 24px;
		letter-spacing: inherit;
		padding: 10px 0;
		width: 100%;
		background: transparent;
		cursor: pointer;
		text-align: left;
		border: 0;
		font-weight: 700;
		display: block;
		text-decoration: none;
		transition: color .3s $t-primary;
		white-space: nowrap;
		&.router-link-exact-active{
			color: $c-black;
		}
		&:hover{
			color: $c-dark;
		}
	}

	@include grid-media($large-desktop-grid){
		a,
		button{
			font-size: 32px;
		}
	}
}
</style>
