<template>
	<nav class="ub-nav-lang">
		<span class="ub-nav-lang__label">
			Idioma / Language:
		</span>

		<div class="ub-nav-lang__options">
			<button class="ub-nav-lang__option" :class="{ 'is-active': value == 'pt' }" @click="onChange('pt')">
				<img :src="portuguese">
			</button>
			<button class="ub-nav-lang__option" :class="{ 'is-active': value == 'en' }" @click="onChange('en')">
				<img :src="english">
			</button>
		</div>
	</nav>
</template>

<script>
export default {
	props: {
		value: {
			type: String,
			default: 'pt'
		}
	},
	data: () => ({
		portuguese: require('../../assets/images/flag-brazil.png'),
		english: require('../../assets/images/flag-usa.png'),
	}),
	methods: {
		onChange(value) {
			this.$emit('input', value)
		}
	}
}
</script>

<style lang="scss">
.ub-nav-lang{
	display: flex;
	align-items: center;
	&__label{
		font-size: 11px;
		color: $c-loblolly;
	}
	&__options{
		margin-left: 10px;
	}
	&__option{
		padding: 1px;
		border-radius: 4px;
		background: transparent;
		outline: none;
		cursor: pointer;
		border: 1px solid transparent;
		margin-left: 10px;
		cursor: pointer;
		img{
			width: 32px;
			height: auto;
			float: left;
		}
		&.is-active{
			border-color: $c-loblolly;
		}
	}
}
</style>
