<template>
	<nav class="ub-nav-social"
		:class="[
			`ub-nav-social--${direction}`,
			{ 'ub-nav-social--compressed': compressed }
		]"
	>
		<ub-button-icon v-if="face" name="icon-facebook" :size="size" :dark="dark" @click="$emit('facebook')">
		</ub-button-icon>
		<ub-button-icon v-if="twiter" name="icon-twitter" :size="size" :dark="dark" @click="$emit('twitter')">
		</ub-button-icon>
		<ub-button-icon v-if="insta" name="icon-instagram" :size="size" :dark="dark" @click="$emit('instagram')">
		</ub-button-icon>
	</nav>
</template>

<script>
export default {
	props: {
		direction: {
			type: String,
			default: 'horizontal'
		},
		dark: {
			type: Boolean,
			default: false
		},
		size: {
			type: String,
			default: 'xs'
		},
		face: {
			type: Boolean,
			default: true
		},
		twiter: {
			type: Boolean,
			default: true
		},
		insta: {
			type: Boolean,
			default: true
		}
	},
	data: () => ({
		compressed: false
	}),
	methods: {
		toggle() {
			this.compressed = true

			if (this.direction == 'horizontal') {
				setTimeout(() => {
					this.$emit('update:direction', 'vertical')
					this.compressed = false
				}, 300)
			} else {
				setTimeout(() => {
					this.$emit('update:direction', 'horizontal')
					this.compressed = false
				}, 300)
			}
		}
	}
}
</script>

<style lang="scss">
.ub-nav-social{
	display: flex;
	align-items: center;
	width: 28px;
	height: 28px;
	position: relative;
	.ub-button-icon{
		position: absolute;
		background: white;
		transition: .3s $t-primary .25s;
	}
	&--horizontal{
		.ub-button-icon{
			&:nth-child(1){
				bottom: 0;
				left: 0;
			}
			&:nth-child(2){
				bottom: 0;
				left: 40px;
			}
			&:nth-child(3){
				bottom: 0;
				left: 80px;
			}
		}

		@include grid-media($tablet-grid) {
			&.ub-nav-social--compressed{
				.ub-button-icon{
					left: 0;
				}
			}
		}
		@include grid-media($desktop-grid) {
			&.ub-nav-social--compressed{
				.ub-button-icon{
					left: 0;
				}
			}
		}
	}
	&--vertical{
		.ub-button-icon{
			&:nth-child(1){
				bottom: 0;
				left: 0;
			}
			&:nth-child(2){
				bottom: 32px;
				left: 0;
			}
			&:nth-child(3){
				bottom: 64px;
				left: 0;
			}
		}

		@include grid-media($tablet-grid) {
			&.ub-nav-social--compressed{
				.ub-button-icon{
					bottom: 0;
				}
			}
		}
		@include grid-media($desktop-grid) {
			&.ub-nav-social--compressed{
				.ub-button-icon{
					bottom: 0;
				}
			}
		}
	}
}
</style>
