<template>
	<nav class="ub-nav-tabs" @click="update">
		<slot></slot>

		<span class="ub-nav-tabs__underline">
		</span>
	</nav>
</template>

<script>
import { TweenMax, Power1, Power2, Elastic } from 'gsap/TweenMax'

export default {
	data: () => ({
		delay: 100,
	}),

	mounted() {
		this.update()
	},

	methods: {
		update() {
			setTimeout(() => {
				let active = this.$el.querySelector('.router-link-active'),
					underline = this.$el.querySelector('.ub-nav-tabs__underline'),
					left = active.offsetLeft,
					width = left + active.clientWidth,
					right = this.$el.clientWidth - width,
					direction = underline.offsetLeft < left ? -1 : 1

				TweenMax.to(underline, direction == 1 ? .75 : 1, { left, ease: Power2.easeInOut })
				TweenMax.to(underline, direction == 1 ? 1 : .75, { right, ease: Power2.easeInOut })
			}, this.delay)
		}
	}
}
</script>

<style lang="scss">
.ub-nav-tabs{
	display: flex;
	position: relative;
	background: white;
	> a,
	> button{
		flex: 1;
		height: 100px;
		background: transparent;
		border: 0;
		outline: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		cursor: pointer;
		font-weight: 700;
		color: $c-dark;
		opacity: .3;
		&.router-link-active,
		&.is-active{
			opacity: 1;
		}
	}
	&__underline{
		height: 4px;
		position: absolute;
		bottom: 0;
		background: $c-dark;
	}

	@include grid-media($smartphone-grid) {
		> a,
		> button{
			height: 50px;
			font-size: 14px;
		}
	}
}
</style>
